n8n/03_compact_full.json
{"nodes":[{"parameters":{"rule":{"interval":[{}],"triggerTimes":{"hour":9,"minute":0}}},"id":"node-001","name":"Daily 09:00 JST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[460,300]},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, slug, genre, tone, style_summary,\n       target_total_words, daily_word_count,\n       auto_publish, quality_threshold, max_revise_count\nFROM projects\nWHERE status = 'active'\nORDER BY created_at\nLIMIT 1;"},"id":"node-002","name":"Load Active Project","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,300],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isNotEmpty"}]}},"id":"node-003","name":"Active Project Found?","type":"n8n-nodes-base.if","typeVersion":1,"position":[900,300]},{"parameters":{"content":"## No active project\n\nAll projects are either paused, completed, or in draft status.\nActivate a project to start daily generation.","height":120,"width":400},"id":"node-003b","name":"No Active Project Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,160]},{"parameters":{"operation":"executeQuery","query":"SELECT cp.id, cp.sequence, cp.title, cp.plot_goals, cp.summary,\n       cp.target_word_count, cp.arc_stage, cp.characters_involved,\n       cp.locations_involved, cp.major_events\nFROM chapter_plans cp\nWHERE cp.project_id = $1\n  AND cp.status = 'planned'\nORDER BY cp.sequence\nLIMIT 1;","additionalFields":{"values":[{"name":"1","value":"={{ $('Load Active Project').first().json.id }}"}]}},"id":"node-004","name":"Select Next Chapter Plan","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[900,460],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isNotEmpty"}]}},"id":"node-005","name":"Chapter Plan Found?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,460]},{"parameters":{"content":"## No chapter plan found\n\nAll planned chapters have been processed.\nRun the Weekly Arc Planner to generate new chapter plans.","height":120,"width":400},"id":"node-005b","name":"No Plan Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1340,320]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO generation_jobs (project_id, chapter_plan_id, job_date, job_type, status)\nVALUES ($1, $2, CURRENT_DATE, 'initial_generation', 'acquired')\nON CONFLICT (project_id, chapter_plan_id, job_date)\nDO NOTHING\nRETURNING id, job_date, status;","additionalFields":{"values":[{"name":"1","value":"={{ $('Load Active Project').first().json.id }}"},{"name":"2","value":"={{ $('Select Next Chapter Plan').first().json.id }}"}]}},"id":"node-006","name":"Acquire Lock","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1120,620],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isNotEmpty"}]}},"id":"node-007","name":"Lock Acquired?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1340,620]},{"parameters":{"content":"## Already Generated Today\n\nThis chapter_plan has already been processed today.\nIdempotent lock prevented duplicate generation.","height":120,"width":400},"id":"node-007b","name":"Already Generated Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1560,500]},{"parameters":{"operation":"executeQuery","query":"-- Load project config + system settings\nSELECT key, value FROM system_settings;\n\n-- Load recent chapter summaries (last 5)\nSELECT id, sequence, title, summary, word_count, created_at\nFROM chapters\nWHERE project_id = $1 AND status IN ('final', 'published')\nORDER BY sequence DESC\nLIMIT 5;\n\n-- Load active style guide\nSELECT * FROM style_guides\nWHERE project_id = $1 AND is_active = true\nLIMIT 1;\n\n-- Load hard canon rules\nSELECT * FROM canon_rules\nWHERE project_id = $1 AND rule_type = 'hard';\n\n-- Load soft canon rules\nSELECT * FROM canon_rules\nWHERE project_id = $1 AND rule_type = 'soft';","additionalFields":{"values":[{"name":"1","value":"={{ $('Load Active Project').first().json.id }}"}]}},"id":"node-008","name":"Load Project Config","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1340,780],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"operation":"executeQuery","query":"-- Load characters involved in this chapter\nSELECT c.*\nFROM characters c\nWHERE c.project_id = $1\n  AND (\n    c.name = ANY($2::text[])\n    OR c.role IN ('protagonist', 'antagonist')\n  );\n\n-- Load character states for involved characters\nSELECT cs.*\nFROM character_states cs\nJOIN characters c ON cs.character_id = c.id\nWHERE cs.project_id = $1\n  AND c.name = ANY($2::text[])\nORDER BY cs.created_at DESC;\n\n-- Load locations for this chapter\nSELECT * FROM locations\nWHERE project_id = $1\n  AND name = ANY($3::text[]);\n\n-- Load all active plot threads\nSELECT * FROM plot_threads\nWHERE project_id = $1\n  AND arc_status = 'active';\n\n-- Load unresolved foreshadowing\nSELECT * FROM foreshadowing\nWHERE project_id = $1\n  AND status IN ('introduced', 'reinforced');\n\n-- Load recent timeline events\nSELECT * FROM timeline_events\nWHERE project_id = $1\nORDER BY created_at DESC\nLIMIT 20;","additionalFields":{"values":[{"name":"1","value":"={{ $('Load Active Project').first().json.id }}"},{"name":"2","value":"={{ $('Select Next Chapter Plan').first().json.characters_involved || [] }}"},{"name":"3","value":"={{ $('Select Next Chapter Plan').first().json.locations_involved || [] }}"}]}},"id":"node-009","name":"Load Structured Canon","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1560,780],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"// ============================================================\n// Build retrieval query from chapter context.\n// Combines chapter title, plot goals, characters, locations.\n// ============================================================\n\nconst chapterPlan = $('Select Next Chapter Plan').first().json;\nconst project = $('Load Active Project').first().json;\n\nconst queryParts = [\n  chapterPlan.title || '',\n  (chapterPlan.plot_goals || []).join(' '),\n  (chapterPlan.characters_involved || []).join(' '),\n  (chapterPlan.locations_involved || []).join(' '),\n  project.genre.join(' '),\n  project.tone || ''\n].filter(Boolean);\n\nconst retrievalQuery = queryParts.join(' ');\n\nreturn [{\n  json: {\n    retrieval_query: retrievalQuery,\n    project_id: project.id,\n    chapter_plan: chapterPlan,\n    top_k: 12\n  }\n}];"},"id":"node-010","name":"Build Retrieval Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,780]},{"parameters":{"method":"POST","url":"={{ $env.OPENAI_API_BASE_URL || 'https://api.deepseek.com/v1/embeddings' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"{{ $env.EMBEDDING_MODEL || 'text-embedding-3-small' }}\",\n  \"input\": \"{{ $json.retrieval_query }}\"\n}","options":{"timeout":30000}},"id":"node-011","name":"Embed Retrieval Query","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2000,780],"credentials":{"httpHeaderAuth":{"id":"O06O4ws1byCbKxp5","name":"DeepSeek API"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  id,\n  project_id,\n  source_type,\n  source_id,\n  title,\n  content,\n  metadata,\n  1 - (embedding <=> $1::vector) AS similarity\nFROM vector_documents\nWHERE project_id = $2\nORDER BY embedding <=> $1::vector\nLIMIT $3;","additionalFields":{"values":[{"name":"1","value":"={{ $json.data[0].embedding }}"},{"name":"2","value":"={{ $('Build Retrieval Query').first().json.project_id }}"},{"name":"3","value":"={{ $('Build Retrieval Query').first().json.top_k }}"}]}},"id":"node-012","name":"Retrieve Vector Context","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2220,780],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"// ============================================================\n// Assemble the complete writing_brief JSON.\n// This is the authoritative input to Claude Code writer.\n// ============================================================\n\nconst project = $('Load Active Project').first().json;\nconst chapterPlan = $('Select Next Chapter Plan').first().json;\nconst projectConfig = $('Load Project Config').all();\nconst structuredCanon = $('Load Structured Canon').all();\nconst vectorContext = $('Retrieve Vector Context').all();\nconst job = $('Acquire Lock').first().json;\n\n// Parse config results (multi-statement)\nlet styleGuide = {};\nlet hardRules = [];\nlet softRules = [];\nlet recentSummaries = [];\nlet systemSettings = {};\n\nfor (const item of projectConfig) {\n  const j = item.json;\n  if (Array.isArray(j)) {\n    // Handle multi-result\n  }\n  if (j.narrative_perspective) styleGuide = j;\n  if (j.rule_type === 'hard') hardRules.push(j);\n  if (j.rule_type === 'soft') softRules.push(j);\n  if (j.summary && j.sequence) recentSummaries.push(j);\n  if (j.key && j.value) systemSettings[j.key] = j.value;\n}\n\n// Parse structured canon\nlet characters = [];\nlet characterStates = [];\nlet locations = [];\nlet plotThreads = [];\nlet foreshadowing = [];\nlet timelineEvents = [];\n\nfor (const item of structuredCanon) {\n  const j = item.json;\n  if (j.role) characters.push(j);\n  if (j.physical_state || j.emotional_state) characterStates.push(j);\n  if (j.location_type) locations.push(j);\n  if (j.thread_type) plotThreads.push(j);\n  if (j.clue_text) foreshadowing.push(j);\n  if (j.event_time_label) timelineEvents.push(j);\n}\n\nconst writingBrief = {\n  project: {\n    id: project.id,\n    title: project.title,\n    genre: project.genre,\n    tone: project.tone,\n    style_summary: project.style_summary\n  },\n  chapter_plan: {\n    id: chapterPlan.id,\n    sequence: chapterPlan.sequence,\n    title: chapterPlan.title,\n    plot_goals: chapterPlan.plot_goals || [],\n    summary: chapterPlan.summary || '',\n    arc_stage: chapterPlan.arc_stage || '',\n    major_events: chapterPlan.major_events || []\n  },\n  target_word_count: chapterPlan.target_word_count || project.daily_word_count || 3000,\n  recent_summaries: recentSummaries.reverse(),\n  active_characters: characters,\n  character_states: characterStates,\n  locations: locations,\n  plot_threads: plotThreads,\n  foreshadowing: foreshadowing,\n  timeline_events: timelineEvents,\n  canon_rules: { hard: hardRules, soft: softRules },\n  style_guide: styleGuide,\n  retrieved_context: vectorContext.map(v => ({\n    id: v.json.id,\n    source_type: v.json.source_type,\n    title: v.json.title,\n    content: v.json.content,\n    similarity: v.json.similarity\n  })),\n  hard_constraints: hardRules.map(r => r.rule_text),\n  quality_threshold: project.quality_threshold || 85,\n  max_revise_count: project.max_revise_count || 2,\n  auto_publish: project.auto_publish || false\n};\n\nreturn [{\n  json: {\n    job_id: job.id,\n    project_id: project.id,\n    chapter_plan_id: chapterPlan.id,\n    writing_brief: writingBrief,\n    auto_publish: project.auto_publish || false,\n    quality_threshold: project.quality_threshold || 85,\n    max_revise_count: project.max_revise_count || 2\n  }\n}];\n"},"id":"node-013","name":"Build Writing Brief","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,780]},{"parameters":{"method":"POST","url":"={{ $env.WRITER_SERVICE_URL || 'http://writer-service:8787' }}/generate-chapter","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"project_id\": \"{{ $json.project_id }}\",\n  \"chapter_plan_id\": \"{{ $json.chapter_plan_id }}\",\n  \"writing_brief\": {{ JSON.stringify($json.writing_brief) }},\n  \"prompt_type\": \"draft_writer\"\n}","options":{"timeout":600000}},"id":"node-014","name":"Call Writer Service","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2660,780],"credentials":{"httpHeaderAuth":{"id":"OFervrjfRP7togIg","name":"Writer Service Token"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.ok }}","operation":"equals","value2":true}]}},"id":"node-015","name":"Writer OK?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2880,780]},{"parameters":{"jsCode":"// ============================================================\n// Writer failed — record error and stop.\n// ============================================================\n\nconst writerResult = $input.first().json;\n\nreturn [{\n  json: {\n    error: writerResult.error || 'Unknown writer error',\n    stderr: writerResult.stderr || '',\n    exitCode: writerResult.exitCode || -1,\n    duration_ms: writerResult.duration_ms || 0\n  }\n}];","continueOnFail":true},"id":"node-016","name":"Handle Writer Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,660]},{"parameters":{"operation":"executeQuery","query":"UPDATE generation_jobs\nSET status = 'failed',\n    error_message = $2,\n    stderr = $3,\n    exit_code = $4,\n    duration_ms = $5,\n    updated_at = now()\nWHERE id = $1;","additionalFields":{"values":[{"name":"1","value":"={{ $('Build Writing Brief').first().json.job_id }}"},{"name":"2","value":"={{ $json.error }}"},{"name":"3","value":"={{ $json.stderr }}"},{"name":"4","value":"={{ $json.exitCode }}"},{"name":"5","value":"={{ $json.duration_ms }}"}]}},"id":"node-017","name":"Record Writer Failure","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3320,660],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO chapters (project_id, chapter_plan_id, sequence, title, body_markdown, summary, word_count, status)\nVALUES ($1, $2, $3, $4, $5, $6, $7, 'draft')\nRETURNING id;","additionalFields":{"values":[{"name":"1","value":"={{ $('Build Writing Brief').first().json.project_id }}"},{"name":"2","value":"={{ $('Build Writing Brief').first().json.chapter_plan_id }}"},{"name":"3","value":"={{ $('Select Next Chapter Plan').first().json.sequence }}"},{"name":"4","value":"={{ $json.data.title }}"},{"name":"5","value":"={{ $json.data.body_markdown }}"},{"name":"6","value":"={{ $json.data.summary }}"},{"name":"7","value":"={{ $json.data.word_count }}"}]}},"id":"node-018","name":"Save Chapter","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2880,940],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO chapter_versions (chapter_id, project_id, version_number, version_type, title, body_markdown, summary, word_count, model_provider, model_name, created_by_agent)\nVALUES ($1, $2, 1, 'draft', $3, $4, $5, $6, 'claude', 'claude-code', 'draft_writer')\nRETURNING id;\n\nUPDATE chapters SET current_version_id = (\n  SELECT id FROM chapter_versions WHERE chapter_id = $1 ORDER BY version_number DESC LIMIT 1\n)\nWHERE id = $1;\n\nUPDATE generation_jobs\nSET status = 'draft_created', chapter_id = $1, updated_at = now()\nWHERE id = $7;","additionalFields":{"values":[{"name":"1","value":"={{ $('Save Chapter').first().json.id }}"},{"name":"2","value":"={{ $('Build Writing Brief').first().json.project_id }}"},{"name":"3","value":"={{ $('Call Writer Service').first().json.data.title }}"},{"name":"4","value":"={{ $('Call Writer Service').first().json.data.body_markdown }}"},{"name":"5","value":"={{ $('Call Writer Service').first().json.data.summary }}"},{"name":"6","value":"={{ $('Call Writer Service').first().json.data.word_count }}"},{"name":"7","value":"={{ $('Build Writing Brief').first().json.job_id }}"}]}},"id":"node-019","name":"Save Draft Version","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3100,940],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"// ============================================================\n// Prepare review inputs for all 7 agents.\n// Each agent gets the chapter + relevant canon.\n// ============================================================\n\nconst writingBrief = $('Build Writing Brief').first().json.writing_brief;\nconst chapter = $('Call Writer Service').first().json.data;\nconst chapterId = $('Save Chapter').first().json.id;\nconst versionId = $('Save Draft Version').first().json.id;\n\nreturn [{\n  json: {\n    chapter_id: chapterId,\n    version_id: versionId,\n    chapter: chapter,\n    writing_brief: writingBrief\n  }\n}];"},"id":"node-020","name":"Prepare Review Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,940]},{"parameters":{"method":"POST","url":"={{ $env.OPENAI_API_BASE_URL || 'https://api.deepseek.com/v1/chat/completions' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"{{ $env.REVIEWER_MODEL || 'deepseek-chat' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是 continuity_reviewer，负责检查长篇小说章节的连续性问题。\\n\\n你只输出合法 JSON。\\n\\n检查范围：\\n1. 时间线是否矛盾。\\n2. 地点移动是否合理。\\n3. 人物伤势、能力、知识状态是否前后一致。\\n4. 道具归属和使用是否矛盾。\\n5. 人物关系是否突然变化。\\n6. 世界观、力量体系、组织规则是否被破坏。\\n7. 伏笔是否被错误回收或遗忘。\\n8. 本章是否引入了未经允许的新 canon。\\n\\n评分：\\n- 90-100：无明显连续性问题。\\n- 75-89：有小问题，但不影响发布。\\n- 60-74：有明显矛盾，需要修订。\\n- 0-59：严重破坏 canon，禁止发布。\\n\\nblocking issue 判定：\\n- 违反 hard canon。\\n- 关键人物状态矛盾。\\n- 关键时间线矛盾。\\n- 擅自改变主线设定。\\n- 擅自回收或否定重要伏笔。\\n\\n输出 JSON schema：\\n{\\n  \\\"agent_name\\\": \\\"continuity_reviewer\\\",\\n  \\\"score\\\": number,\\n  \\\"pass\\\": boolean,\\n  \\\"blocking_issues\\\": [],\\n  \\\"minor_issues\\\": [],\\n  \\\"recommendations\\\": [],\\n  \\\"canon_update_suggestions\\\": []\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"writing_brief:\\n{{ JSON.stringify($json.writing_brief) }}\\n\\nchapter:\\n{{ JSON.stringify($json.chapter) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}","options":{"timeout":120000}},"id":"node-021","name":"A1 Continuity Review","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3540,800],"credentials":{"httpHeaderAuth":{"id":"O06O4ws1byCbKxp5","name":"DeepSeek API"}}},{"parameters":{"method":"POST","url":"={{ $env.OPENAI_API_BASE_URL || 'https://api.deepseek.com/v1/chat/completions' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"{{ $env.REVIEWER_MODEL || 'deepseek-chat' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是 character_reviewer，负责检查人物一致性。\\n\\n你只输出合法 JSON。\\n\\n检查范围：\\n1. 人物行为是否符合 personality。\\n2. 人物动机是否符合当前剧情阶段。\\n3. 说话方式是否符合 speech_style。\\n4. 人物关系变化是否有铺垫。\\n5. 角色是否突然降智、突兀变强、突兀背叛。\\n6. 主角是否保持核心吸引力。\\n7. 配角是否工具人化过重。\\n\\nblocking issue 判定：\\n- 主角做出与核心设定完全相反的选择且无铺垫。\\n- 关键角色关系突变。\\n- 角色已知信息与行为严重矛盾。\\n- 重要角色口吻明显错乱。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"writing_brief:\\n{{ JSON.stringify($json.writing_brief) }}\\n\\nchapter:\\n{{ JSON.stringify($json.chapter) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}","options":{"timeout":120000}},"id":"node-022","name":"A2 Character Review","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3540,960],"credentials":{"httpHeaderAuth":{"id":"O06O4ws1byCbKxp5","name":"DeepSeek API"}}},{"parameters":{"method":"POST","url":"={{ $env.OPENAI_API_BASE_URL || 'https://api.deepseek.com/v1/chat/completions' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"{{ $env.REVIEWER_MODEL || 'deepseek-chat' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是 plot_logic_reviewer，负责检查情节因果和章节结构。\\n\\n你只输出合法 JSON。\\n\\nblocking issue 判定：\\n- 本章核心剧情目标未完成。\\n- 情节转折完全无因果。\\n- 用机械降神解决主要冲突。\\n- 关键剧情与主线方向冲突。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"writing_brief:\\n{{ JSON.stringify($json.writing_brief) }}\\n\\nchapter:\\n{{ JSON.stringify($json.chapter) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}","options":{"timeout":120000}},"id":"node-023","name":"A3 Plot Logic Review","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3540,1120],"credentials":{"httpHeaderAuth":{"id":"O06O4ws1byCbKxp5","name":"DeepSeek API"}}},{"parameters":{"method":"POST","url":"={{ $env.OPENAI_API_BASE_URL || 'https://api.deepseek.com/v1/chat/completions' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"{{ $env.REVIEWER_MODEL || 'deepseek-chat' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是 pacing_reviewer，负责检查中文连载网文的节奏、爽点、钩子和读者留存。\\n\\n你只输出合法 JSON。\\n\\nblocking issue 判定：\\n- 本章没有任何实质冲突或推进。\\n- 结尾完全没有继续阅读动力。\\n- 大量说明文字导致章节不可读。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"writing_brief:\\n{{ JSON.stringify($json.writing_brief) }}\\n\\nchapter:\\n{{ JSON.stringify($json.chapter) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}","options":{"timeout":120000}},"id":"node-024","name":"A4 Pacing Review","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3540,1280],"credentials":{"httpHeaderAuth":{"id":"O06O4ws1byCbKxp5","name":"DeepSeek API"}}},{"parameters":{"method":"POST","url":"={{ $env.OPENAI_API_BASE_URL || 'https://api.deepseek.com/v1/chat/completions' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"{{ $env.REVIEWER_MODEL || 'deepseek-chat' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是 style_reviewer，负责检查文风、语言质量和 AI 味。\\n\\n你只输出合法 JSON。\\n\\nblocking issue 判定：\\n- 文风完全偏离项目定位。\\n- 语言质量低到影响发布。\\n- 大量重复、错乱或不可读文本。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"style_guide:\\n{{ JSON.stringify($json.writing_brief.style_guide) }}\\n\\nchapter:\\n{{ JSON.stringify($json.chapter) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}","options":{"timeout":120000}},"id":"node-025","name":"A5 Style Review","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3540,1440],"credentials":{"httpHeaderAuth":{"id":"O06O4ws1byCbKxp5","name":"DeepSeek API"}}},{"parameters":{"method":"POST","url":"={{ $env.OPENAI_API_BASE_URL || 'https://api.deepseek.com/v1/chat/completions' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"{{ $env.REVIEWER_MODEL || 'deepseek-chat' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是 safety_reviewer，负责检查公开发布风险、原创性风险和安全风险。\\n\\n你只输出合法 JSON。\\n\\nblocking issue 判定：\\n- 出现密钥、密码、内部配置。\\n- 出现 Neon connection string、API key、writer-service token。\\n- 明显要求复刻具体受版权保护文本。\\n- 存在高风险违法或平台禁止内容。\\n- 存在真实个人隐私泄露。\\n\\n只要发现密钥或内部配置泄露，必须 blocking。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"chapter:\\n{{ JSON.stringify($json.chapter) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.1\n}","options":{"timeout":120000}},"id":"node-026","name":"A6 Safety Review","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3540,1600],"credentials":{"httpHeaderAuth":{"id":"O06O4ws1byCbKxp5","name":"DeepSeek API"}}},{"parameters":{"method":"POST","url":"={{ $env.OPENAI_API_BASE_URL || 'https://api.deepseek.com/v1/chat/completions' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"{{ $env.REVIEWER_MODEL || 'deepseek-chat' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是 publication_reviewer，负责检查章节是否适合发布到博客。\\n\\n你只输出合法 JSON。\\n\\nblocking issue 判定：\\n- Markdown 严重损坏。\\n- 含有内部 prompt、审稿意见、系统信息。\\n- 标题或正文为空。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"chapter:\\n{{ JSON.stringify($json.chapter) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}","options":{"timeout":120000}},"id":"node-027","name":"A7 Publication Review","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3540,1760],"credentials":{"httpHeaderAuth":{"id":"O06O4ws1byCbKxp5","name":"DeepSeek API"}}},{"parameters":{"jsCode":"// ============================================================\n// Review Aggregator — 聚合 7 个审稿 Agent 结果并输出决策。\n//\n// 输入：$input.all() — 来自 7 个并行 review HTTP Request 节点。\n// 每个 item 可能是 OpenAI chat/completions response 或\n// 已经解析好的 review JSON（取决于上游节点）。\n//\n// 聚合规则（按优先级）：\n//   1. safety_reviewer pass=false → needs_human_review\n//   2. 任一有 blocking_issues → revise\n//   3. avg_score >= quality_threshold 且无 blocking → publish_ready\n//   4. avg_score < quality_threshold → revise\n//   5. revise_count >= max_revise_count 仍未通过 → needs_human_review\n//\n// final_score 规则：\n//   - safety failed  → min(average_score, 40)\n//   - has blocking   → min(average_score, 74)\n//   - all pass       → average_score\n// ============================================================\n\nconst allReviews = $input.all();\nconst reviewData = [];\n\n// ---- 1. Parse each agent's output ----\nfor (const item of allReviews) {\n  try {\n    const j = item.json;\n    // OpenAI chat/completions format\n    if (j.choices?.[0]?.message?.content) {\n      const parsed = JSON.parse(j.choices[0].message.content);\n      reviewData.push(parsed);\n    }\n    // Already parsed JSON with agent_name\n    else if (j.agent_name) {\n      reviewData.push(j);\n    }\n    // Nested inside data (HTTP Request node response)\n    else if (j.data?.agent_name) {\n      reviewData.push(j.data);\n    }\n    else {\n      reviewData.push({\n        agent_name: 'unknown',\n        score: 0,\n        pass: false,\n        blocking_issues: [{ id: 'PARSE_ERR', severity: 'high', issue: 'Unable to parse review output' }],\n        minor_issues: [],\n        recommendations: []\n      });\n    }\n  } catch (e) {\n    reviewData.push({\n      agent_name: 'parse_error',\n      score: 0,\n      pass: false,\n      blocking_issues: [{ id: 'PARSE_ERR', severity: 'high', issue: `Failed to parse review: ${e.message}` }],\n      minor_issues: [],\n      recommendations: []\n    });\n  }\n}\n\n// ---- 2. Identify special agents ----\nconst safetyReview = reviewData.find(r => r.agent_name === 'safety_reviewer');\n\n// ---- 3. Calculate average_score ----\nconst scores = reviewData.map(r => r.score).filter(s => typeof s === 'number' && !isNaN(s));\nconst averageScore = scores.length > 0\n  ? Math.round((scores.reduce((a, b) => a + b, 0) / scores.length) * 100) / 100\n  : 0;\n\n// ---- 4. Collect issues ----\nconst allBlocking = [];\nconst allMinor = [];\nconst recommendationsByAgent = {};\n\nfor (const r of reviewData) {\n  (r.blocking_issues || []).forEach(issue => {\n    allBlocking.push({ ...issue, agent_name: r.agent_name });\n  });\n  (r.minor_issues || []).forEach(issue => {\n    allMinor.push({ ...issue, agent_name: r.agent_name });\n  });\n  if (r.recommendations && r.recommendations.length > 0) {\n    recommendationsByAgent[r.agent_name] = r.recommendations;\n  }\n}\n\n// ---- 5. Determine decision ----\nconst hasBlocking = allBlocking.length > 0;\nconst safetyFailed = safetyReview && safetyReview.pass === false;\n\n// Get revise_count and max from writing brief context\nconst briefNode = $('Build Writing Brief').first();\nconst reviseCount = briefNode?.json?.revise_count ?? $input.first().json.revise_count ?? 0;\nconst maxRevise = briefNode?.json?.max_revise_count ?? $input.first().json.max_revise_count ?? 2;\nconst qualityThreshold = briefNode?.json?.quality_threshold ?? $input.first().json.quality_threshold ?? 85;\n\nlet decision;\nif (safetyFailed) {\n  decision = 'needs_human_review';\n} else if (reviseCount >= maxRevise && hasBlocking) {\n  decision = 'needs_human_review';\n} else if (hasBlocking) {\n  decision = 'revise';\n} else if (averageScore >= qualityThreshold) {\n  decision = 'publish_ready';\n} else {\n  decision = 'revise';\n}\n\n// ---- 6. Calculate final_score ----\nlet finalScore;\nif (safetyFailed) {\n  finalScore = Math.min(averageScore, 40);\n} else if (hasBlocking) {\n  finalScore = Math.min(averageScore, 74);\n} else {\n  finalScore = averageScore;\n}\nfinalScore = Math.round(finalScore * 100) / 100;\n\n// ---- 7. publish_allowed ----\nconst publishAllowed = decision === 'publish_ready';\n\n// ---- 8. Build output ----\nreturn [{\n  json: {\n    // IDs from Prepare Review Input\n    chapter_id: $('Prepare Review Input').first().json.chapter_id,\n    version_id: $('Prepare Review Input').first().json.version_id,\n\n    // Scores\n    average_score: averageScore,\n    final_score: finalScore,\n\n    // Decision\n    decision: decision,\n    publish_allowed: publishAllowed,\n\n    // Status flags\n    safety_pass: !safetyFailed,\n    has_blocking: hasBlocking,\n    all_pass: reviewData.every(r => r.pass !== false),\n\n    // Merged issues\n    blocking_issues: allBlocking,\n    minor_issues: allMinor,\n    must_fix: allBlocking.filter(i => i.severity === 'high' || safetyFailed),\n\n    // Grouped recommendations\n    recommendations: recommendationsByAgent,\n\n    // Raw review data (for saving to DB)\n    reviews: reviewData,\n\n    // Summary\n    agent_count: reviewData.length,\n    blocking_count: allBlocking.length,\n    minor_count: allMinor.length,\n    safety_passed: !safetyFailed\n  }\n}];"},"id":"node-028","name":"Collect All Reviews","type":"n8n-nodes-base.code","typeVersion":2,"position":[3760,960]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO agent_reviews (project_id, chapter_id, chapter_version_id, agent_name, review_round, score, pass, issues, blocking_issues, minor_issues, recommendations, raw_output)\nVALUES ($1, $2, $3, $4, 1, $5, $6, $7, $8, $9, $10, $11)\nON CONFLICT DO NOTHING;","additionalFields":{"values":"={{ $json.reviews.map(r => [\n  $('Build Writing Brief').first().json.project_id,\n  $json.chapter_id,\n  $json.version_id,\n  r.agent_name,\n  r.score,\n  r.pass,\n  JSON.stringify(r.blocking_issues || []),\n  JSON.stringify(r.blocking_issues || []),\n  JSON.stringify(r.minor_issues || []),\n  JSON.stringify(r.recommendations || []),\n  JSON.stringify(r)\n]) }}"}},"id":"node-029","name":"Save Review Records","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3980,960],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"// Pass through the aggregated review decision from Collect All Reviews.\n// Decision was already made deterministically — no AI call needed.\nconst aggregate = $('Collect All Reviews').first().json;\nreturn [{ json: aggregate }];"},"id":"node-030","name":"A8 Review Arbiter","type":"n8n-nodes-base.code","typeVersion":2,"position":[4200,960]},{"parameters":{"conditions":{"options":{"multipleValues":true,"value":["needs_human_review","stop"]},"string":[{"value1":"={{ $json.decision }}","operation":"contains"}]}},"id":"node-031","name":"Decision: Human Review?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4420,960]},{"parameters":{"operation":"executeQuery","query":"UPDATE chapters SET status = 'needs_human_review', updated_at = now() WHERE id = $1;\nUPDATE generation_jobs SET status = 'needs_human_review', updated_at = now() WHERE id = $2;","additionalFields":{"values":[{"name":"1","value":"={{ $('Collect All Reviews').first().json.chapter_id }}"},{"name":"2","value":"={{ $('Build Writing Brief').first().json.job_id }}"}]}},"id":"node-032","name":"Mark Human Review","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[4640,820],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.decision }}","operation":"contains","value2":"publish_ready"}]}},"id":"node-033","name":"Decision: Publish Ready?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4420,1120]},{"parameters":{"jsCode":"// ============================================================\n// Generate blog metadata via AI.\n// ============================================================\n\nconst chapter = $('Call Writer Service').first().json.data;\nconst project = $('Load Active Project').first().json;\n\nreturn [{\n  json: {\n    chapter: chapter,\n    project: project,\n    blog_config: {\n      provider: project.publish_platform || 'wordpress',\n      auto_publish: $('Build Writing Brief').first().json.auto_publish,\n      final_score: $('Collect All Reviews').first().json.final_score\n    }\n  }\n}];"},"id":"node-034","name":"Prepare Blog Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[4640,1120]},{"parameters":{"method":"POST","url":"={{ $env.OPENAI_API_BASE_URL || 'https://api.deepseek.com/v1/chat/completions' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"{{ $env.BLOG_METADATA_MODEL || 'deepseek-chat' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是 blog_publisher_metadata_agent，负责把小说章节转换成适合博客发布的元数据。\\n\\n你只输出合法 JSON。\\n\\n要求：\\n1. 生成适合博客的标题。\\n2. 生成简洁 slug，只包含小写英文、数字和连字符。\\n3. 生成 excerpt，长度 80-160 中文字。\\n4. 生成 tags，3-8 个。\\n5. 生成 category。\\n6. 生成 seo_description，长度 80-150 中文字。\\n7. 生成 cover_prompt，可用于之后生成封面。\\n8. 不要剧透本章结尾关键反转。\\n9. 不要包含内部审稿信息。\\n10. 不要包含 prompt、JSON、系统字段。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"chapter:\\n{{ JSON.stringify($json.chapter) }}\\n\\nproject:\\n{{ JSON.stringify($json.project) }}\\n\\nblog_config:\\n{{ JSON.stringify($json.blog_config) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.3\n}","options":{"timeout":60000}},"id":"node-035","name":"Generate Blog Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[4860,1120],"credentials":{"httpHeaderAuth":{"id":"O06O4ws1byCbKxp5","name":"DeepSeek API"}}},{"parameters":{"jsCode":"// ============================================================\n// Parse blog metadata and publish to WordPress or REST API.\n// ============================================================\n\nconst response = $input.first().json;\nlet metadata;\ntry {\n  metadata = JSON.parse(response.choices[0].message.content);\n} catch (e) {\n  metadata = response;\n}\n\nconst buildBrief = $('Build Writing Brief').first().json;\nconst chapter = $('Call Writer Service').first().json.data;\nconst finalScore = $('Collect All Reviews').first().json.final_score;\nconst shouldPublish = buildBrief.auto_publish && finalScore >= buildBrief.quality_threshold;\n\nreturn [{\n  json: {\n    title: metadata.title || chapter.title,\n    slug: metadata.slug || '',\n    excerpt: metadata.excerpt || '',\n    tags: metadata.tags || [],\n    category: metadata.category || '',\n    seo_description: metadata.seo_description || '',\n    content_markdown: chapter.body_markdown,\n    wordpress_status: shouldPublish ? 'publish' : 'draft',\n    project_id: buildBrief.project_id,\n    chapter_id: $('Save Chapter').first().json.id,\n    should_publish: shouldPublish\n  }\n}];"},"id":"node-036","name":"Parse Blog Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[5080,1120]},{"parameters":{"jsCode":"// ============================================================\n// Check if blog post already exists for this chapter.\n// If exists, prepare update. If not, prepare create.\n// ============================================================\n\nconst meta = $input.first().json;\nconst existingBlogPost = $input.all().find(i => i.json.external_post_id);\n\nreturn [{\n  json: {\n    ...meta,\n    existing_post_id: existingBlogPost?.json.external_post_id || null,\n    action: existingBlogPost?.json.external_post_id ? 'update' : 'create'\n  }\n}];"},"id":"node-037","name":"Check Existing Blog Post","type":"n8n-nodes-base.code","typeVersion":2,"position":[4640,1280]},{"parameters":{"operation":"executeQuery","query":"SELECT id, external_post_id, slug, url FROM blog_posts\nWHERE project_id = $1 AND chapter_id = $2;","additionalFields":{"values":[{"name":"1","value":"={{ $json.project_id }}"},{"name":"2","value":"={{ $json.chapter_id }}"}]}},"id":"node-038","name":"Query Blog Posts Table","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[4860,1280],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"method":"POST","url":"={{ $env.WORDPRESS_BASE_URL || 'https://example.com' }}/wp-json/wp/v2/posts{{ $json.action === 'update' ? '/' + $json.existing_post_id : '' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"title\": \"{{ $json.title }}\",\n  \"content\": \"{{ $json.content_markdown }}\",\n  \"slug\": \"{{ $json.slug }}\",\n  \"excerpt\": \"{{ $json.excerpt }}\",\n  \"status\": \"{{ $json.wordpress_status }}\",\n  \"tags\": {{ JSON.stringify($json.tags) }},\n  \"categories\": [\"{{ $json.category }}\"]\n}","options":{"timeout":30000}},"id":"node-039","name":"Publish to WordPress","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[5080,1280],"credentials":{"httpHeaderAuth":"WordPress Auth"}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO blog_posts (project_id, chapter_id, external_post_id, slug, title, excerpt, url, tags, category, seo_description, status, published_at)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, CASE WHEN $11 = 'published' THEN now() ELSE NULL END)\nON CONFLICT (project_id, chapter_id)\nDO UPDATE SET\n  external_post_id = EXCLUDED.external_post_id,\n  slug = EXCLUDED.slug,\n  title = EXCLUDED.title,\n  url = EXCLUDED.url,\n  status = EXCLUDED.status,\n  published_at = CASE WHEN EXCLUDED.status = 'published' THEN COALESCE(blog_posts.published_at, now()) ELSE blog_posts.published_at END,\n  updated_at = now()\nRETURNING id;","additionalFields":{"values":[{"name":"1","value":"={{ $('Parse Blog Metadata').first().json.project_id }}"},{"name":"2","value":"={{ $('Parse Blog Metadata').first().json.chapter_id }}"},{"name":"3","value":"={{ $json.id || $json.ID || '' }}"},{"name":"4","value":"={{ $('Parse Blog Metadata').first().json.slug }}"},{"name":"5","value":"={{ $('Parse Blog Metadata').first().json.title }}"},{"name":"6","value":"={{ $('Parse Blog Metadata').first().json.excerpt }}"},{"name":"7","value":"={{ $json.link || $json.url || '' }}"},{"name":"8","value":"={{ $('Parse Blog Metadata').first().json.tags }}"},{"name":"9","value":"={{ $('Parse Blog Metadata').first().json.category }}"},{"name":"10","value":"={{ $('Parse Blog Metadata').first().json.seo_description }}"},{"name":"11","value":"={{ $('Parse Blog Metadata').first().json.wordpress_status }}"}]}},"id":"node-040","name":"Save Blog Post Record","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5300,1280],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"// ============================================================\n// Update canon from chapter output:\n// - Chapter summaries\n// - Character state changes\n// - Timeline events\n// - Foreshadowing\n// - Vector embeddings for new content\n// ============================================================\n\nconst chapter = $('Call Writer Service').first().json.data;\nconst projectId = $('Build Writing Brief').first().json.project_id;\nconst chapterId = $('Save Chapter').first().json.id;\n\nconst updates = [];\n\n// Update chapter plan status\nupdates.push({\n  json: {\n    sql: \"UPDATE chapter_plans SET status = 'draft_complete', updated_at = now() WHERE id = $1\",\n    values: [$('Build Writing Brief').first().json.chapter_plan_id]\n  }\n});\n\n// Update chapter status\nupdates.push({\n  json: {\n    sql: \"UPDATE chapters SET status = 'final', publish_status = $2, updated_at = now() WHERE id = $1\",\n    values: [chapterId, $('Parse Blog Metadata').first().json.wordpress_status]\n  }\n});\n\n// Generate chapter summary embedding for vector store\nif (chapter.summary) {\n  updates.push({\n    json: {\n      action: 'embed_and_store',\n      project_id: projectId,\n      source_type: 'chapter_summary',\n      source_id: chapterId,\n      title: `Ch${$('Select Next Chapter Plan').first().json.sequence} 摘要: ${chapter.title}`,\n      content: chapter.summary\n    }\n  });\n}\n\n// Character state changes for next chapter context\n(chapter.character_state_changes || []).forEach(csc => {\n  updates.push({\n    json: {\n      sql: `INSERT INTO character_states (project_id, character_id, chapter_id, physical_state, emotional_state, relationship_state)\n      SELECT $1, c.id, $2, $3, $4, $5\n      FROM characters c\n      WHERE c.project_id = $1 AND c.name = $6 AND c.is_locked = false\n      ON CONFLICT DO NOTHING`,\n      values: [projectId, chapterId, csc.before, csc.after, JSON.stringify({}), csc.character_name]\n    }\n  });\n});\n\n// Timeline events\n(chapter.timeline_events || []).forEach(te => {\n  updates.push({\n    json: {\n      sql: `INSERT INTO timeline_events (project_id, event_time_label, event_summary, involved_characters, involved_locations, consequences, source_chapter_id)\n      VALUES ($1, $2, $3, $4, $5, $6, $7)`,\n      values: [projectId, te.event_time_label, te.event_summary, te.involved_characters || [], te.involved_locations || [], te.consequences || [], chapterId]\n    }\n  });\n});\n\n// Foreshadowing\n(chapter.foreshadowing_used || []).forEach(fu => {\n  if (fu.usage === 'resolved') {\n    // Mark as resolved but don't auto-resolve without confirmation\n    updates.push({\n      json: {\n        sql: `UPDATE foreshadowing SET status = 'reinforced', updated_at = now() WHERE clue_text = $1 AND project_id = $2 AND is_locked = false`,\n        values: [fu.clue, projectId]\n      }\n    });\n  }\n});\n\nreturn updates;"},"id":"node-041","name":"Build Canon Updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[5520,1280]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","additionalFields":{"values":"={{ $json.values }}"}},"id":"node-042","name":"Execute Canon Updates","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5740,1280],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE generation_jobs\nSET status = 'completed',\n    chapter_id = $2,\n    final_score = $3,\n    completed_at = now(),\n    updated_at = now()\nWHERE id = $1;","additionalFields":{"values":[{"name":"1","value":"={{ $('Build Writing Brief').first().json.job_id }}"},{"name":"2","value":"={{ $('Save Chapter').first().json.id }}"},{"name":"3","value":"={{ $('Collect All Reviews').first().json.final_score }}"}]}},"id":"node-043","name":"Update Job Completed","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5960,1280],"credentials":{"postgres":{"id":"FFfm0dWYLSjUyWk8","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"// ============================================================\n// Build notification message.\n// ============================================================\n\nconst project = $('Load Active Project').first().json;\nconst chapter = $('Call Writer Service').first().json.data;\nconst finalScore = $('Collect All Reviews').first().json.final_score;\nconst blogPost = $('Save Blog Post Record').first().json;\nconst job = $('Build Writing Brief').first().json;\n\nreturn [{\n  json: {\n    message: `📖 **${project.title}**\\n` +\n      `Chapter ${$('Select Next Chapter Plan').first().json.sequence}: ${chapter.title}\\n` +\n      `Words: ${chapter.word_count} | Score: ${finalScore}\\n` +\n      `Status: ${job.auto_publish && finalScore >= job.quality_threshold ? 'Published' : 'Draft'}\\n` +\n      `URL: ${blogPost.url || 'N/A'}`,\n    subject: `[Novel Factory] ${project.title} Ch${$('Select Next Chapter Plan').first().json.sequence} — Score ${finalScore}`,\n    project_title: project.title,\n    chapter_title: chapter.title,\n    word_count: chapter.word_count,\n    score: finalScore,\n    url: blogPost.url || '',\n    needs_human_review: false\n  }\n}];"},"id":"node-044","name":"Build Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[6180,1280]},{"parameters":{"jsCode":"// ============================================================\n// Global error handler — catches workflow failures.\n// Records to generation_jobs.\n// ============================================================\n\nconst error = $input.first().json;\n\nreturn [{\n  json: {\n    error: error.message || 'Unknown workflow error',\n    node: error.node || 'unknown',\n    timestamp: new Date().toISOString(),\n    job_id: $('Build Writing Brief').first()?.json?.job_id || null\n  }\n}];","continueOnFail":true},"id":"node-045","name":"Error Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[6180,1500]}],"connections":{"Daily 09:00 JST":{"main":[[{"node":"Load Active Project","type":"main","index":0}]]},"Load Active Project":{"main":[[{"node":"Active Project Found?","type":"main","index":0}]]},"Active Project Found?":{"main":[[{"node":"No Active Project Note","type":"main","index":0}],[{"node":"Select Next Chapter Plan","type":"main","index":0}]]},"Select Next Chapter Plan":{"main":[[{"node":"Chapter Plan Found?","type":"main","index":0}]]},"Chapter Plan Found?":{"main":[[{"node":"No Plan Note","type":"main","index":0}],[{"node":"Acquire Lock","type":"main","index":0}]]},"Acquire Lock":{"main":[[{"node":"Lock Acquired?","type":"main","index":0}]]},"Lock Acquired?":{"main":[[{"node":"Already Generated Note","type":"main","index":0}],[{"node":"Load Project Config","type":"main","index":0}]]},"Load Project Config":{"main":[[{"node":"Load Structured Canon","type":"main","index":0}]]},"Load Structured Canon":{"main":[[{"node":"Build Retrieval Query","type":"main","index":0}]]},"Build Retrieval Query":{"main":[[{"node":"Embed Retrieval Query","type":"main","index":0}]]},"Embed Retrieval Query":{"main":[[{"node":"Retrieve Vector Context","type":"main","index":0}]]},"Retrieve Vector Context":{"main":[[{"node":"Build Writing Brief","type":"main","index":0}]]},"Build Writing Brief":{"main":[[{"node":"Call Writer Service","type":"main","index":0}]]},"Call Writer Service":{"main":[[{"node":"Writer OK?","type":"main","index":0}]]},"Writer OK?":{"main":[[{"node":"Handle Writer Error","type":"main","index":0}],[{"node":"Save Chapter","type":"main","index":0}]]},"Handle Writer Error":{"main":[[{"node":"Record Writer Failure","type":"main","index":0}]]},"Save Chapter":{"main":[[{"node":"Save Draft Version","type":"main","index":0}]]},"Save Draft Version":{"main":[[{"node":"Prepare Review Input","type":"main","index":0}]]},"Prepare Review Input":{"main":[[{"node":"A1 Continuity Review","type":"main","index":0}],[{"node":"A2 Character Review","type":"main","index":0}],[{"node":"A3 Plot Logic Review","type":"main","index":0}],[{"node":"A4 Pacing Review","type":"main","index":0}],[{"node":"A5 Style Review","type":"main","index":0}],[{"node":"A6 Safety Review","type":"main","index":0}],[{"node":"A7 Publication Review","type":"main","index":0}]]},"A1 Continuity Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":0}]]},"A2 Character Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":1}]]},"A3 Plot Logic Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":2}]]},"A4 Pacing Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":3}]]},"A5 Style Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":4}]]},"A6 Safety Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":5}]]},"A7 Publication Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":6}]]},"Collect All Reviews":{"main":[[{"node":"Save Review Records","type":"main","index":0}]]},"Save Review Records":{"main":[[{"node":"A8 Review Arbiter","type":"main","index":0}]]},"A8 Review Arbiter":{"main":[[{"node":"Decision: Human Review?","type":"main","index":0}],[{"node":"Decision: Publish Ready?","type":"main","index":0}]]},"Decision: Human Review?":{"main":[[],[{"node":"Mark Human Review","type":"main","index":0}]]},"Decision: Publish Ready?":{"main":[[{"node":"Prepare Blog Metadata","type":"main","index":0}],[{"node":"Prepare Blog Metadata","type":"main","index":0}]]},"Prepare Blog Metadata":{"main":[[{"node":"Generate Blog Metadata","type":"main","index":0}]]},"Generate Blog Metadata":{"main":[[{"node":"Parse Blog Metadata","type":"main","index":0}]]},"Parse Blog Metadata":{"main":[[{"node":"Check Existing Blog Post","type":"main","index":0}],[{"node":"Query Blog Posts Table","type":"main","index":0}]]},"Query Blog Posts Table":{"main":[[{"node":"Check Existing Blog Post","type":"main","index":0}]]},"Check Existing Blog Post":{"main":[[{"node":"Publish to WordPress","type":"main","index":0}]]},"Publish to WordPress":{"main":[[{"node":"Save Blog Post Record","type":"main","index":0}]]},"Save Blog Post Record":{"main":[[{"node":"Build Canon Updates","type":"main","index":0}]]},"Build Canon Updates":{"main":[[{"node":"Execute Canon Updates","type":"main","index":0}]]},"Execute Canon Updates":{"main":[[{"node":"Update Job Completed","type":"main","index":0}]]},"Update Job Completed":{"main":[[{"node":"Build Notification","type":"main","index":0}]]}},"name":"[NF] 03 — Daily Chapter Production","settings":{"executionOrder":"v1","timezone":"Asia/Tokyo","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":null}}