n8n/03_daily_chapter_production.workflow.json
{
  "name": "[NF] 03 — Daily Chapter Production",
  "nodes": [
    {
      "parameters": {},
      "id": "node-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM projects WHERE status = 'active' ORDER BY created_at DESC LIMIT 1"
      },
      "id": "node-002",
      "name": "Load Active Project",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "node-003",
      "name": "Active Project Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "content": "## No active project\n\nAll projects are either paused, completed, or in draft status.\nActivate a project to start daily generation.",
        "height": 120,
        "width": 400
      },
      "id": "node-003b",
      "name": "No Active Project Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM chapter_plans WHERE project_id = '{{ $json.id }}' AND status = 'planned' ORDER BY sequence LIMIT 1"
      },
      "id": "node-004",
      "name": "Select Next Chapter Plan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        900,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "node-005",
      "name": "Chapter Plan Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "content": "## No chapter plan found\n\nAll planned chapters have been processed.\nRun the Weekly Arc Planner to generate new chapter plans.",
        "height": 120,
        "width": 400
      },
      "id": "node-005b",
      "name": "No Plan Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO generation_jobs (project_id, chapter_plan_id, job_date, status) VALUES ('{{ $json.project_id }}', '{{ $json.id }}', CURRENT_DATE, 'locked') ON CONFLICT (project_id, chapter_plan_id, job_date) DO NOTHING RETURNING id"
      },
      "id": "node-006",
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1120,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "node-007",
      "name": "Lock Acquired?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1340,
        620
      ]
    },
    {
      "parameters": {
        "content": "## Already Generated Today\n\nThis chapter_plan has already been processed today.\nIdempotent lock prevented duplicate generation.",
        "height": 120,
        "width": 400
      },
      "id": "node-007b",
      "name": "Already Generated Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { project_id: $(\"Load Active Project\").first().json.id, config_loaded: true } }];"
      },
      "id": "node-008",
      "name": "Load Project Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "var pid = $(\"Load Active Project\").first().json.id;\nreturn [{ json: { project_id: pid, canon_loaded: true, characters: [], canon_rules: [], world_lore: [] } }];"
      },
      "id": "node-009",
      "name": "Load Structured Canon",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const chapterPlan = $('Select Next Chapter Plan').first().json;\nconst project = $('Load Active Project').first().json;\nconst queryParts = [\n  chapterPlan.title || '',\n  (chapterPlan.plot_goals || []).join(' '),\n  (chapterPlan.characters_involved || []).join(' '),\n  (chapterPlan.locations_involved || []).join(' '),\n  project.genre.join(' '),\n  project.tone || ''\n].filter(Boolean);\nconst retrievalQuery = queryParts.join(' ');\nreturn [{\n  json: {\n    retrieval_query: retrievalQuery,\n    project_id: project.id,\n    chapter_plan: chapterPlan,\n    top_k: 12\n  }\n}];"
      },
      "id": "node-010",
      "name": "Build Retrieval Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "var items = $input.all();\nreturn items.map(function(item) { return { json: { query_embedding: new Array(1536).fill(0), context: item.json } }; });"
      },
      "id": "node-011",
      "name": "Embed Retrieval Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(function(item) { return { json: { vector_context: [], project_id: item.json.project_id } }; });"
      },
      "id": "node-012",
      "name": "Retrieve Vector Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const project = $('Load Active Project').first().json;\nconst chapterPlan = $('Select Next Chapter Plan').first().json;\nconst projectConfig = $('Load Project Config').all();\nconst structuredCanon = $('Load Structured Canon').all();\nconst vectorContext = $('Retrieve Vector Context').all();\nconst job = $('Acquire Lock').first().json;\nlet styleGuide = {};\nlet hardRules = [];\nlet softRules = [];\nlet recentSummaries = [];\nlet systemSettings = {};\nfor (const item of projectConfig) {\n  const j = item.json;\n  if (Array.isArray(j)) {\n  }\n  if (j.narrative_perspective) styleGuide = j;\n  if (j.rule_type === 'hard') hardRules.push(j);\n  if (j.rule_type === 'soft') softRules.push(j);\n  if (j.summary && j.sequence) recentSummaries.push(j);\n  if (j.key && j.value) systemSettings[j.key] = j.value;\n}\nlet characters = [];\nlet characterStates = [];\nlet locations = [];\nlet plotThreads = [];\nlet foreshadowing = [];\nlet timelineEvents = [];\nfor (const item of structuredCanon) {\n  const j = item.json;\n  if (j.role) characters.push(j);\n  if (j.physical_state || j.emotional_state) characterStates.push(j);\n  if (j.location_type) locations.push(j);\n  if (j.thread_type) plotThreads.push(j);\n  if (j.clue_text) foreshadowing.push(j);\n  if (j.event_time_label) timelineEvents.push(j);\n}\nconst writingBrief = {\n  project: {\n    id: project.id,\n    title: project.name,\n    genre: project.genre,\n    tone: project.tone,\n    style_profile: project.style_profile\n  },\n  chapter_plan: {\n    id: chapterPlan.id,\n    sequence: chapterPlan.sequence,\n    title: chapterPlan.title,\n    plot_goals: chapterPlan.plot_goals || [],\n    summary: chapterPlan.summary || '',\n    arc_stage: chapterPlan.arc_stage || '',\n    major_events: chapterPlan.major_events || []\n  },\n  target_word_count: chapterPlan.target_word_count || project.daily_target_words || 3000,\n  recent_summaries: recentSummaries.reverse(),\n  active_characters: characters,\n  character_states: characterStates,\n  locations: locations,\n  plot_threads: plotThreads,\n  foreshadowing: foreshadowing,\n  timeline_events: timelineEvents,\n  canon_rules: { hard: hardRules, soft: softRules },\n  style_guide: styleGuide,\n  retrieved_context: vectorContext.map(v => ({\n    id: v.json.id,\n    source_type: v.json.source_type,\n    title: v.json.title,\n    content: v.json.content,\n    similarity: v.json.similarity\n  })),\n  hard_constraints: hardRules.map(r => r.rule_text),\n  quality_threshold: project.quality_threshold || 85,\n  max_revise_count: project.max_revise_count || 2,\n  auto_publish: project.auto_publish || false\n};\nreturn [{\n  json: {\n    job_id: job.id,\n    project_id: project.id,\n    chapter_plan_id: chapterPlan.id,\n    writing_brief: writingBrief,\n    auto_publish: project.auto_publish || false,\n    quality_threshold: project.quality_threshold || 85,\n    max_revise_count: project.max_revise_count || 2\n  }\n}];"
      },
      "id": "node-013",
      "name": "Build Writing Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "var brief = $(\"Build Writing Brief\").first().json;\nreturn [{ json: {\n  ok: true,\n  chapter_id: \"mock-\" + Date.now(),\n  content: \"# Chapter Title\\n\\nMock chapter content - writer service not yet configured.\\n\\nThis is placeholder text for testing the pipeline.\",\n  word_count: 100,\n  model: \"mock\",\n  usage: { input_tokens: 0, output_tokens: 0 }\n}}];"
      },
      "id": "node-014",
      "name": "Call Writer Service",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "operation": "true"
            }
          ]
        }
      },
      "id": "node-015",
      "name": "Writer OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2880,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const writerResult = $input.first().json;\nreturn [{\n  json: {\n    error: writerResult.error || 'Unknown writer error',\n    stderr: writerResult.stderr || '',\n    exitCode: writerResult.exitCode || -1,\n    duration_ms: writerResult.duration_ms || 0\n  }\n}];",
        "continueOnFail": true
      },
      "id": "node-016",
      "name": "Handle Writer Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        660
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 AS recorded"
      },
      "id": "node-017",
      "name": "Record Writer Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3320,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 AS saved"
      },
      "id": "node-018",
      "name": "Save Chapter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2880,
        940
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 AS version_saved"
      },
      "id": "node-019",
      "name": "Save Draft Version",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3100,
        940
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const writingBrief = $('Build Writing Brief').first().json.writing_brief;\nconst chapter = $('Call Writer Service').first().json.data;\nconst chapterId = $('Save Chapter').first().json.id;\nconst versionId = $('Save Draft Version').first().json.id;\nreturn [{\n  json: {\n    chapter_id: chapterId,\n    version_id: versionId,\n    chapter: chapter,\n    writing_brief: writingBrief\n  }\n}];"
      },
      "id": "node-020",
      "name": "Prepare Review Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        940
      ]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "你是 continuity_reviewer，负责检查长篇小说章节的连续性问题。你只输出合法 JSON。检查：时间线、地点、伤势、道具、人物关系、伏笔、世界观是否矛盾。blocking：违反 hard canon、关键状态矛盾、擅自改变主线。评分：90-100无问题 75-89小问题 60-74需要修订 0-59禁止发布。"
            },
            {
              "role": "user",
              "content": "writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4096
        },
        "requestOptions": {}
      },
      "id": "node-021",
      "name": "A1 Continuity Review",
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        3540,
        800
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "si5XfG0zsr4yuxSz",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "你是 character_reviewer，负责检查人物一致性。你只输出合法 JSON。检查：人物行为是否符合 personality、动机、speech_style、关系变化是否有铺垫。blocking：主角核心设定背离、关键关系突变、行为严重矛盾。"
            },
            {
              "role": "user",
              "content": "writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4096
        },
        "requestOptions": {}
      },
      "id": "node-022",
      "name": "A2 Character Review",
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        3540,
        960
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "si5XfG0zsr4yuxSz",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "你是 plot_logic_reviewer，负责检查情节因果和章节结构。你只输出合法 JSON。检查：是否完成 plot_goals、冲突因果、转折铺垫、是否有机械降神。blocking：核心目标未完成、完全无因果、机械降神解决冲突。"
            },
            {
              "role": "user",
              "content": "writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4096
        },
        "requestOptions": {}
      },
      "id": "node-023",
      "name": "A3 Plot Logic Review",
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        3540,
        1120
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "si5XfG0zsr4yuxSz",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "你是 pacing_reviewer，负责检查中文连载网文的节奏、爽点、钩子和读者留存。你只输出合法 JSON。检查：开头、冲突、情绪曲线、信息增量、爽点、段落长度、说明文字、章节结尾钩子。blocking：无实质冲突、结尾无阅读动力、大量说明不可读。"
            },
            {
              "role": "user",
              "content": "writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4096
        },
        "requestOptions": {}
      },
      "id": "node-024",
      "name": "A4 Pacing Review",
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        3540,
        1280
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "si5XfG0zsr4yuxSz",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "你是 style_reviewer，负责检查文风、语言质量和 AI 味。你只输出合法 JSON。检查：是否符合 style_guide、重复表达、空泛形容、AI 套话、对话自然度、错别字、病句。blocking：文风完全偏离、语言质量极低、大量不可读。"
            },
            {
              "role": "user",
              "content": "style_guide: {{ JSON.stringify($json.writing_brief.style_guide) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4096
        },
        "requestOptions": {}
      },
      "id": "node-025",
      "name": "A5 Style Review",
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        3540,
        1440
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "si5XfG0zsr4yuxSz",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "你是 safety_reviewer，负责检查公开发布风险、原创性风险和安全风险。你只输出合法 JSON。检查：违法/危险内容、过度模仿具体作者/作品、密钥泄露、隐私泄露、平台禁止内容。blocking：密钥/连接字符串/token泄露、版权抄袭、违法内容、隐私泄露。只要发现密钥或内部配置泄露，必须 blocking。"
            },
            {
              "role": "user",
              "content": "chapter: {{ JSON.stringify($json.chapter) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4096
        },
        "requestOptions": {}
      },
      "id": "node-026",
      "name": "A6 Safety Review",
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        3540,
        1600
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "si5XfG0zsr4yuxSz",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "你是 publication_reviewer，负责检查章节是否适合发布到博客。你只输出合法 JSON。检查：Markdown 有效性、标题、摘要、slug、tags、是否包含内部信息。blocking：Markdown严重损坏、含内部prompt/审稿意见、标题正文为空。"
            },
            {
              "role": "user",
              "content": "chapter: {{ JSON.stringify($json.chapter) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4096
        },
        "requestOptions": {}
      },
      "id": "node-027",
      "name": "A7 Publication Review",
      "type": "n8n-nodes-deepseek.deepSeek",
      "typeVersion": 1,
      "position": [
        3540,
        1760
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "si5XfG0zsr4yuxSz",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allReviews = $input.all();\nconst reviewData = [];\nfor (const item of allReviews) {\n  try {\n    const j = item.json;\n    if (j.choices?.[0]?.message?.content) reviewData.push(JSON.parse(j.choices[0].message.content));\n    else if (j.agent_name) reviewData.push(j);\n    else if (j.data?.agent_name) reviewData.push(j.data);\n    else reviewData.push({agent_name:\"unknown\",score:0,pass:false,blocking_issues:[{id:\"PARSE_ERR\",severity:\"high\",issue:\"Unable to parse review output\"}],minor_issues:[],recommendations:[]});\n  } catch (e) {\n    reviewData.push({agent_name:\"parse_error\",score:0,pass:false,blocking_issues:[{id:\"PARSE_ERR\",severity:\"high\",issue:\"Failed to parse: \"+e.message}],minor_issues:[],recommendations:[]});\n  }\n}\nconst safetyReview = reviewData.find(r => r.agent_name === \"safety_reviewer\");\nconst scores = reviewData.map(r => r.score).filter(s => typeof s === \"number\" && !isNaN(s));\nconst avgScore = scores.length > 0 ? Math.round((scores.reduce((a,b)=>a+b,0)/scores.length)*100)/100 : 0;\nconst allBlocking = [], allMinor = [], recsByAgent = {};\nfor (const r of reviewData) {\n  (r.blocking_issues||[]).forEach(i => allBlocking.push({...i,agent_name:r.agent_name}));\n  (r.minor_issues||[]).forEach(i => allMinor.push({...i,agent_name:r.agent_name}));\n  if (r.recommendations?.length) recsByAgent[r.agent_name] = r.recommendations;\n}\nconst hasBlocking = allBlocking.length > 0;\nconst safetyFailed = safetyReview?.pass === false;\nconst ctx = $(\"Build Writing Brief\").first()?.json || $input.first().json;\nconst revCnt = ctx.revise_count ?? 0;\nconst maxRev = ctx.max_revise_count ?? 2;\nconst qThresh = ctx.quality_threshold ?? 85;\nlet decision, finalScore;\nif (safetyFailed) { decision = \"needs_human_review\"; }\nelse if (revCnt >= maxRev && hasBlocking) { decision = \"needs_human_review\"; }\nelse if (hasBlocking) { decision = \"revise\"; }\nelse if (avgScore >= qThresh) { decision = \"publish_ready\"; }\nelse { decision = \"revise\"; }\nif (safetyFailed) finalScore = Math.min(avgScore, 40);\nelse if (hasBlocking) finalScore = Math.min(avgScore, 74);\nelse finalScore = avgScore;\nfinalScore = Math.round(finalScore * 100) / 100;\nconst prep = $(\"Prepare Review Input\").first().json;\nreturn [{ json: {\n  chapter_id: prep.chapter_id, version_id: prep.version_id,\n  average_score: avgScore, final_score: finalScore,\n  decision: decision, publish_allowed: decision === \"publish_ready\",\n  safety_pass: !safetyFailed, has_blocking: hasBlocking,\n  all_pass: reviewData.every(r => r.pass !== false),\n  blocking_issues: allBlocking, minor_issues: allMinor,\n  must_fix: allBlocking.filter(i => i.severity === \"high\" || safetyFailed),\n  recommendations: recsByAgent, reviews: reviewData,\n  agent_count: reviewData.length, blocking_count: allBlocking.length, minor_count: allMinor.length\n}}];"
      },
      "id": "node-028",
      "name": "Collect All Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        960
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 AS reviews_saved"
      },
      "id": "node-029",
      "name": "Save Review Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3980,
        960
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aggregate = $('Collect All Reviews').first().json;\nreturn [{ json: aggregate }];"
      },
      "id": "node-030",
      "name": "A8 Review Arbiter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.decision }}",
              "operation": "matches",
              "value2": "needs_human_review|stop"
            }
          ]
        }
      },
      "id": "node-031",
      "name": "Decision: Human Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4420,
        960
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 AS marked"
      },
      "id": "node-032",
      "name": "Mark Human Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        4640,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.decision }}",
              "operation": "contains",
              "value2": "publish_ready"
            }
          ]
        }
      },
      "id": "node-033",
      "name": "Decision: Publish Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4420,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "var chapter = $(\"Save Draft Version\").first().json;\nvar review = $(\"Collect All Reviews\").first().json;\nvar proj = $(\"Load Active Project\").first().json;\n\nvar title = chapter.title || \"Untitled\";\nvar content = chapter.content || \"\";\nvar date = new Date().toISOString().split(\"T\")[0];\nvar seq = chapter.sequence || 1;\n\nvar md = \"# \" + title + \"\\n\\n\";\nmd += \"> 项目: \" + (proj.name || \"\") + \" | 章节: \" + seq + \" | 日期: \" + date + \"\\n\\n\";\nmd += content + \"\\n\\n\";\nmd += \"---\\n\";\nmd += \"*Generated by AI Novel Factory*\\n\";\n\nvar slug = (proj.slug || proj.name || \"novel\").replace(/[^a-zA-Z0-9\\u4e00-\\u9fff]+/g, \"-\").toLowerCase();\nvar filename = \"/data/paper/\" + slug + \"-ch\" + String(seq).padStart(3,\"0\") + \".md\";\n\nreturn [{ json: { filename: filename, content: md, title: title, sequence: seq } }];"
      },
      "id": "node-034",
      "name": "Build Markdown Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4640,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "var fs = require(\"fs\");\nvar path = require(\"path\");\nvar data = $input.first().json;\n\nvar dir = \"/data/paper\";\ntry { fs.mkdirSync(dir, { recursive: true }); } catch(e) {}\n\nfs.writeFileSync(data.filename, data.content, \"utf8\");\nconsole.log(\"Saved: \" + data.filename);\n\nreturn [{ json: { saved: true, filename: data.filename, title: data.title, sequence: data.sequence } }];"
      },
      "id": "node-035",
      "name": "Write Chapter File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4860,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "node-036",
      "name": "File Save Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5080,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "node-037",
      "name": "Cleanup Temp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4640,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "node-038",
      "name": "Mark Published",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4860,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "var d = $input.first().json;\nreturn [{ json: { success: true, filename: d.filename, message: \"Chapter saved to \" + d.filename } }];"
      },
      "id": "node-039",
      "name": "File Written",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5080,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 AS post_saved"
      },
      "id": "node-040",
      "name": "Save Blog Post Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        5300,
        1280
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { sql: \"SELECT 1 AS canon_updated\" } }];"
      },
      "id": "node-041",
      "name": "Build Canon Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "node-042",
      "name": "Execute Canon Updates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        5740,
        1280
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 AS job_updated"
      },
      "id": "node-043",
      "name": "Update Job Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        5960,
        1280
      ],
      "credentials": {
        "postgres": {
          "id": "0w5EYts2acIZab9Y",
          "name": "Neon Pooled (n8n)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const project = $('Load Active Project').first().json;\nconst chapter = $('Call Writer Service').first().json.data;\nconst finalScore = $('Collect All Reviews').first().json.final_score;\nconst blogPost = $('Save Blog Post Record').first().json;\nconst job = $('Build Writing Brief').first().json;\nreturn [{\n  json: {\n    message: `📖 **${project.name}**\\n` +\n      `Chapter ${$('Select Next Chapter Plan').first().json.sequence}: ${chapter.title}\\n` +\n      `Words: ${chapter.word_count} | Score: ${finalScore}\\n` +\n      `Status: ${job.auto_publish && finalScore >= job.quality_threshold ? 'Published' : 'Draft'}\\n` +\n      `URL: ${blogPost.url || 'N/A'}`,\n    subject: `[Novel Factory] ${project.name} Ch${$('Select Next Chapter Plan').first().json.sequence} — Score ${finalScore}`,\n    project_title: project.name,\n    chapter_title: chapter.title,\n    word_count: chapter.word_count,\n    score: finalScore,\n    url: blogPost.url || '',\n    needs_human_review: false\n  }\n}];"
      },
      "id": "node-044",
      "name": "Build Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6180,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nreturn [{\n  json: {\n    error: error.message || 'Unknown workflow error',\n    node: error.node || 'unknown',\n    timestamp: new Date().toISOString(),\n    job_id: $('Build Writing Brief').first()?.json?.job_id || null\n  }\n}];",
        "continueOnFail": true
      },
      "id": "node-045",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6180,
        1500
      ]
    }
  ],
  "connections": {
    "Load Active Project": {
      "main": [
        [
          {
            "node": "Active Project Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Active Project Found?": {
      "main": [
        [
          {
            "node": "No Active Project Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select Next Chapter Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Next Chapter Plan": {
      "main": [
        [
          {
            "node": "Chapter Plan Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chapter Plan Found?": {
      "main": [
        [
          {
            "node": "No Plan Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acquire Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Lock": {
      "main": [
        [
          {
            "node": "Lock Acquired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Acquired?": {
      "main": [
        [
          {
            "node": "Already Generated Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Project Config": {
      "main": [
        [
          {
            "node": "Load Structured Canon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Structured Canon": {
      "main": [
        [
          {
            "node": "Build Retrieval Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retrieval Query": {
      "main": [
        [
          {
            "node": "Embed Retrieval Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Retrieval Query": {
      "main": [
        [
          {
            "node": "Retrieve Vector Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Vector Context": {
      "main": [
        [
          {
            "node": "Build Writing Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Writing Brief": {
      "main": [
        [
          {
            "node": "Call Writer Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Writer Service": {
      "main": [
        [
          {
            "node": "Writer OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer OK?": {
      "main": [
        [
          {
            "node": "Handle Writer Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Writer Error": {
      "main": [
        [
          {
            "node": "Record Writer Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chapter": {
      "main": [
        [
          {
            "node": "Save Draft Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Draft Version": {
      "main": [
        [
          {
            "node": "Prepare Review Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Review Input": {
      "main": [
        [
          {
            "node": "A1 Continuity Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "A2 Character Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "A3 Plot Logic Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "A4 Pacing Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "A5 Style Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "A6 Safety Review",
            "type": "main",
            "index": 0
          },
          {
            "node": "A7 Publication Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A1 Continuity Review": {
      "main": [
        [
          {
            "node": "Collect All Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A2 Character Review": {
      "main": [
        [
          {
            "node": "Collect All Reviews",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "A3 Plot Logic Review": {
      "main": [
        [
          {
            "node": "Collect All Reviews",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "A4 Pacing Review": {
      "main": [
        [
          {
            "node": "Collect All Reviews",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "A5 Style Review": {
      "main": [
        [
          {
            "node": "Collect All Reviews",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "A6 Safety Review": {
      "main": [
        [
          {
            "node": "Collect All Reviews",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "A7 Publication Review": {
      "main": [
        [
          {
            "node": "Collect All Reviews",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Collect All Reviews": {
      "main": [
        [
          {
            "node": "Save Review Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Review Records": {
      "main": [
        [
          {
            "node": "A8 Review Arbiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A8 Review Arbiter": {
      "main": [
        [
          {
            "node": "Decision: Human Review?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Decision: Publish Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision: Human Review?": {
      "main": [
        [],
        [
          {
            "node": "Mark Human Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision: Publish Ready?": {
      "main": [
        [
          {
            "node": "Build Markdown Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Markdown Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Blog Post Record": {
      "main": [
        [
          {
            "node": "Build Canon Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Canon Updates": {
      "main": [
        [
          {
            "node": "Execute Canon Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Canon Updates": {
      "main": [
        [
          {
            "node": "Update Job Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Completed": {
      "main": [
        [
          {
            "node": "Build Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Active Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Markdown Output": {
      "main": [
        [
          {
            "node": "Write Chapter File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Chapter File": {
      "main": [
        [
          {
            "node": "File Save Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Save Result": {
      "main": [
        [
          {
            "node": "Cleanup Temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Temp": {
      "main": [
        [
          {
            "node": "Mark Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Published": {
      "main": [
        [
          {
            "node": "File Written",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Written": {
      "main": [
        [
          {
            "node": "Save Blog Post Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}