n8n/05_weekly_arc_planner.workflow.json
{"updatedAt":"2026-05-07T10:28:20.729Z","createdAt":"2026-05-07T10:28:20.729Z","id":"AXCjYoRO8h60CcjB","name":"[NF] 05 — Weekly Arc Planner","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":1}],"triggerTimes":{"hour":10,"minute":0,"weekday":1}}},"id":"node-001","name":"Weekly Monday 10:00 JST","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[460,300]},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, slug, genre, tone, style_profile, target_total_words, daily_target_words\nFROM projects\nWHERE status = 'active'\nORDER BY created_at\nLIMIT 1;"},"id":"node-002","name":"Load Active Project","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,300],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isNotEmpty"}]}},"id":"node-003","name":"Project Found?","type":"n8n-nodes-base.if","typeVersion":1,"position":[900,300]},{"parameters":{"content":"## No active project\n\nNo active project found for weekly planning.","height":100,"width":300},"id":"node-003b","name":"No Project Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,160]},{"parameters":{"operation":"executeQuery","query":"-- Published chapters (last 14)\nSELECT id, sequence, title, summary, word_count, published_at\nFROM chapters\nWHERE project_id = $1 AND publish_status = 'published'\nORDER BY sequence DESC\nLIMIT 14;\n\n-- Active plot threads\nSELECT * FROM plot_threads\nWHERE project_id = $1 AND arc_status = 'active';\n\n-- Unresolved foreshadowing\nSELECT * FROM foreshadowing\nWHERE project_id = $1 AND status IN ('introduced', 'reinforced');\n\n-- Chapter plans (pending)\nSELECT * FROM chapter_plans\nWHERE project_id = $1 AND status = 'planned'\nORDER BY sequence;\n\n-- Recent reader feedback\nSELECT * FROM reader_feedback\nWHERE project_id = $1\nORDER BY collected_at DESC\nLIMIT 20;\n\n-- Chapter plan stats\nSELECT\n  COUNT(*) AS total_planned,\n  COUNT(*) FILTER (WHERE status = 'published') AS total_published,\n  SUM(cp.target_word_count) FILTER (WHERE status = 'published') AS total_words_written\nFROM chapter_plans cp WHERE cp.project_id = $1;","additionalFields":{"values":[{"name":"1","value":"={{ $json.id }}"}]}},"id":"node-004","name":"Load Project State","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[900,460],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"// Build the weekly planning prompt using all loaded context\nconst project = $('Load Active Project').first().json;\nconst stateResults = $('Load Project State').all();\n\n// Parse multi-statement results\nlet recentChapters = [];\nlet plotThreads = [];\nlet foreshadowing = [];\nlet existingPlans = [];\nlet readerFeedback = [];\nlet stats = {};\n\nfor (const item of stateResults) {\n  const j = item.json;\n  if (j.sequence && j.summary) recentChapters.push(j);\n  else if (j.thread_type) plotThreads.push(j);\n  else if (j.clue_text) foreshadowing.push(j);\n  else if (j.plot_goals) existingPlans.push(j);\n  else if (j.feedback_text || j.sentiment) readerFeedback.push(j);\n  else if (j.total_planned !== undefined) stats = j;\n}\n\n// Determine last planned sequence\nconst maxPlannedSeq = existingPlans.length > 0\n  ? Math.max(...existingPlans.map(p => p.sequence))\n  : recentChapters.length > 0\n    ? Math.max(...recentChapters.map(c => c.sequence))\n    : 0;\n\nreturn [{\n  json: {\n    project: project,\n    recent_chapters: recentChapters,\n    active_plot_threads: plotThreads,\n    unresolved_foreshadowing: foreshadowing,\n    existing_plans: existingPlans,\n    reader_feedback: readerFeedback,\n    stats: stats,\n    next_sequence_start: maxPlannedSeq + 1,\n    chapters_to_plan: 10\n  }\n}];"},"id":"node-005","name":"Build Planning Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,460]},{"parameters":{"model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是一位资深网络小说策划编辑，负责每周剧情规划。你只输出合法 JSON。任务：1.分析已发布章节节奏和读者反馈 2.检查未回收伏笔和活跃剧情线 3.生成未来7-14章的详细章节计划 4.更新剧情线和伏笔状态 5.不得覆盖locked canon 6.对重大主线变更标记human_review_required=true 7.每章计划必须包含plot_goals、预期冲突、涉及角色、涉及地点、情绪曲线目标。"},{"role":"user","content":"={{ JSON.stringify($json) }}"}]},"options":{"temperature":0.7},"requestOptions":{}},"id":"node-006","name":"Generate Arc Plan via AI","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[1340,460],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"jsCode":"const response = $input.first().json;\nlet plan;\ntry {\n  plan = JSON.parse(response.choices[0].message.content);\n} catch (e) {\n  throw new Error(`Failed to parse arc plan: ${e.message}`);\n}\n\nconst projectId = $('Load Active Project').first().json.id;\nconst context = $('Build Planning Context').first().json;\n\nreturn [{\n  json: {\n    project_id: projectId,\n    plan: plan,\n    next_sequence_start: context.next_sequence_start,\n    has_human_review: (plan.human_review_required || []).length > 0\n  }\n}];"},"id":"node-007","name":"Parse Arc Plan","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,460]},{"parameters":{"jsCode":"// Build INSERTs for new chapter plans\nconst data = $input.first().json;\nconst plan = data.plan;\nconst projectId = data.project_id;\nconst items = [];\n\n(plan.new_chapter_plans || []).forEach((cp, i) => {\n  items.push({\n    json: {\n      sql: `INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, summary, target_word_count, major_events, characters_involved, locations_involved, arc_stage, status)\n      VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, 'planned')\n      ON CONFLICT (project_id, sequence) DO UPDATE SET\n        title = EXCLUDED.title,\n        plot_goals = EXCLUDED.plot_goals,\n        summary = EXCLUDED.summary,\n        major_events = EXCLUDED.major_events,\n        characters_involved = EXCLUDED.characters_involved,\n        locations_involved = EXCLUDED.locations_involved,\n        arc_stage = EXCLUDED.arc_stage,\n        updated_at = now()`,\n      values: [\n        projectId,\n        data.next_sequence_start + i,\n        cp.title,\n        cp.plot_goals || [],\n        cp.summary || '',\n        cp.target_word_count || 3000,\n        cp.major_events || [],\n        cp.characters_involved || [],\n        cp.locations_involved || [],\n        cp.arc_stage || ''\n      ]\n    }\n  });\n});\n\n// Plot thread updates\n(plan.plot_thread_updates || []).forEach(ptu => {\n  if (ptu.id) {\n    items.push({\n      json: {\n        sql: `UPDATE plot_threads SET arc_status = $2, resolution_notes = $3, updated_at = now() WHERE id = $1 AND project_id = $4 AND is_locked = false`,\n        values: [ptu.id, ptu.new_status || 'active', ptu.notes || '', projectId]\n      }\n    });\n  } else if (ptu.action === 'new') {\n    items.push({\n      json: {\n        sql: `INSERT INTO plot_threads (project_id, title, description, thread_type) VALUES ($1, $2, $3, 'main') ON CONFLICT DO NOTHING`,\n        values: [projectId, ptu.title, ptu.notes || '']\n      }\n    });\n  }\n});\n\n// Foreshadowing updates\n(plan.foreshadowing_updates || []).forEach(fu => {\n  if (fu.id && fu.action === 'resolve') {\n    items.push({\n      json: {\n        sql: `UPDATE foreshadowing SET status = 'resolved', updated_at = now() WHERE id = $1 AND project_id = $2 AND is_locked = false`,\n        values: [fu.id, projectId]\n      }\n    });\n  } else if (fu.action === 'new') {\n    items.push({\n      json: {\n        sql: `INSERT INTO foreshadowing (project_id, clue_text, intended_payoff, status) VALUES ($1, $2, $3, 'introduced') ON CONFLICT DO NOTHING`,\n        values: [projectId, fu.details || '', fu.details || '']\n      }\n    });\n  }\n});\n\nreturn items;"},"id":"node-008","name":"Build Plan SQLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,460]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","additionalFields":{"values":"={{ $json.values }}"}},"id":"node-009","name":"Execute Plan Updates","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2000,460],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"const data = $('Parse Arc Plan').first().json;\nconst plan = data.plan;\n\nreturn [{\n  json: {\n    project_id: data.project_id,\n    chapters_planned: (plan.new_chapter_plans || []).length,\n    plot_threads_updated: (plan.plot_thread_updates || []).length,\n    foreshadowing_updated: (plan.foreshadowing_updates || []).length,\n    human_review_count: (plan.human_review_required || []).length,\n    human_review_items: plan.human_review_required || [],\n    weekly_summary: plan.weekly_summary || '',\n    pacing_analysis: plan.weekly_analysis?.current_pacing || '',\n    status: 'weekly_plan_complete'\n  }\n}];"},"id":"node-010","name":"Weekly Plan Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,460]}],"connections":{"Weekly Monday 10:00 JST":{"main":[[{"node":"Load Active Project","type":"main","index":0}]]},"Load Active Project":{"main":[[{"node":"Project Found?","type":"main","index":0}]]},"Project Found?":{"main":[[{"node":"No Project Note","type":"main","index":0}],[{"node":"Load Project State","type":"main","index":0}]]},"Load Project State":{"main":[[{"node":"Build Planning Context","type":"main","index":0}]]},"Build Planning Context":{"main":[[{"node":"Generate Arc Plan via AI","type":"main","index":0}]]},"Generate Arc Plan via AI":{"main":[[{"node":"Parse Arc Plan","type":"main","index":0}]]},"Parse Arc Plan":{"main":[[{"node":"Build Plan SQLs","type":"main","index":0}]]},"Build Plan SQLs":{"main":[[{"node":"Execute Plan Updates","type":"main","index":0}]]},"Execute Plan Updates":{"main":[[{"node":"Weekly Plan Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tokyo"},"staticData":null,"meta":null,"pinData":null,"versionId":"6680351f-92ab-45d2-97eb-843b6bf5e212","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-05-07T10:28:20.737Z","createdAt":"2026-05-07T10:28:20.737Z","role":"workflow:owner","workflowId":"AXCjYoRO8h60CcjB","projectId":"JzFsgsHcvfsemyYM","project":{"updatedAt":"2026-05-07T09:46:36.968Z","createdAt":"2026-05-07T09:46:36.968Z","id":"JzFsgsHcvfsemyYM","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"7e63a630-4760-4bf1-95b8-350c141d6df9"}}],"tags":[],"activeVersion":null}