n8n/wf02_exec.json
{"data":[{"id":"53","finished":true,"mode":"manual","retryOf":null,"retrySuccessId":null,"status":"success","startedAt":"2026-05-07T14:58:42.177Z","stoppedAt":"2026-05-07T14:58:45.281Z","workflowId":"aCN37gN7682p0h9W","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"runData":{"Manual Trigger":[{"startTime":1778165922187,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{},"pairedItem":{"item":0}}]]}}],"Prepare Ingestion Input":[{"startTime":1778165922188,"executionIndex":1,"source":[{"previousNode":"Manual Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":4,"executionStatus":"success","data":{"main":[[{"json":{"project_id":"","input_type":"author_note","content":"","title":"","source_chapter_id":null,"override_locked":false},"pairedItem":{"item":0}}]]}}],"Load Project":[{"startTime":1778165922192,"executionIndex":2,"source":[{"previousNode":"Prepare Ingestion Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1794,"executionStatus":"success","data":{"main":[[{"json":{"id":"24509d94-5b35-4037-95f9-2d74afb17680","name":"My Novel","genre":"fantasy","target_audience":"18-35","style_profile":{"tone":"热血","narrative_style":"第三人称，信息密度高","forbidden_phrases":["眼中闪过","嘴角上扬","不由得"],"preferred_techniques":["动作链","对话推进","感官细节"]},"total_target_words":500000,"daily_target_words":3000,"auto_publish":false,"quality_threshold":85,"blog_provider":"wordpress","status":"active","metadata":{"slug":"my-novel","synopsis":"","sub_genre":[],"max_revise_count":2},"created_at":"2026-05-07T12:50:45.893Z","updated_at":"2026-05-07T12:52:57.323Z"},"pairedItem":{"item":0}}]]}}],"Load Existing Canon":[{"startTime":1778165923987,"executionIndex":3,"source":[{"previousNode":"Load Project","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"project_id":"24509d94-5b35-4037-95f9-2d74afb17680","canon_loaded":true},"pairedItem":{"item":0}}]]}}],"Build Extraction Prompt":[{"startTime":1778165923993,"executionIndex":4,"source":[{"previousNode":"Load Existing Canon","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"project":{"id":"24509d94-5b35-4037-95f9-2d74afb17680","name":"My Novel","genre":"fantasy","target_audience":"18-35","style_profile":{"tone":"热血","narrative_style":"第三人称，信息密度高","forbidden_phrases":["眼中闪过","嘴角上扬","不由得"],"preferred_techniques":["动作链","对话推进","感官细节"]},"total_target_words":500000,"daily_target_words":3000,"auto_publish":false,"quality_threshold":85,"blog_provider":"wordpress","status":"active","metadata":{"slug":"my-novel","synopsis":"","sub_genre":[],"max_revise_count":2},"created_at":"2026-05-07T12:50:45.893Z","updated_at":"2026-05-07T12:52:57.323Z"},"prompt_input":{"project":{"id":"24509d94-5b35-4037-95f9-2d74afb17680","name":"My Novel","genre":"fantasy","target_audience":"18-35","style_profile":{"tone":"热血","narrative_style":"第三人称，信息密度高","forbidden_phrases":["眼中闪过","嘴角上扬","不由得"],"preferred_techniques":["动作链","对话推进","感官细节"]},"total_target_words":500000,"daily_target_words":3000,"auto_publish":false,"quality_threshold":85,"blog_provider":"wordpress","status":"active","metadata":{"slug":"my-novel","synopsis":"","sub_genre":[],"max_revise_count":2},"created_at":"2026-05-07T12:50:45.893Z","updated_at":"2026-05-07T12:52:57.323Z"},"input_type":"chapter_update","content":"","title":"","existing_canon":{"characters":[],"locations":[],"items":[]}},"system_prompt":"You are a novel editor extracting canon from new content. Output valid JSON only.","prompt":"{\"project\":{\"id\":\"24509d94-5b35-4037-95f9-2d74afb17680\",\"name\":\"My Novel\",\"genre\":\"fantasy\",\"target_audience\":\"18-35\",\"style_profile\":{\"tone\":\"热血\",\"narrative_style\":\"第三人称，信息密度高\",\"forbidden_phrases\":[\"眼中闪过\",\"嘴角上扬\",\"不由得\"],\"preferred_techniques\":[\"动作链\",\"对话推进\",\"感官细节\"]},\"total_target_words\":500000,\"daily_target_words\":3000,\"auto_publish\":false,\"quality_threshold\":85,\"blog_provider\":\"wordpress\",\"status\":\"active\",\"metadata\":{\"slug\":\"my-novel\",\"synopsis\":\"\",\"sub_genre\":[],\"max_revise_count\":2},\"created_at\":\"2026-05-07T12:50:45.893Z\",\"updated_at\":\"2026-05-07T12:52:57.323Z\"},\"input\":{\"project_id\":\"24509d94-5b35-4037-95f9-2d74afb17680\",\"canon_loaded\":true},\"task\":\"extract_canon\"}"},"pairedItem":{"item":0}}]]}}],"Extract Canon via AI":[{"startTime":1778165923999,"executionIndex":5,"source":[{"previousNode":"Build Extraction Prompt","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1008,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"{\n  \"characters\": [],\n  \"locations\": [],\n  \"items\": []\n}"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"Parse & Validate Extraction":[{"startTime":1778165925008,"executionIndex":6,"source":[{"previousNode":"Extract Canon via AI","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"canon":{"characters":[],"locations":[],"items":[]},"project_id":"24509d94-5b35-4037-95f9-2d74afb17680"},"pairedItem":{"item":0}}]]}}],"Build Canon Update SQL":[{"startTime":1778165925014,"executionIndex":7,"source":[{"previousNode":"Parse & Validate Extraction","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"sql":"SELECT 1 AS canon_updated"},"pairedItem":{"item":0}}]]}}],"Execute Canon Updates":[{"startTime":1778165925019,"executionIndex":8,"source":[{"previousNode":"Build Canon Update SQL","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":254,"executionStatus":"success","data":{"main":[[{"json":{"canon_updated":1},"pairedItem":{"item":0}}]]}}],"Ingestion Summary":[{"startTime":1778165925274,"executionIndex":9,"source":[{"previousNode":"Execute Canon Updates","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"success":true,"message":"Ingestion complete"},"pairedItem":{"item":0}}]]}}]},"pinData":null,"lastNodeExecuted":"Ingestion Summary"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1778165922182,"source":"manual","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger"}}},"resumeToken":"fa315a486fd1ab9ef3df7d8216ea416af826086bcaa0bd2b68637b52082cf253"},"workflowData":{"id":"aCN37gN7682p0h9W","name":"[NF] 02 — Bible Ingestion","active":false,"activeVersionId":null,"isArchived":false,"createdAt":"2026-05-07T10:28:20.472Z","updatedAt":"2026-05-07T14:57:55.673Z","nodes":[{"parameters":{"notice":""},"id":"node-001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[460,300]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// ============================================================\n// Collect ingestion inputs.\n// Can be called manually or by another workflow via\n// Execute Workflow node.\n// ============================================================\n\nreturn [{\n  json: {\n    project_id: $input.first().json.project_id || '',\n    input_type: $input.first().json.input_type || 'author_note',\n    // author_note | new_chapter | setting_update | character_update | custom\n    content: $input.first().json.content || '',\n    title: $input.first().json.title || '',\n    source_chapter_id: $input.first().json.source_chapter_id || null,\n    override_locked: $input.first().json.override_locked || false\n  }\n}];","notice":""},"id":"node-002","name":"Prepare Ingestion Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT * FROM projects WHERE status = 'active' ORDER BY created_at DESC LIMIT 1","options":{}},"id":"node-003","name":"Load Project","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[900,300],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { project_id: $input.first().json.id, canon_loaded: true } }];","notice":""},"id":"node-006","name":"Load Existing Canon","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,460]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var proj = $(\"Load Project\").first().json;\nvar input = $input.first().json;\nreturn [{ json: {\n  project: proj,\n  prompt_input: {\n    project: proj,\n    input_type: input.input_type || \"chapter_update\",\n    content: input.content || \"\",\n    title: input.title || \"\",\n    existing_canon: { characters: [], locations: [], items: [] }\n  },\n  system_prompt: \"You are a novel editor extracting canon from new content. Output valid JSON only.\",\n  prompt: JSON.stringify({ project: proj, input: input, task: \"extract_canon\" })\n}}];","notice":""},"id":"node-007","name":"Build Extraction Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,460]},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是一位资深小说编辑，负责从新内容中提取结构化 canon 信息。请严格按 JSON schema 输出，不要包含任何解释。关键规则：1. 不要覆盖 existing_canon 中标记为 locked=true 的内容 2. 对不确定的内容设置 confidence < 0.7 3. 不得输出解释、分析、寒暄或 markdown 代码块"},{"role":"user","content":"={{ JSON.stringify($json.prompt_input) }}"}]},"simplifyOutput":true,"options":{"maxTokens":4096,"temperature":0.7},"requestOptions":{}},"id":"node-008","name":"Extract Canon via AI","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[1560,460],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var resp = $input.first().json;\nvar raw = \"\";\nif (resp.message && resp.message.content) raw = resp.message.content;\nelse if (resp.choices && resp.choices[0]) raw = resp.choices[0].message.content;\nelse if (typeof resp === \"string\") raw = resp;\nelse raw = JSON.stringify(resp);\nraw = raw.trim();\nif (raw.startsWith(\"```\")) { var nl = raw.indexOf(\"\\n\"); if (nl >= 0) raw = raw.substring(nl + 1); }\nif (raw.endsWith(\"```\")) raw = raw.substring(0, raw.length - 3).trim();\nvar canon; try { canon = JSON.parse(raw); } catch(e) { canon = { raw: raw, parse_error: e.message }; }\nreturn [{ json: { canon: canon, project_id: $(\"Load Project\").first().json.id } }];","notice":""},"id":"node-009","name":"Parse & Validate Extraction","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,460]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { sql: \"SELECT 1 AS canon_updated\" } }];","notice":""},"id":"node-010","name":"Build Canon Update SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,460]},{"parameters":{"resource":"database","operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"node-011","name":"Execute Canon Updates","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2220,460],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { success: true, message: \"Ingestion complete\" } }];","notice":""},"id":"node-012","name":"Ingestion Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,460]}],"connections":{"Manual Trigger":{"main":[[{"node":"Prepare Ingestion Input","type":"main","index":0}]]},"Prepare Ingestion Input":{"main":[[{"node":"Load Project","type":"main","index":0}]]},"Load Project":{"main":[[{"node":"Load Existing Canon","type":"main","index":0}]]},"Load Existing Canon":{"main":[[{"node":"Build Extraction Prompt","type":"main","index":0}]]},"Build Extraction Prompt":{"main":[[{"node":"Extract Canon via AI","type":"main","index":0}]]},"Extract Canon via AI":{"main":[[{"node":"Parse & Validate Extraction","type":"main","index":0}]]},"Parse & Validate Extraction":{"main":[[{"node":"Build Canon Update SQL","type":"main","index":0}]]},"Build Canon Update SQL":{"main":[[{"node":"Execute Canon Updates","type":"main","index":0}]]},"Execute Canon Updates":{"main":[[{"node":"Ingestion Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tokyo"},"staticData":null,"pinData":null},"customData":{}}],"nextCursor":"eyJsYXN0SWQiOiI1MyIsImxpbWl0IjoxfQ=="}