n8n/wf02_audit.json
{"updatedAt":"2026-05-07T10:28:20.472Z","createdAt":"2026-05-07T10:28:20.472Z","id":"aCN37gN7682p0h9W","name":"[NF] 02 — Bible Ingestion","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"node-001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[460,300]},{"parameters":{"jsCode":"// ============================================================\n// Collect ingestion inputs.\n// Can be called manually or by another workflow via\n// Execute Workflow node.\n// ============================================================\n\nreturn [{\n  json: {\n    project_id: $input.first().json.project_id || '',\n    input_type: $input.first().json.input_type || 'author_note',\n    // author_note | new_chapter | setting_update | character_update | custom\n    content: $input.first().json.content || '',\n    title: $input.first().json.title || '',\n    source_chapter_id: $input.first().json.source_chapter_id || null,\n    override_locked: $input.first().json.override_locked || false\n  }\n}];"},"id":"node-002","name":"Prepare Ingestion Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, status, style_profile, genre\nFROM projects\nWHERE id = $1;","additionalFields":{"values":[{"name":"1","value":"={{ $json.project_id }}"}]}},"id":"node-003","name":"Load Project","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[900,300],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isNotEmpty"}]}},"id":"node-004","name":"Project Exists?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,300]},{"parameters":{"content":"## ⚠️ Project Not Found\n\nCheck the project_id and try again.","height":120,"width":400},"id":"node-005","name":"Error: Project Not Found","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1340,160]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  id, project_id, name, role, personality, speech_style, motivation,\n  appearance, abilities, relationships,\n  status AS character_status, is_locked\nFROM characters WHERE project_id = $1;\n\nSELECT\n  id, project_id, name, location_type, description,\n  parent_location_id, is_locked\nFROM locations WHERE project_id = $1;\n\nSELECT\n  id, project_id, name, org_type, description,\n  goals, leader_id, members, is_locked\nFROM organizations WHERE project_id = $1;\n\nSELECT\n  id, project_id, name, item_type, description,\n  current_owner_id, capabilities, is_locked\nFROM items WHERE project_id = $1;\n\nSELECT\n  id, project_id, title, category, content, is_locked\nFROM world_lore WHERE project_id = $1;\n\nSELECT\n  id, project_id, name, description, rules, tiers, is_locked\nFROM magic_or_power_systems WHERE project_id = $1;\n\nSELECT\n  id, project_id, rule_type, category, rule_text, rationale, is_locked\nFROM canon_rules WHERE project_id = $1;\n\nSELECT\n  id, project_id, name, is_active\nFROM style_guides WHERE project_id = $1 AND is_active = true;","additionalFields":{"values":[{"name":"1","value":"={{ $json.id }}"}]}},"id":"node-006","name":"Load Existing Canon","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1120,460],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"// ============================================================\n// Build the canon extraction prompt.\n// Uses the canon_extractor prompt template.\n// ============================================================\n\nconst project = $('Load Project').first().json;\nconst ingestion = $('Prepare Ingestion Input').first().json;\nconst canonData = $input.all();\n\n// Flatten all canon query results\nconst existingCanon = {};\nfor (const item of canonData) {\n  const j = item.json;\n  if (Array.isArray(j)) {\n    // Multi-statement results come as array\n    // We'll pass them through\n  }\n}\n\nconst promptInput = {\n  project_id: ingestion.project_id,\n  chapter_id: ingestion.source_chapter_id || null,\n  chapter_text: ingestion.content,\n  existing_canon: existingCanon,\n  input_type: ingestion.input_type,\n  project: {\n    title: project.name,\n    genre: project.genre,\n    style_profile: project.style_profile\n  }\n};\n\nreturn [{\n  json: {\n    project: project,\n    ingestion: ingestion,\n    prompt_input: promptInput\n  }\n}];"},"id":"node-007","name":"Build Extraction Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,460]},{"parameters":{"model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是一位资深小说编辑，负责从新内容中提取结构化 canon 信息。请严格按 JSON schema 输出，不要包含任何解释。关键规则：1. 不要覆盖 existing_canon 中标记为 locked=true 的内容 2. 对不确定的内容设置 confidence < 0.7 3. 不得输出解释、分析、寒暄或 markdown 代码块"},{"role":"user","content":"={{ JSON.stringify($json.prompt_input) }}"}]},"options":{"temperature":0.7},"requestOptions":{}},"id":"node-008","name":"Extract Canon via AI","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[1560,460],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"jsCode":"// Parse AI response and check against locked canon\nconst response = $input.first().json;\n\nlet extracted;\ntry {\n  if (response.choices && response.choices[0]) {\n    extracted = JSON.parse(response.choices[0].message.content);\n  } else {\n    extracted = response;\n  }\n} catch (e) {\n  throw new Error(`Failed to parse canon extraction: ${e.message}`);\n}\n\n// Flag items that need human review\nconst humanReviewItems = [];\n\n// Check character updates against locked canon\n(extracted.character_state_updates || []).forEach(u => {\n  if (u.confidence < 0.7) {\n    humanReviewItems.push({\n      reason: `Low confidence character update for \"${u.character_name}\"`,\n      content: JSON.stringify(u)\n    });\n  }\n});\n\n// Check new lore\n(extracted.new_lore || []).forEach(l => {\n  if (l.confidence < 0.7) {\n    humanReviewItems.push({\n      reason: `Low confidence lore: \"${l.title}\"`,\n      content: JSON.stringify(l)\n    });\n  }\n  if (l.should_lock && l.confidence < 0.9) {\n    humanReviewItems.push({\n      reason: `Lore marked for locking but confidence < 0.9: \"${l.title}\"`,\n      content: JSON.stringify(l)\n    });\n  }\n});\n\nreturn [{\n  json: {\n    project_id: $('Prepare Ingestion Input').first().json.project_id,\n    extracted: extracted,\n    human_review_required: humanReviewItems.length > 0 ? humanReviewItems : [],\n    has_human_review: humanReviewItems.length > 0\n  }\n}];"},"id":"node-009","name":"Parse & Validate Extraction","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,460]},{"parameters":{"jsCode":"// ============================================================\n// Build SQL UPDATE/INSERT statements for canon changes.\n// Each statement respects locked canon (never overwrites).\n// ============================================================\n\nconst data = $input.first().json;\nconst extracted = data.extracted;\nconst projectId = data.project_id;\nconst items = [];\n\n// Character state updates\n(extracted.character_state_updates || []).forEach(u => {\n  if (u.confidence >= 0.7) {\n    items.push({\n      json: {\n        table: 'character_states',\n        sql: `INSERT INTO character_states (project_id, character_id, chapter_id, physical_state, emotional_state, knowledge_state, relationship_state, location_name, inventory_changes, confidence)\n        SELECT $1, c.id, $2, $3, $4, $5, $6, $7, $8, $9\n        FROM characters c WHERE c.project_id = $1 AND c.name = $10 AND c.is_locked = false\n        ON CONFLICT DO NOTHING`,\n        values: [projectId, u.chapter_id, u.physical_state, u.emotional_state, u.knowledge_state, JSON.stringify(u.relationship_state || {}), u.location_name, JSON.stringify(u.inventory_changes || []), u.confidence, u.character_name]\n      }\n    });\n  }\n});\n\n// New lore\n(extracted.new_lore || []).forEach(l => {\n  if (l.confidence >= 0.7) {\n    items.push({\n      json: {\n        table: 'world_lore',\n        sql: `INSERT INTO world_lore (project_id, title, category, content, is_locked)\n        VALUES ($1, $2, $3, $4, $5)\n        ON CONFLICT (project_id, title) DO NOTHING`,\n        values: [projectId, l.title, l.lore_type || 'general', l.content, l.should_lock && l.confidence >= 0.9]\n      }\n    });\n  }\n});\n\n// Timeline events\n(extracted.timeline_events || []).forEach(e => {\n  if (e.confidence >= 0.7) {\n    items.push({\n      json: {\n        table: 'timeline_events',\n        sql: `INSERT INTO timeline_events (project_id, event_time_label, sequence_hint, event_summary, involved_characters, involved_locations, consequences, confidence)\n        VALUES ($1, $2, $3, $4, $5, $6, $7, $8)`,\n        values: [projectId, e.event_time_label, e.sequence_hint || null, e.event_summary, e.involved_characters || [], e.involved_locations || [], e.consequences || [], e.confidence]\n      }\n    });\n  }\n});\n\n// Foreshadowing updates\n(extracted.foreshadowing_updates || []).forEach(f => {\n  if (f.confidence >= 0.7) {\n    items.push({\n      json: {\n        table: 'foreshadowing',\n        sql: f.related_existing_id\n          ? `UPDATE foreshadowing SET status = CASE WHEN $3 = 'resolved' THEN 'resolved' ELSE 'reinforced' END, updated_at = now() WHERE id = $1 AND project_id = $2 AND is_locked = false`\n          : `INSERT INTO foreshadowing (project_id, clue_text, intended_payoff, status) VALUES ($1, $2, $3, 'introduced') ON CONFLICT DO NOTHING`,\n        values: f.related_existing_id\n          ? [f.related_existing_id, projectId, f.type]\n          : [projectId, f.clue_text, f.intended_payoff || '']\n      }\n    });\n  }\n});\n\n// Chapter summary as vector document\nif (extracted.chapter_summary) {\n  items.push({\n    json: {\n      table: 'vector_documents_prep',\n      source_type: 'chapter_summary',\n      title: `章节摘要: ${$('Load Project').first().json.title}`,\n      content: extracted.chapter_summary,\n      metadata: { extracted_at: new Date().toISOString() }\n    }\n  });\n}\n\nreturn items;"},"id":"node-010","name":"Build Canon Update SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,460]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","additionalFields":{"values":"={{ $json.values }}"}},"id":"node-011","name":"Execute Canon Updates","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2220,460],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"// ============================================================\n// Summary of the ingestion run.\n// ============================================================\n\nconst data = $('Parse & Validate Extraction').first().json;\nconst items = $input.all();\n\nreturn [{\n  json: {\n    project_id: data.project_id,\n    status: 'ingestion_complete',\n    entities_updated: items.length,\n    human_review_count: (data.human_review_required || []).length,\n    human_review_items: data.human_review_required || [],\n    message: data.has_human_review\n      ? `Ingestion complete with ${data.human_review_required.length} items needing human review.`\n      : 'Ingestion complete. All items applied.'\n  }\n}];"},"id":"node-012","name":"Ingestion Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,460]}],"connections":{"Manual Trigger":{"main":[[{"node":"Prepare Ingestion Input","type":"main","index":0}]]},"Prepare Ingestion Input":{"main":[[{"node":"Load Project","type":"main","index":0}]]},"Load Project":{"main":[[{"node":"Project Exists?","type":"main","index":0}]]},"Project Exists?":{"main":[[{"node":"Error: Project Not Found","type":"main","index":0}],[{"node":"Load Existing Canon","type":"main","index":0}]]},"Load Existing Canon":{"main":[[{"node":"Build Extraction Prompt","type":"main","index":0}]]},"Build Extraction Prompt":{"main":[[{"node":"Extract Canon via AI","type":"main","index":0}]]},"Extract Canon via AI":{"main":[[{"node":"Parse & Validate Extraction","type":"main","index":0}]]},"Parse & Validate Extraction":{"main":[[{"node":"Build Canon Update SQL","type":"main","index":0}]]},"Build Canon Update SQL":{"main":[[{"node":"Execute Canon Updates","type":"main","index":0}]]},"Execute Canon Updates":{"main":[[{"node":"Ingestion Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tokyo"},"staticData":null,"meta":null,"pinData":null,"versionId":"290c96ad-d5ba-4ba9-b0e6-6750893da960","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-05-07T10:28:20.475Z","createdAt":"2026-05-07T10:28:20.475Z","role":"workflow:owner","workflowId":"aCN37gN7682p0h9W","projectId":"JzFsgsHcvfsemyYM","project":{"updatedAt":"2026-05-07T09:46:36.968Z","createdAt":"2026-05-07T09:46:36.968Z","id":"JzFsgsHcvfsemyYM","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"7e63a630-4760-4bf1-95b8-350c141d6df9"}}],"tags":[],"activeVersion":null}