n8n/wf03_audit.json
{"updatedAt":"2026-05-07T12:48:57.554Z","createdAt":"2026-05-07T12:23:37.737Z","id":"hCkthWAH1GxEvLYU","name":"[NF] 03 — Daily Chapter Production","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"node-001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[460,300]},{"parameters":{"operation":"executeQuery","query":"SELECT id, title, slug, genre, tone, style_profile,\n       target_total_words, daily_target_words,\n       auto_publish, quality_threshold, max_revise_count\nFROM projects\nWHERE status = 'active'\nORDER BY created_at\nLIMIT 1;"},"id":"node-002","name":"Load Active Project","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,300],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isNotEmpty"}]}},"id":"node-003","name":"Active Project Found?","type":"n8n-nodes-base.if","typeVersion":1,"position":[900,300]},{"parameters":{"content":"## No active project\n\nAll projects are either paused, completed, or in draft status.\nActivate a project to start daily generation.","height":120,"width":400},"id":"node-003b","name":"No Active Project Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,160]},{"parameters":{"operation":"executeQuery","query":"SELECT cp.id, cp.sequence, cp.title, cp.plot_goals, cp.summary,\n       cp.target_word_count, cp.arc_stage, cp.characters_involved,\n       cp.locations_involved, cp.major_events\nFROM chapter_plans cp\nWHERE cp.project_id = $1\n  AND cp.status = 'planned'\nORDER BY cp.sequence\nLIMIT 1;","additionalFields":{"values":[{"name":"1","value":"={{ $('Load Active Project').first().json.id }}"}]}},"id":"node-004","name":"Select Next Chapter Plan","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[900,460],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isNotEmpty"}]}},"id":"node-005","name":"Chapter Plan Found?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,460]},{"parameters":{"content":"## No chapter plan found\n\nAll planned chapters have been processed.\nRun the Weekly Arc Planner to generate new chapter plans.","height":120,"width":400},"id":"node-005b","name":"No Plan Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1340,320]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO generation_jobs (project_id, chapter_plan_id, job_date, job_type, status)\nVALUES ($1, $2, CURRENT_DATE, 'initial_generation', 'acquired')\nON CONFLICT (project_id, chapter_plan_id, job_date)\nDO NOTHING\nRETURNING id, job_date, status;","additionalFields":{"values":[{"name":"1","value":"={{ $('Load Active Project').first().json.id }}"},{"name":"2","value":"={{ $('Select Next Chapter Plan').first().json.id }}"}]}},"id":"node-006","name":"Acquire Lock","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1120,620],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isNotEmpty"}]}},"id":"node-007","name":"Lock Acquired?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1340,620]},{"parameters":{"content":"## Already Generated Today\n\nThis chapter_plan has already been processed today.\nIdempotent lock prevented duplicate generation.","height":120,"width":400},"id":"node-007b","name":"Already Generated Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1560,500]},{"parameters":{"operation":"executeQuery","query":"-- Load project config + system settings\nSELECT key, value FROM system_settings;\n\n-- Load recent chapter summaries (last 5)\nSELECT id, sequence, title, summary, word_count, created_at\nFROM chapters\nWHERE project_id = $1 AND status IN ('final', 'published')\nORDER BY sequence DESC\nLIMIT 5;\n\n-- Load active style guide\nSELECT * FROM style_guides\nWHERE project_id = $1 AND is_active = true\nLIMIT 1;\n\n-- Load hard canon rules\nSELECT * FROM canon_rules\nWHERE project_id = $1 AND rule_type = 'hard';\n\n-- Load soft canon rules\nSELECT * FROM canon_rules\nWHERE project_id = $1 AND rule_type = 'soft';","additionalFields":{"values":[{"name":"1","value":"={{ $('Load Active Project').first().json.id }}"}]}},"id":"node-008","name":"Load Project Config","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1340,780],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"operation":"executeQuery","query":"-- Load characters involved in this chapter\nSELECT c.*\nFROM characters c\nWHERE c.project_id = $1\n  AND (\n    c.name = ANY($2::text[])\n    OR c.role IN ('protagonist', 'antagonist')\n  );\n\n-- Load character states for involved characters\nSELECT cs.*\nFROM character_states cs\nJOIN characters c ON cs.character_id = c.id\nWHERE cs.project_id = $1\n  AND c.name = ANY($2::text[])\nORDER BY cs.created_at DESC;\n\n-- Load locations for this chapter\nSELECT * FROM locations\nWHERE project_id = $1\n  AND name = ANY($3::text[]);\n\n-- Load all active plot threads\nSELECT * FROM plot_threads\nWHERE project_id = $1\n  AND arc_status = 'active';\n\n-- Load unresolved foreshadowing\nSELECT * FROM foreshadowing\nWHERE project_id = $1\n  AND status IN ('introduced', 'reinforced');\n\n-- Load recent timeline events\nSELECT * FROM timeline_events\nWHERE project_id = $1\nORDER BY created_at DESC\nLIMIT 20;","additionalFields":{"values":[{"name":"1","value":"={{ $('Load Active Project').first().json.id }}"},{"name":"2","value":"={{ $('Select Next Chapter Plan').first().json.characters_involved || [] }}"},{"name":"3","value":"={{ $('Select Next Chapter Plan').first().json.locations_involved || [] }}"}]}},"id":"node-009","name":"Load Structured Canon","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1560,780],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"const chapterPlan = $('Select Next Chapter Plan').first().json;\nconst project = $('Load Active Project').first().json;\nconst queryParts = [\n  chapterPlan.title || '',\n  (chapterPlan.plot_goals || []).join(' '),\n  (chapterPlan.characters_involved || []).join(' '),\n  (chapterPlan.locations_involved || []).join(' '),\n  project.genre.join(' '),\n  project.tone || ''\n].filter(Boolean);\nconst retrievalQuery = queryParts.join(' ');\nreturn [{\n  json: {\n    retrieval_query: retrievalQuery,\n    project_id: project.id,\n    chapter_plan: chapterPlan,\n    top_k: 12\n  }\n}];"},"id":"node-010","name":"Build Retrieval Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,780]},{"parameters":{"method":"POST","url":"={{ $env.OPENAI_API_BASE_URL || 'https://api.deepseek.com/v1/embeddings' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"{{ $env.EMBEDDING_MODEL || 'text-embedding-3-small' }}\",\n  \"input\": \"{{ $json.retrieval_query }}\"\n}","options":{"timeout":30000}},"id":"node-011","name":"Embed Retrieval Query","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2000,780],"credentials":{"httpHeaderAuth":{"id":"BGOK2MJV1ZG3nBmK","name":"OpenAI API"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  id,\n  project_id,\n  source_type,\n  source_id,\n  title,\n  content,\n  metadata,\n  1 - (embedding <=> $1::vector) AS similarity\nFROM vector_documents\nWHERE project_id = $2\nORDER BY embedding <=> $1::vector\nLIMIT $3;","additionalFields":{"values":[{"name":"1","value":"={{ $json.data[0].embedding }}"},{"name":"2","value":"={{ $('Build Retrieval Query').first().json.project_id }}"},{"name":"3","value":"={{ $('Build Retrieval Query').first().json.top_k }}"}]}},"id":"node-012","name":"Retrieve Vector Context","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2220,780],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"const project = $('Load Active Project').first().json;\nconst chapterPlan = $('Select Next Chapter Plan').first().json;\nconst projectConfig = $('Load Project Config').all();\nconst structuredCanon = $('Load Structured Canon').all();\nconst vectorContext = $('Retrieve Vector Context').all();\nconst job = $('Acquire Lock').first().json;\nlet styleGuide = {};\nlet hardRules = [];\nlet softRules = [];\nlet recentSummaries = [];\nlet systemSettings = {};\nfor (const item of projectConfig) {\n  const j = item.json;\n  if (Array.isArray(j)) {\n  }\n  if (j.narrative_perspective) styleGuide = j;\n  if (j.rule_type === 'hard') hardRules.push(j);\n  if (j.rule_type === 'soft') softRules.push(j);\n  if (j.summary && j.sequence) recentSummaries.push(j);\n  if (j.key && j.value) systemSettings[j.key] = j.value;\n}\nlet characters = [];\nlet characterStates = [];\nlet locations = [];\nlet plotThreads = [];\nlet foreshadowing = [];\nlet timelineEvents = [];\nfor (const item of structuredCanon) {\n  const j = item.json;\n  if (j.role) characters.push(j);\n  if (j.physical_state || j.emotional_state) characterStates.push(j);\n  if (j.location_type) locations.push(j);\n  if (j.thread_type) plotThreads.push(j);\n  if (j.clue_text) foreshadowing.push(j);\n  if (j.event_time_label) timelineEvents.push(j);\n}\nconst writingBrief = {\n  project: {\n    id: project.id,\n    title: project.name,\n    genre: project.genre,\n    tone: project.tone,\n    style_profile: project.style_profile\n  },\n  chapter_plan: {\n    id: chapterPlan.id,\n    sequence: chapterPlan.sequence,\n    title: chapterPlan.title,\n    plot_goals: chapterPlan.plot_goals || [],\n    summary: chapterPlan.summary || '',\n    arc_stage: chapterPlan.arc_stage || '',\n    major_events: chapterPlan.major_events || []\n  },\n  target_word_count: chapterPlan.target_word_count || project.daily_target_words || 3000,\n  recent_summaries: recentSummaries.reverse(),\n  active_characters: characters,\n  character_states: characterStates,\n  locations: locations,\n  plot_threads: plotThreads,\n  foreshadowing: foreshadowing,\n  timeline_events: timelineEvents,\n  canon_rules: { hard: hardRules, soft: softRules },\n  style_guide: styleGuide,\n  retrieved_context: vectorContext.map(v => ({\n    id: v.json.id,\n    source_type: v.json.source_type,\n    title: v.json.title,\n    content: v.json.content,\n    similarity: v.json.similarity\n  })),\n  hard_constraints: hardRules.map(r => r.rule_text),\n  quality_threshold: project.quality_threshold || 85,\n  max_revise_count: project.max_revise_count || 2,\n  auto_publish: project.auto_publish || false\n};\nreturn [{\n  json: {\n    job_id: job.id,\n    project_id: project.id,\n    chapter_plan_id: chapterPlan.id,\n    writing_brief: writingBrief,\n    auto_publish: project.auto_publish || false,\n    quality_threshold: project.quality_threshold || 85,\n    max_revise_count: project.max_revise_count || 2\n  }\n}];"},"id":"node-013","name":"Build Writing Brief","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,780]},{"parameters":{"method":"POST","url":"={{ $env.WRITER_SERVICE_URL || 'http://writer-service:8787' }}/generate-chapter","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"job_id\": \"{{ $json.job_id }}\",\n  \"project_id\": \"{{ $json.project_id }}\",\n  \"chapter_plan_id\": \"{{ $json.chapter_plan_id }}\",\n  \"writing_brief\": {{ JSON.stringify($json.writing_brief) }},\n  \"prompt_type\": \"draft_writer\"\n}","options":{"timeout":600000}},"id":"node-014","name":"Call Writer Service","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2660,780],"credentials":{"httpHeaderAuth":{"id":"OFervrjfRP7togIg","name":"Writer Service Token"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.ok }}","operation":"true"}]}},"id":"node-015","name":"Writer OK?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2880,780]},{"parameters":{"jsCode":"const writerResult = $input.first().json;\nreturn [{\n  json: {\n    error: writerResult.error || 'Unknown writer error',\n    stderr: writerResult.stderr || '',\n    exitCode: writerResult.exitCode || -1,\n    duration_ms: writerResult.duration_ms || 0\n  }\n}];","continueOnFail":true},"id":"node-016","name":"Handle Writer Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,660]},{"parameters":{"operation":"executeQuery","query":"UPDATE generation_jobs\nSET status = 'failed',\n    error_message = $2,\n    stderr = $3,\n    exit_code = $4,\n    duration_ms = $5,\n    updated_at = now()\nWHERE id = $1;","additionalFields":{"values":[{"name":"1","value":"={{ $('Build Writing Brief').first().json.job_id }}"},{"name":"2","value":"={{ $json.error }}"},{"name":"3","value":"={{ $json.stderr }}"},{"name":"4","value":"={{ $json.exitCode }}"},{"name":"5","value":"={{ $json.duration_ms }}"}]}},"id":"node-017","name":"Record Writer Failure","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3320,660],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO chapters (project_id, chapter_plan_id, sequence, title, body_markdown, summary, word_count, status)\nVALUES ($1, $2, $3, $4, $5, $6, $7, 'draft')\nRETURNING id;","additionalFields":{"values":[{"name":"1","value":"={{ $('Build Writing Brief').first().json.project_id }}"},{"name":"2","value":"={{ $('Build Writing Brief').first().json.chapter_plan_id }}"},{"name":"3","value":"={{ $('Select Next Chapter Plan').first().json.sequence }}"},{"name":"4","value":"={{ $json.data.title }}"},{"name":"5","value":"={{ $json.data.body_markdown }}"},{"name":"6","value":"={{ $json.data.summary }}"},{"name":"7","value":"={{ $json.data.word_count }}"}]}},"id":"node-018","name":"Save Chapter","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2880,940],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO chapter_versions (chapter_id, project_id, version_number, version_type, title, body_markdown, summary, word_count, model_provider, model_name, created_by_agent)\nVALUES ($1, $2, 1, 'draft', $3, $4, $5, $6, 'claude', 'claude-code', 'draft_writer')\nRETURNING id;\n\nUPDATE chapters SET current_version_id = (\n  SELECT id FROM chapter_versions WHERE chapter_id = $1 ORDER BY version_number DESC LIMIT 1\n)\nWHERE id = $1;\n\nUPDATE generation_jobs\nSET status = 'draft_created', chapter_id = $1, updated_at = now()\nWHERE id = $7;","additionalFields":{"values":[{"name":"1","value":"={{ $('Save Chapter').first().json.id }}"},{"name":"2","value":"={{ $('Build Writing Brief').first().json.project_id }}"},{"name":"3","value":"={{ $('Call Writer Service').first().json.data.title }}"},{"name":"4","value":"={{ $('Call Writer Service').first().json.data.body_markdown }}"},{"name":"5","value":"={{ $('Call Writer Service').first().json.data.summary }}"},{"name":"6","value":"={{ $('Call Writer Service').first().json.data.word_count }}"},{"name":"7","value":"={{ $('Build Writing Brief').first().json.job_id }}"}]}},"id":"node-019","name":"Save Draft Version","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3100,940],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"const writingBrief = $('Build Writing Brief').first().json.writing_brief;\nconst chapter = $('Call Writer Service').first().json.data;\nconst chapterId = $('Save Chapter').first().json.id;\nconst versionId = $('Save Draft Version').first().json.id;\nreturn [{\n  json: {\n    chapter_id: chapterId,\n    version_id: versionId,\n    chapter: chapter,\n    writing_brief: writingBrief\n  }\n}];"},"id":"node-020","name":"Prepare Review Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,940]},{"parameters":{"model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 continuity_reviewer，负责检查长篇小说章节的连续性问题。你只输出合法 JSON。检查：时间线、地点、伤势、道具、人物关系、伏笔、世界观是否矛盾。blocking：违反 hard canon、关键状态矛盾、擅自改变主线。评分：90-100无问题 75-89小问题 60-74需要修订 0-59禁止发布。"},{"role":"user","content":"writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"}]},"options":{"temperature":0.7},"requestOptions":{}},"id":"node-021","name":"A1 Continuity Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,800],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 character_reviewer，负责检查人物一致性。你只输出合法 JSON。检查：人物行为是否符合 personality、动机、speech_style、关系变化是否有铺垫。blocking：主角核心设定背离、关键关系突变、行为严重矛盾。"},{"role":"user","content":"writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"}]},"options":{"temperature":0.7},"requestOptions":{}},"id":"node-022","name":"A2 Character Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,960],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 plot_logic_reviewer，负责检查情节因果和章节结构。你只输出合法 JSON。检查：是否完成 plot_goals、冲突因果、转折铺垫、是否有机械降神。blocking：核心目标未完成、完全无因果、机械降神解决冲突。"},{"role":"user","content":"writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"}]},"options":{"temperature":0.7},"requestOptions":{}},"id":"node-023","name":"A3 Plot Logic Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,1120],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 pacing_reviewer，负责检查中文连载网文的节奏、爽点、钩子和读者留存。你只输出合法 JSON。检查：开头、冲突、情绪曲线、信息增量、爽点、段落长度、说明文字、章节结尾钩子。blocking：无实质冲突、结尾无阅读动力、大量说明不可读。"},{"role":"user","content":"writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"}]},"options":{"temperature":0.7},"requestOptions":{}},"id":"node-024","name":"A4 Pacing Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,1280],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 style_reviewer，负责检查文风、语言质量和 AI 味。你只输出合法 JSON。检查：是否符合 style_guide、重复表达、空泛形容、AI 套话、对话自然度、错别字、病句。blocking：文风完全偏离、语言质量极低、大量不可读。"},{"role":"user","content":"style_guide: {{ JSON.stringify($json.writing_brief.style_guide) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"}]},"options":{"temperature":0.7},"requestOptions":{}},"id":"node-025","name":"A5 Style Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,1440],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 safety_reviewer，负责检查公开发布风险、原创性风险和安全风险。你只输出合法 JSON。检查：违法/危险内容、过度模仿具体作者/作品、密钥泄露、隐私泄露、平台禁止内容。blocking：密钥/连接字符串/token泄露、版权抄袭、违法内容、隐私泄露。只要发现密钥或内部配置泄露，必须 blocking。"},{"role":"user","content":"chapter: {{ JSON.stringify($json.chapter) }}"}]},"options":{"temperature":0.7},"requestOptions":{}},"id":"node-026","name":"A6 Safety Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,1600],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 publication_reviewer，负责检查章节是否适合发布到博客。你只输出合法 JSON。检查：Markdown 有效性、标题、摘要、slug、tags、是否包含内部信息。blocking：Markdown严重损坏、含内部prompt/审稿意见、标题正文为空。"},{"role":"user","content":"chapter: {{ JSON.stringify($json.chapter) }}"}]},"options":{"temperature":0.7},"requestOptions":{}},"id":"node-027","name":"A7 Publication Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,1760],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"jsCode":"const allReviews = $input.all();\nconst reviewData = [];\nfor (const item of allReviews) {\n  try {\n    const j = item.json;\n    if (j.choices?.[0]?.message?.content) reviewData.push(JSON.parse(j.choices[0].message.content));\n    else if (j.agent_name) reviewData.push(j);\n    else if (j.data?.agent_name) reviewData.push(j.data);\n    else reviewData.push({agent_name:\"unknown\",score:0,pass:false,blocking_issues:[{id:\"PARSE_ERR\",severity:\"high\",issue:\"Unable to parse review output\"}],minor_issues:[],recommendations:[]});\n  } catch (e) {\n    reviewData.push({agent_name:\"parse_error\",score:0,pass:false,blocking_issues:[{id:\"PARSE_ERR\",severity:\"high\",issue:\"Failed to parse: \"+e.message}],minor_issues:[],recommendations:[]});\n  }\n}\nconst safetyReview = reviewData.find(r => r.agent_name === \"safety_reviewer\");\nconst scores = reviewData.map(r => r.score).filter(s => typeof s === \"number\" && !isNaN(s));\nconst avgScore = scores.length > 0 ? Math.round((scores.reduce((a,b)=>a+b,0)/scores.length)*100)/100 : 0;\nconst allBlocking = [], allMinor = [], recsByAgent = {};\nfor (const r of reviewData) {\n  (r.blocking_issues||[]).forEach(i => allBlocking.push({...i,agent_name:r.agent_name}));\n  (r.minor_issues||[]).forEach(i => allMinor.push({...i,agent_name:r.agent_name}));\n  if (r.recommendations?.length) recsByAgent[r.agent_name] = r.recommendations;\n}\nconst hasBlocking = allBlocking.length > 0;\nconst safetyFailed = safetyReview?.pass === false;\nconst ctx = $(\"Build Writing Brief\").first()?.json || $input.first().json;\nconst revCnt = ctx.revise_count ?? 0;\nconst maxRev = ctx.max_revise_count ?? 2;\nconst qThresh = ctx.quality_threshold ?? 85;\nlet decision, finalScore;\nif (safetyFailed) { decision = \"needs_human_review\"; }\nelse if (revCnt >= maxRev && hasBlocking) { decision = \"needs_human_review\"; }\nelse if (hasBlocking) { decision = \"revise\"; }\nelse if (avgScore >= qThresh) { decision = \"publish_ready\"; }\nelse { decision = \"revise\"; }\nif (safetyFailed) finalScore = Math.min(avgScore, 40);\nelse if (hasBlocking) finalScore = Math.min(avgScore, 74);\nelse finalScore = avgScore;\nfinalScore = Math.round(finalScore * 100) / 100;\nconst prep = $(\"Prepare Review Input\").first().json;\nreturn [{ json: {\n  chapter_id: prep.chapter_id, version_id: prep.version_id,\n  average_score: avgScore, final_score: finalScore,\n  decision: decision, publish_allowed: decision === \"publish_ready\",\n  safety_pass: !safetyFailed, has_blocking: hasBlocking,\n  all_pass: reviewData.every(r => r.pass !== false),\n  blocking_issues: allBlocking, minor_issues: allMinor,\n  must_fix: allBlocking.filter(i => i.severity === \"high\" || safetyFailed),\n  recommendations: recsByAgent, reviews: reviewData,\n  agent_count: reviewData.length, blocking_count: allBlocking.length, minor_count: allMinor.length\n}}];"},"id":"node-028","name":"Collect All Reviews","type":"n8n-nodes-base.code","typeVersion":2,"position":[3760,960]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO agent_reviews (project_id, chapter_id, chapter_version_id, agent_name, review_round, score, pass, issues, blocking_issues, minor_issues, recommendations, raw_output)\nVALUES ($1, $2, $3, $4, 1, $5, $6, $7, $8, $9, $10, $11)\nON CONFLICT DO NOTHING;","additionalFields":{"values":"={{ $json.reviews.map(r => [\n  $('Build Writing Brief').first().json.project_id,\n  $json.chapter_id,\n  $json.version_id,\n  r.agent_name,\n  r.score,\n  r.pass,\n  JSON.stringify(r.blocking_issues || []),\n  JSON.stringify(r.blocking_issues || []),\n  JSON.stringify(r.minor_issues || []),\n  JSON.stringify(r.recommendations || []),\n  JSON.stringify(r)\n]) }}"}},"id":"node-029","name":"Save Review Records","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3980,960],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"const aggregate = $('Collect All Reviews').first().json;\nreturn [{ json: aggregate }];"},"id":"node-030","name":"A8 Review Arbiter","type":"n8n-nodes-base.code","typeVersion":2,"position":[4200,960]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.decision }}","operation":"matches","value2":"needs_human_review|stop"}]}},"id":"node-031","name":"Decision: Human Review?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4420,960]},{"parameters":{"operation":"executeQuery","query":"UPDATE chapters SET status = 'needs_human_review', updated_at = now() WHERE id = $1;\nUPDATE generation_jobs SET status = 'needs_human_review', updated_at = now() WHERE id = $2;","additionalFields":{"values":[{"name":"1","value":"={{ $('Collect All Reviews').first().json.chapter_id }}"},{"name":"2","value":"={{ $('Build Writing Brief').first().json.job_id }}"}]}},"id":"node-032","name":"Mark Human Review","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[4640,820],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.decision }}","operation":"contains","value2":"publish_ready"}]}},"id":"node-033","name":"Decision: Publish Ready?","type":"n8n-nodes-base.if","typeVersion":1,"position":[4420,1120]},{"parameters":{"jsCode":"const chapter = $('Call Writer Service').first().json.data;\nconst project = $('Load Active Project').first().json;\nreturn [{\n  json: {\n    chapter: chapter,\n    project: project,\n    blog_config: {\n      provider: project.publish_platform || 'wordpress',\n      auto_publish: $('Build Writing Brief').first().json.auto_publish,\n      final_score: $('Collect All Reviews').first().json.final_score\n    }\n  }\n}];"},"id":"node-034","name":"Prepare Blog Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[4640,1120]},{"parameters":{"model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 blog_publisher_metadata_agent，负责把小说章节转换成适合博客发布的元数据。你只输出合法 JSON。要求：生成标题、slug（小写英文+连字符）、excerpt（80-160中文字）、tags（3-8个）、category、seo_description（80-150中文字）、cover_prompt。不剧透结尾关键反转，不包含内部审稿信息。"},{"role":"user","content":"chapter: {{ JSON.stringify($json.chapter) }}\\n\\nproject: {{ JSON.stringify($json.project) }}\\n\\nblog_config: {{ JSON.stringify($json.blog_config) }}"}]},"options":{"temperature":0.7},"requestOptions":{}},"id":"node-035","name":"Generate Blog Metadata","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[4860,1120],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"jsCode":"const response = $input.first().json;\nlet metadata;\ntry {\n  metadata = JSON.parse(response.choices[0].message.content);\n} catch (e) {\n  metadata = response;\n}\nconst buildBrief = $('Build Writing Brief').first().json;\nconst chapter = $('Call Writer Service').first().json.data;\nconst finalScore = $('Collect All Reviews').first().json.final_score;\nconst shouldPublish = buildBrief.auto_publish && finalScore >= buildBrief.quality_threshold;\nreturn [{\n  json: {\n    title: metadata.title || chapter.title,\n    slug: metadata.slug || '',\n    excerpt: metadata.excerpt || '',\n    tags: metadata.tags || [],\n    category: metadata.category || '',\n    seo_description: metadata.seo_description || '',\n    content_markdown: chapter.body_markdown,\n    wordpress_status: shouldPublish ? 'publish' : 'draft',\n    project_id: buildBrief.project_id,\n    chapter_id: $('Save Chapter').first().json.id,\n    should_publish: shouldPublish\n  }\n}];"},"id":"node-036","name":"Parse Blog Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[5080,1120]},{"parameters":{"jsCode":"const meta = $input.first().json;\nconst existingBlogPost = $input.all().find(i => i.json.external_post_id);\nreturn [{\n  json: {\n    ...meta,\n    existing_post_id: existingBlogPost?.json.external_post_id || null,\n    action: existingBlogPost?.json.external_post_id ? 'update' : 'create'\n  }\n}];"},"id":"node-037","name":"Check Existing Blog Post","type":"n8n-nodes-base.code","typeVersion":2,"position":[4640,1280]},{"parameters":{"operation":"executeQuery","query":"SELECT id, external_post_id, slug, url FROM blog_posts\nWHERE project_id = $1 AND chapter_id = $2;","additionalFields":{"values":[{"name":"1","value":"={{ $json.project_id }}"},{"name":"2","value":"={{ $json.chapter_id }}"}]}},"id":"node-038","name":"Query Blog Posts Table","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[4860,1280],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"method":"POST","url":"={{ $env.WORDPRESS_BASE_URL || 'https://example.com' }}/wp-json/wp/v2/posts{{ $json.action === 'update' ? '/' + $json.existing_post_id : '' }}","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"title\": \"{{ $json.title }}\",\n  \"content\": \"{{ $json.content_markdown }}\",\n  \"slug\": \"{{ $json.slug }}\",\n  \"excerpt\": \"{{ $json.excerpt }}\",\n  \"status\": \"{{ $json.wordpress_status }}\",\n  \"tags\": {{ JSON.stringify($json.tags) }},\n  \"categories\": [\"{{ $json.category }}\"]\n}","options":{"timeout":30000}},"id":"node-039","name":"Publish to WordPress","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[5080,1280],"credentials":{}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO blog_posts (project_id, chapter_id, external_post_id, slug, title, excerpt, url, tags, category, seo_description, status, published_at)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, CASE WHEN $11 = 'published' THEN now() ELSE NULL END)\nON CONFLICT (project_id, chapter_id)\nDO UPDATE SET\n  external_post_id = EXCLUDED.external_post_id,\n  slug = EXCLUDED.slug,\n  title = EXCLUDED.title,\n  url = EXCLUDED.url,\n  status = EXCLUDED.status,\n  published_at = CASE WHEN EXCLUDED.status = 'published' THEN COALESCE(blog_posts.published_at, now()) ELSE blog_posts.published_at END,\n  updated_at = now()\nRETURNING id;","additionalFields":{"values":[{"name":"1","value":"={{ $('Parse Blog Metadata').first().json.project_id }}"},{"name":"2","value":"={{ $('Parse Blog Metadata').first().json.chapter_id }}"},{"name":"3","value":"={{ $json.id || $json.ID || '' }}"},{"name":"4","value":"={{ $('Parse Blog Metadata').first().json.slug }}"},{"name":"5","value":"={{ $('Parse Blog Metadata').first().json.title }}"},{"name":"6","value":"={{ $('Parse Blog Metadata').first().json.excerpt }}"},{"name":"7","value":"={{ $json.link || $json.url || '' }}"},{"name":"8","value":"={{ $('Parse Blog Metadata').first().json.tags }}"},{"name":"9","value":"={{ $('Parse Blog Metadata').first().json.category }}"},{"name":"10","value":"={{ $('Parse Blog Metadata').first().json.seo_description }}"},{"name":"11","value":"={{ $('Parse Blog Metadata').first().json.wordpress_status }}"}]}},"id":"node-040","name":"Save Blog Post Record","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5300,1280],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"const chapter = $('Call Writer Service').first().json.data;\nconst projectId = $('Build Writing Brief').first().json.project_id;\nconst chapterId = $('Save Chapter').first().json.id;\nconst updates = [];\nupdates.push({\n  json: {\n    sql: \"UPDATE chapter_plans SET status = 'draft_complete', updated_at = now() WHERE id = $1\",\n    values: [$('Build Writing Brief').first().json.chapter_plan_id]\n  }\n});\nupdates.push({\n  json: {\n    sql: \"UPDATE chapters SET status = 'final', publish_status = $2, updated_at = now() WHERE id = $1\",\n    values: [chapterId, $('Parse Blog Metadata').first().json.wordpress_status]\n  }\n});\nif (chapter.summary) {\n  updates.push({\n    json: {\n      action: 'embed_and_store',\n      project_id: projectId,\n      source_type: 'chapter_summary',\n      source_id: chapterId,\n      title: `Ch${$('Select Next Chapter Plan').first().json.sequence} 摘要: ${chapter.title}`,\n      content: chapter.summary\n    }\n  });\n}\n(chapter.character_state_changes || []).forEach(csc => {\n  updates.push({\n    json: {\n      sql: `INSERT INTO character_states (project_id, character_id, chapter_id, physical_state, emotional_state, relationship_state)\n      SELECT $1, c.id, $2, $3, $4, $5\n      FROM characters c\n      WHERE c.project_id = $1 AND c.name = $6 AND c.is_locked = false\n      ON CONFLICT DO NOTHING`,\n      values: [projectId, chapterId, csc.before, csc.after, JSON.stringify({}), csc.character_name]\n    }\n  });\n});\n(chapter.timeline_events || []).forEach(te => {\n  updates.push({\n    json: {\n      sql: `INSERT INTO timeline_events (project_id, event_time_label, event_summary, involved_characters, involved_locations, consequences, source_chapter_id)\n      VALUES ($1, $2, $3, $4, $5, $6, $7)`,\n      values: [projectId, te.event_time_label, te.event_summary, te.involved_characters || [], te.involved_locations || [], te.consequences || [], chapterId]\n    }\n  });\n});\n(chapter.foreshadowing_used || []).forEach(fu => {\n  if (fu.usage === 'resolved') {\n    updates.push({\n      json: {\n        sql: `UPDATE foreshadowing SET status = 'reinforced', updated_at = now() WHERE clue_text = $1 AND project_id = $2 AND is_locked = false`,\n        values: [fu.clue, projectId]\n      }\n    });\n  }\n});\nreturn updates;"},"id":"node-041","name":"Build Canon Updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[5520,1280]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","additionalFields":{"values":"={{ $json.values }}"}},"id":"node-042","name":"Execute Canon Updates","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5740,1280],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE generation_jobs\nSET status = 'completed',\n    chapter_id = $2,\n    final_score = $3,\n    completed_at = now(),\n    updated_at = now()\nWHERE id = $1;","additionalFields":{"values":[{"name":"1","value":"={{ $('Build Writing Brief').first().json.job_id }}"},{"name":"2","value":"={{ $('Save Chapter').first().json.id }}"},{"name":"3","value":"={{ $('Collect All Reviews').first().json.final_score }}"}]}},"id":"node-043","name":"Update Job Completed","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5960,1280],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"jsCode":"const project = $('Load Active Project').first().json;\nconst chapter = $('Call Writer Service').first().json.data;\nconst finalScore = $('Collect All Reviews').first().json.final_score;\nconst blogPost = $('Save Blog Post Record').first().json;\nconst job = $('Build Writing Brief').first().json;\nreturn [{\n  json: {\n    message: `📖 **${project.name}**\\n` +\n      `Chapter ${$('Select Next Chapter Plan').first().json.sequence}: ${chapter.title}\\n` +\n      `Words: ${chapter.word_count} | Score: ${finalScore}\\n` +\n      `Status: ${job.auto_publish && finalScore >= job.quality_threshold ? 'Published' : 'Draft'}\\n` +\n      `URL: ${blogPost.url || 'N/A'}`,\n    subject: `[Novel Factory] ${project.name} Ch${$('Select Next Chapter Plan').first().json.sequence} — Score ${finalScore}`,\n    project_title: project.name,\n    chapter_title: chapter.title,\n    word_count: chapter.word_count,\n    score: finalScore,\n    url: blogPost.url || '',\n    needs_human_review: false\n  }\n}];"},"id":"node-044","name":"Build Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[6180,1280]},{"parameters":{"jsCode":"const error = $input.first().json;\nreturn [{\n  json: {\n    error: error.message || 'Unknown workflow error',\n    node: error.node || 'unknown',\n    timestamp: new Date().toISOString(),\n    job_id: $('Build Writing Brief').first()?.json?.job_id || null\n  }\n}];","continueOnFail":true},"id":"node-045","name":"Error Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[6180,1500]}],"connections":{"Load Active Project":{"main":[[{"node":"Active Project Found?","type":"main","index":0}]]},"Active Project Found?":{"main":[[{"node":"No Active Project Note","type":"main","index":0}],[{"node":"Select Next Chapter Plan","type":"main","index":0}]]},"Select Next Chapter Plan":{"main":[[{"node":"Chapter Plan Found?","type":"main","index":0}]]},"Chapter Plan Found?":{"main":[[{"node":"No Plan Note","type":"main","index":0}],[{"node":"Acquire Lock","type":"main","index":0}]]},"Acquire Lock":{"main":[[{"node":"Lock Acquired?","type":"main","index":0}]]},"Lock Acquired?":{"main":[[{"node":"Already Generated Note","type":"main","index":0}],[{"node":"Load Project Config","type":"main","index":0}]]},"Load Project Config":{"main":[[{"node":"Load Structured Canon","type":"main","index":0}]]},"Load Structured Canon":{"main":[[{"node":"Build Retrieval Query","type":"main","index":0}]]},"Build Retrieval Query":{"main":[[{"node":"Embed Retrieval Query","type":"main","index":0}]]},"Embed Retrieval Query":{"main":[[{"node":"Retrieve Vector Context","type":"main","index":0}]]},"Retrieve Vector Context":{"main":[[{"node":"Build Writing Brief","type":"main","index":0}]]},"Build Writing Brief":{"main":[[{"node":"Call Writer Service","type":"main","index":0}]]},"Call Writer Service":{"main":[[{"node":"Writer OK?","type":"main","index":0}]]},"Writer OK?":{"main":[[{"node":"Handle Writer Error","type":"main","index":0}],[{"node":"Save Chapter","type":"main","index":0}]]},"Handle Writer Error":{"main":[[{"node":"Record Writer Failure","type":"main","index":0}]]},"Save Chapter":{"main":[[{"node":"Save Draft Version","type":"main","index":0}]]},"Save Draft Version":{"main":[[{"node":"Prepare Review Input","type":"main","index":0}]]},"Prepare Review Input":{"main":[[{"node":"A1 Continuity Review","type":"main","index":0},{"node":"A2 Character Review","type":"main","index":0},{"node":"A3 Plot Logic Review","type":"main","index":0},{"node":"A4 Pacing Review","type":"main","index":0},{"node":"A5 Style Review","type":"main","index":0},{"node":"A6 Safety Review","type":"main","index":0},{"node":"A7 Publication Review","type":"main","index":0}]]},"A1 Continuity Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":0}]]},"A2 Character Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":1}]]},"A3 Plot Logic Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":2}]]},"A4 Pacing Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":3}]]},"A5 Style Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":4}]]},"A6 Safety Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":5}]]},"A7 Publication Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":6}]]},"Collect All Reviews":{"main":[[{"node":"Save Review Records","type":"main","index":0}]]},"Save Review Records":{"main":[[{"node":"A8 Review Arbiter","type":"main","index":0}]]},"A8 Review Arbiter":{"main":[[{"node":"Decision: Human Review?","type":"main","index":0},{"node":"Decision: Publish Ready?","type":"main","index":0}]]},"Decision: Human Review?":{"main":[[],[{"node":"Mark Human Review","type":"main","index":0}]]},"Decision: Publish Ready?":{"main":[[{"node":"Prepare Blog Metadata","type":"main","index":0}],[{"node":"Prepare Blog Metadata","type":"main","index":0}]]},"Prepare Blog Metadata":{"main":[[{"node":"Generate Blog Metadata","type":"main","index":0}]]},"Generate Blog Metadata":{"main":[[{"node":"Parse Blog Metadata","type":"main","index":0}]]},"Parse Blog Metadata":{"main":[[{"node":"Check Existing Blog Post","type":"main","index":0},{"node":"Query Blog Posts Table","type":"main","index":0}]]},"Query Blog Posts Table":{"main":[[{"node":"Check Existing Blog Post","type":"main","index":0}]]},"Check Existing Blog Post":{"main":[[{"node":"Publish to WordPress","type":"main","index":0}]]},"Publish to WordPress":{"main":[[{"node":"Save Blog Post Record","type":"main","index":0}]]},"Save Blog Post Record":{"main":[[{"node":"Build Canon Updates","type":"main","index":0}]]},"Build Canon Updates":{"main":[[{"node":"Execute Canon Updates","type":"main","index":0}]]},"Execute Canon Updates":{"main":[[{"node":"Update Job Completed","type":"main","index":0}]]},"Update Job Completed":{"main":[[{"node":"Build Notification","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Load Active Project","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tokyo"},"staticData":null,"meta":null,"pinData":null,"versionId":"1b57f7d4-e7d4-4c08-803b-a3b66ac05570","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2026-05-07T12:23:37.739Z","createdAt":"2026-05-07T12:23:37.739Z","role":"workflow:owner","workflowId":"hCkthWAH1GxEvLYU","projectId":"JzFsgsHcvfsemyYM","project":{"updatedAt":"2026-05-07T09:46:36.968Z","createdAt":"2026-05-07T09:46:36.968Z","id":"JzFsgsHcvfsemyYM","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"7e63a630-4760-4bf1-95b8-350c141d6df9"}}],"tags":[],"activeVersion":null}