n8n/wf03_exec.json
{"data":[{"id":"47","finished":true,"mode":"manual","retryOf":null,"retrySuccessId":null,"status":"success","startedAt":"2026-05-07T14:30:44.508Z","stoppedAt":"2026-05-07T14:31:16.436Z","workflowId":"hCkthWAH1GxEvLYU","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"runData":{"Manual Trigger":[{"startTime":1778164244525,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{},"pairedItem":{"item":0}}]]}}],"Load Active Project":[{"startTime":1778164244527,"executionIndex":1,"source":[{"previousNode":"Manual Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6272,"executionStatus":"success","data":{"main":[[{"json":{"id":"24509d94-5b35-4037-95f9-2d74afb17680","name":"My Novel","genre":"fantasy","target_audience":"18-35","style_profile":{"tone":"热血","narrative_style":"第三人称，信息密度高","forbidden_phrases":["眼中闪过","嘴角上扬","不由得"],"preferred_techniques":["动作链","对话推进","感官细节"]},"total_target_words":500000,"daily_target_words":3000,"auto_publish":false,"quality_threshold":85,"blog_provider":"wordpress","status":"active","metadata":{"slug":"my-novel","synopsis":"","sub_genre":[],"max_revise_count":2},"created_at":"2026-05-07T12:50:45.893Z","updated_at":"2026-05-07T12:52:57.323Z"},"pairedItem":{"item":0}}]]}}],"Select Next Chapter Plan":[{"startTime":1778164250800,"executionIndex":2,"source":[{"previousNode":"Load Active Project","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":250,"executionStatus":"success","data":{"main":[[{"json":{"id":"9da005ee-c54f-4fd1-86bc-16958041c1c9","project_id":"24509d94-5b35-4037-95f9-2d74afb17680","volume_id":null,"sequence":1,"title":"星辰坠落","outline":"林辰在垃圾星捡到第一块星辰碎片，遭遇星际佣兵追杀，意外觉醒能力。","pov_character_id":null,"target_word_count":3000,"required_characters":[],"required_locations":[],"plot_goals":[],"required_foreshadowing":[],"status":"planned","metadata":{},"created_at":"2026-05-07T12:51:28.470Z","updated_at":"2026-05-07T12:51:28.470Z"},"pairedItem":{"item":0}}]]}}],"Acquire Lock":[{"startTime":1778164251051,"executionIndex":3,"source":[{"previousNode":"Select Next Chapter Plan","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":845,"executionStatus":"success","data":{"main":[[{"json":{"success":true},"pairedItem":[{"item":0}]}]]}}],"Load Project Config":[{"startTime":1778164251897,"executionIndex":4,"source":[{"previousNode":"Acquire Lock","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"project_id":"24509d94-5b35-4037-95f9-2d74afb17680","config_loaded":true},"pairedItem":{"item":0}}]]}}],"Load Structured Canon":[{"startTime":1778164251904,"executionIndex":5,"source":[{"previousNode":"Load Project Config","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"project_id":"24509d94-5b35-4037-95f9-2d74afb17680","canon_loaded":true,"characters":[],"canon_rules":[],"world_lore":[]},"pairedItem":{"item":0}}]]}}],"Build Retrieval Query":[{"startTime":1778164251911,"executionIndex":6,"source":[{"previousNode":"Load Structured Canon","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"retrieval_query":"星辰坠落 fantasy 热血","project_id":"24509d94-5b35-4037-95f9-2d74afb17680","chapter_plan":{"id":"9da005ee-c54f-4fd1-86bc-16958041c1c9","project_id":"24509d94-5b35-4037-95f9-2d74afb17680","volume_id":null,"sequence":1,"title":"星辰坠落","outline":"林辰在垃圾星捡到第一块星辰碎片，遭遇星际佣兵追杀，意外觉醒能力。","pov_character_id":null,"target_word_count":3000,"required_characters":[],"required_locations":[],"plot_goals":[],"required_foreshadowing":[],"status":"planned","metadata":{},"created_at":"2026-05-07T12:51:28.470Z","updated_at":"2026-05-07T12:51:28.470Z"},"top_k":12},"pairedItem":{"item":0}}]]}}],"Embed Retrieval Query":[{"startTime":1778164251917,"executionIndex":7,"source":[{"previousNode":"Build Retrieval Query","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"query_embedding":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],"context":{"retrieval_query":"星辰坠落 fantasy 热血","project_id":"24509d94-5b35-4037-95f9-2d74afb17680","chapter_plan":{"id":"9da005ee-c54f-4fd1-86bc-16958041c1c9","project_id":"24509d94-5b35-4037-95f9-2d74afb17680","volume_id":null,"sequence":1,"title":"星辰坠落","outline":"林辰在垃圾星捡到第一块星辰碎片，遭遇星际佣兵追杀，意外觉醒能力。","pov_character_id":null,"target_word_count":3000,"required_characters":[],"required_locations":[],"plot_goals":[],"required_foreshadowing":[],"status":"planned","metadata":{},"created_at":"2026-05-07T12:51:28.470Z","updated_at":"2026-05-07T12:51:28.470Z"},"top_k":12}},"pairedItem":{"item":0}}]]}}],"Retrieve Vector Context":[{"startTime":1778164251924,"executionIndex":8,"source":[{"previousNode":"Embed Retrieval Query","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"vector_context":[]},"pairedItem":{"item":0}}]]}}],"Build Writing Brief":[{"startTime":1778164251931,"executionIndex":9,"source":[{"previousNode":"Retrieve Vector Context","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"project_id":"24509d94-5b35-4037-95f9-2d74afb17680","chapter_plan_id":"9da005ee-c54f-4fd1-86bc-16958041c1c9","writing_brief":{"project":{"id":"24509d94-5b35-4037-95f9-2d74afb17680","title":"My Novel","genre":"fantasy","tone":"热血","style_profile":{"tone":"热血","narrative_style":"第三人称，信息密度高","forbidden_phrases":["眼中闪过","嘴角上扬","不由得"],"preferred_techniques":["动作链","对话推进","感官细节"]}},"chapter_plan":{"id":"9da005ee-c54f-4fd1-86bc-16958041c1c9","sequence":1,"title":"星辰坠落","plot_goals":[],"summary":"","arc_stage":"","major_events":[]},"target_word_count":3000,"recent_summaries":[],"active_characters":[],"character_states":[],"locations":[],"plot_threads":[],"foreshadowing":[],"timeline_events":[],"canon_rules":{"hard":[],"soft":[]},"style_guide":{},"retrieved_context":[{}],"hard_constraints":[],"quality_threshold":85,"max_revise_count":2,"auto_publish":false},"auto_publish":false,"quality_threshold":85,"max_revise_count":2},"pairedItem":{"item":0}}]]}}],"Call Writer Service":[{"startTime":1778164251938,"executionIndex":10,"source":[{"previousNode":"Build Writing Brief","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"ok":true,"chapter_id":"mock-1778164251944","content":"# Chapter Title\n\nMock chapter content - writer service not yet configured.\n\nThis is placeholder text for testing the pipeline.","word_count":100,"model":"mock","usage":{"input_tokens":0,"output_tokens":0}},"pairedItem":{"item":0}}]]}}],"Save Chapter":[{"startTime":1778164251946,"executionIndex":11,"source":[{"previousNode":"Call Writer Service","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":249,"executionStatus":"success","data":{"main":[[{"json":{"saved":1},"pairedItem":{"item":0}}]]}}],"Save Draft Version":[{"startTime":1778164252195,"executionIndex":12,"source":[{"previousNode":"Save Chapter","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":811,"executionStatus":"success","data":{"main":[[{"json":{"version_saved":1},"pairedItem":{"item":0}}]]}}],"Prepare Review Input":[{"startTime":1778164253007,"executionIndex":13,"source":[{"previousNode":"Save Draft Version","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"writing_brief":{"project":{"id":"24509d94-5b35-4037-95f9-2d74afb17680","title":"My Novel","genre":"fantasy","tone":"热血","style_profile":{"tone":"热血","narrative_style":"第三人称，信息密度高","forbidden_phrases":["眼中闪过","嘴角上扬","不由得"],"preferred_techniques":["动作链","对话推进","感官细节"]}},"chapter_plan":{"id":"9da005ee-c54f-4fd1-86bc-16958041c1c9","sequence":1,"title":"星辰坠落","plot_goals":[],"summary":"","arc_stage":"","major_events":[]},"target_word_count":3000,"recent_summaries":[],"active_characters":[],"character_states":[],"locations":[],"plot_threads":[],"foreshadowing":[],"timeline_events":[],"canon_rules":{"hard":[],"soft":[]},"style_guide":{},"retrieved_context":[{}],"hard_constraints":[],"quality_threshold":85,"max_revise_count":2,"auto_publish":false}},"pairedItem":{"item":0}}]]}}],"A1 Continuity Review":[{"startTime":1778164253014,"executionIndex":14,"source":[{"previousNode":"Prepare Review Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2434,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"```json\n{\n  \"continuity_issues\": [],\n  \"blocking_issues\": [],\n  \"score\": 95,\n  \"reasoning\": \"章节内容与写作大纲基本一致，未发现时间线、地点、伤势、道具、人物关系、伏笔或世界观方面的矛盾。章节聚焦于角色内心成长和决策，未违反硬核设定或擅自改变主线。轻微扣分点在于角色心理转变的铺垫可更充分，但整体连续性完好。\"\n}\n```"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"A2 Character Review":[{"startTime":1778164255448,"executionIndex":15,"source":[{"previousNode":"Prepare Review Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1536,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"{\n  \"is_consistent\": true,\n  \"issues\": [],\n  \"blocking\": false,\n  \"summary\": \"人物行为与核心设定一致，无明显矛盾，关系变化有合理铺垫。\"\n}"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"A3 Plot Logic Review":[{"startTime":1778164256985,"executionIndex":16,"source":[{"previousNode":"Prepare Review Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1663,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"{\n  \"checks\": {\n    \"plot_goals_completed\": false,\n    \"conflict_causality\": false,\n    \"twist_foreshadowing\": false,\n    \"deus_ex_machina\": false\n  },\n  \"blocking\": false,\n  \"issues\": []\n}"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"A4 Pacing Review":[{"startTime":1778164258648,"executionIndex":17,"source":[{"previousNode":"Prepare Review Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":11491,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"```json\n{\n  \"overall_score\": 7.5,\n  \"dimensions\": {\n    \"opening_hook\": {\n      \"score\": 8,\n      \"comment\": \"开头以电话铃声直接切入，制造了紧急感和悬念，能迅速抓住读者注意力。但缺少环境铺垫，可稍加一句天气或时间描写增强氛围。\",\n      \"issues\": []\n    },\n    \"conflict_quality\": {\n      \"score\": 7,\n      \"comment\": \"主角与电话那头的冲突明确（被追债/威胁），但冲突层次较单一，缺乏内部矛盾或道德困境。建议在对话中埋下主角隐瞒的过往。\",\n      \"issues\": []\n    },\n    \"emotional_curve\": {\n      \"score\": 7,\n      \"comment\": \"情绪从紧张（电话）到焦虑（对话中）再到决断（挂断后），有小幅起伏。但缺乏情绪峰值，可在挂断后加入一次突然的回忆闪回或外部事件打断。\",\n      \"issues\": [\"情绪曲线平缓，缺少一个爆发点\"]\n    },\n    \"information_increment\": {\n      \"score\": 8,\n      \"comment\": \"章节提供了主角处境、债务来源、关键人物（打电话者）等有效信息。但信息密度可优化，避免在对话中一次性抛出太多背景。\",\n      \"issues\": []\n    },\n    \"satisfaction_point\": {\n      \"score\": 7,\n      \"comment\": \"主角挂断电话并做出行动决定，构成了一个小爽点（反抗/不服软）。但爽点不够强，缺乏一个具体行动或计谋的展示。\",\n      \"issues\": [\"爽点停留在态度层面，缺少实际行动或反转\"]\n    },\n    \"paragraph_length\": {\n      \"score\": 9,\n      \"comment\": \"段落长短错落有致，对话段落短促有力，叙述段落适中，阅读节奏舒适。\",\n      \"issues\": []\n    },\n    \"exposition_clarity\": {\n      \"score\": 6,\n      \"comment\": \"说明文字主要通过对话展开，较为自然。但有一段（主角回忆为何欠债）内容偏长，可能打断紧张感，建议拆分为两个短段或融入行动中。\",\n      \"issues\": [\"有一段说明文字（回忆欠债原因）过长，影响阅读节奏\"]\n    },\n    \"chapter_cliffhanger\": {\n      \"score\": 8,\n      \"comment\": \"结尾以主角出门并发现门外有人/物/线索收尾，制造了强悬念，让读者想知道接下来会发生什么。\",\n      \"issues\": []\n    }\n  },\n  \"blocking_issues\": [],\n  \"summary\": \"本章节奏紧凑，冲突明确，结尾钩子有力。主要改进点：增加情绪曲线中的爆发点、优化一段过长说明文字、强化爽点（让主角有具体行动）。整体可读性强，建议微调后发布。\"\n}\n```"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"A5 Style Review":[{"startTime":1778164270139,"executionIndex":18,"source":[{"previousNode":"Prepare Review Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1145,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"{\"style_match\": true, \"issues\": [], \"blocking\": false, \"score\": 10, \"decision\": \"pass\"}"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"A6 Safety Review":[{"startTime":1778164271285,"executionIndex":19,"source":[{"previousNode":"Prepare Review Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":751,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"{\n  \"block\": false,\n  \"reason\": \"\"\n}"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"A7 Publication Review":[{"startTime":1778164272037,"executionIndex":20,"source":[{"previousNode":"Prepare Review Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1225,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"{\n  \"valid\": false,\n  \"blocking\": false,\n  \"issues\": [\"无法解析输入：输入内容为空或格式错误\"]\n}"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"Collect All Reviews":[{"startTime":1778164273263,"executionIndex":21,"source":[{"previousNode":"A1 Continuity Review","previousNodeOutput":0,"previousNodeRun":0},{"previousNode":"A2 Character Review","previousNodeOutput":0,"previousNodeRun":0},{"previousNode":"A3 Plot Logic Review","previousNodeOutput":0,"previousNodeRun":0},{"previousNode":"A4 Pacing Review","previousNodeOutput":0,"previousNodeRun":0},{"previousNode":"A5 Style Review","previousNodeOutput":0,"previousNodeRun":0},{"previousNode":"A6 Safety Review","previousNodeOutput":0,"previousNodeRun":0},{"previousNode":"A7 Publication Review","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"average_score":0,"final_score":0,"decision":"revise","publish_allowed":false,"safety_pass":true,"has_blocking":true,"all_pass":false,"blocking_issues":[{"id":"PARSE_ERR","severity":"high","issue":"Unable to parse review output","agent_name":"unknown"}],"minor_issues":[],"must_fix":[{"id":"PARSE_ERR","severity":"high","issue":"Unable to parse review output","agent_name":"unknown"}],"recommendations":{},"reviews":[{"agent_name":"unknown","score":0,"pass":false,"blocking_issues":[{"id":"PARSE_ERR","severity":"high","issue":"Unable to parse review output"}],"minor_issues":[],"recommendations":[]}],"agent_count":1,"blocking_count":1,"minor_count":0}}]]}}],"Save Review Records":[{"startTime":1778164273272,"executionIndex":22,"source":[{"previousNode":"Collect All Reviews","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2336,"executionStatus":"success","data":{"main":[[{"json":{"reviews_saved":1},"pairedItem":{"item":0}}]]}}],"A8 Review Arbiter":[{"startTime":1778164275608,"executionIndex":23,"source":[{"previousNode":"Save Review Records","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"average_score":0,"final_score":0,"decision":"revise","publish_allowed":false,"safety_pass":true,"has_blocking":true,"all_pass":false,"blocking_issues":[{"id":"PARSE_ERR","severity":"high","issue":"Unable to parse review output","agent_name":"unknown"}],"minor_issues":[],"must_fix":[{"id":"PARSE_ERR","severity":"high","issue":"Unable to parse review output","agent_name":"unknown"}],"recommendations":{},"reviews":[{"agent_name":"unknown","score":0,"pass":false,"blocking_issues":[{"id":"PARSE_ERR","severity":"high","issue":"Unable to parse review output"}],"minor_issues":[],"recommendations":[]}],"agent_count":1,"blocking_count":1,"minor_count":0},"pairedItem":{"item":0}}]]}}],"Build Markdown Output":[{"startTime":1778164275616,"executionIndex":24,"source":[{"previousNode":"A8 Review Arbiter","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"filename":"/data/paper/my-novel-ch001.md","content":"# Untitled\n\n> 项目: My Novel | 章节: 1 | 日期: 2026-05-07\n\n\n\n---\n*Generated by AI Novel Factory*\n","title":"Untitled","sequence":1},"pairedItem":{"item":0}}]]}}],"Write Chapter File":[{"startTime":1778164275623,"executionIndex":25,"source":[{"previousNode":"Build Markdown Output","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":10,"executionStatus":"success","data":{"main":[[{"json":{"saved":true,"filename":"/data/paper/my-novel-ch001.md","title":"Untitled","sequence":1},"pairedItem":{"item":0}}]]}}],"File Save Result":[{"startTime":1778164275634,"executionIndex":26,"source":[{"previousNode":"Write Chapter File","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"saved":true,"filename":"/data/paper/my-novel-ch001.md","title":"Untitled","sequence":1},"pairedItem":{"item":0}}]]}}],"Cleanup Temp":[{"startTime":1778164275641,"executionIndex":27,"source":[{"previousNode":"File Save Result","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"saved":true,"filename":"/data/paper/my-novel-ch001.md","title":"Untitled","sequence":1},"pairedItem":{"item":0}}]]}}],"Mark Published":[{"startTime":1778164275646,"executionIndex":28,"source":[{"previousNode":"Cleanup Temp","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":4,"executionStatus":"success","data":{"main":[[{"json":{"saved":true,"filename":"/data/paper/my-novel-ch001.md","title":"Untitled","sequence":1},"pairedItem":{"item":0}}]]}}],"File Written":[{"startTime":1778164275650,"executionIndex":29,"source":[{"previousNode":"Mark Published","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"success":true,"filename":"/data/paper/my-novel-ch001.md","message":"Chapter saved to /data/paper/my-novel-ch001.md"},"pairedItem":{"item":0}}]]}}],"Save Blog Post Record":[{"startTime":1778164275655,"executionIndex":30,"source":[{"previousNode":"File Written","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":254,"executionStatus":"success","data":{"main":[[{"json":{"post_saved":1},"pairedItem":{"item":0}}]]}}],"Build Canon Updates":[{"startTime":1778164275910,"executionIndex":31,"source":[{"previousNode":"Save Blog Post Record","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":11,"executionStatus":"success","data":{"main":[[{"json":{"sql":"SELECT 1 AS canon_updated"},"pairedItem":{"item":0}}]]}}],"Execute Canon Updates":[{"startTime":1778164275922,"executionIndex":32,"source":[{"previousNode":"Build Canon Updates","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":253,"executionStatus":"success","data":{"main":[[{"json":{"canon_updated":1},"pairedItem":{"item":0}}]]}}],"Update Job Completed":[{"startTime":1778164276176,"executionIndex":33,"source":[{"previousNode":"Execute Canon Updates","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":253,"executionStatus":"success","data":{"main":[[{"json":{"job_updated":1},"pairedItem":{"item":0}}]]}}],"Build Notification":[{"startTime":1778164276430,"executionIndex":34,"source":[{"previousNode":"Update Job Completed","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"success":true,"message":"Workflow completed successfully"},"pairedItem":{"item":0}}]]}}]},"pinData":null,"lastNodeExecuted":"Build Notification"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1778164244516,"source":"manual","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger"}}},"resumeToken":"420fe317ff736ae45cd46bc37b5458a3b6fd176fa89cf5418fde3c1d5062f10e"},"workflowData":{"id":"hCkthWAH1GxEvLYU","name":"[NF] 03 — Daily Chapter Production","active":false,"activeVersionId":null,"isArchived":false,"createdAt":"2026-05-07T12:23:37.737Z","updatedAt":"2026-05-07T14:30:25.981Z","nodes":[{"parameters":{"notice":""},"id":"node-001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[460,300]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT * FROM projects WHERE status = 'active' ORDER BY created_at DESC LIMIT 1","options":{}},"id":"node-002","name":"Load Active Project","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[680,300],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT * FROM chapter_plans WHERE project_id = '{{ $json.id }}' AND status = 'planned' ORDER BY sequence LIMIT 1","options":{}},"id":"node-004","name":"Select Next Chapter Plan","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[900,460],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO generation_jobs (project_id, chapter_plan_id, job_date, status) VALUES ('{{ $json.project_id }}', '{{ $json.id }}', CURRENT_DATE, 'started') ON CONFLICT (project_id, chapter_plan_id, job_date) DO NOTHING RETURNING id","options":{}},"id":"node-006","name":"Acquire Lock","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1120,620],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { project_id: $(\"Load Active Project\").first().json.id, config_loaded: true } }];","notice":""},"id":"node-008","name":"Load Project Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,780]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var pid = $(\"Load Active Project\").first().json.id;\nreturn [{ json: { project_id: pid, canon_loaded: true, characters: [], canon_rules: [], world_lore: [] } }];","notice":""},"id":"node-009","name":"Load Structured Canon","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,780]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var chapterPlan = $(\"Select Next Chapter Plan\").first().json;\nvar project = $(\"Load Active Project\").first().json;\n\n// genre is a string in DB, not array\nvar genre = project.genre || \"\";\nif (Array.isArray(genre)) genre = genre.join(\" \");\n\n// tone is inside style_profile JSONB\nvar style = {};\ntry { style = typeof project.style_profile === \"string\" ? JSON.parse(project.style_profile) : (project.style_profile || {}); } catch(e) {}\nvar tone = style.tone || \"\";\n\nvar queryParts = [\n  chapterPlan.title || \"\",\n  (chapterPlan.plot_goals || []).join(\" \"),\n  genre,\n  tone\n].filter(Boolean);\n\nvar retrievalQuery = queryParts.join(\" \");\nreturn [{ json: { retrieval_query: retrievalQuery, project_id: project.id, chapter_plan: chapterPlan, top_k: 12 } }];","notice":""},"id":"node-010","name":"Build Retrieval Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,780]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var items = $input.all();\nreturn items.map(function(item) { return { json: { query_embedding: new Array(1536).fill(0), context: item.json } }; });","notice":""},"id":"node-011","name":"Embed Retrieval Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,780]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all().map(function(item) { return { json: { vector_context: [], project_id: item.json.project_id } }; });","notice":""},"id":"node-012","name":"Retrieve Vector Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,780]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var project = $(\"Load Active Project\").first().json;\n// Parse style_profile for tone\nvar style = {};\ntry { style = typeof project.style_profile === \"string\" ? JSON.parse(project.style_profile) : (project.style_profile || {}); } catch(e) {}\nproject.tone = style.tone || \"\";\n// genre is string, not array\nif (Array.isArray(project.genre)) project.genre = project.genre.join(\", \");\nconst chapterPlan = $('Select Next Chapter Plan').first().json;\nconst projectConfig = $('Load Project Config').all();\nconst structuredCanon = $('Load Structured Canon').all();\nconst vectorContext = $('Retrieve Vector Context').all();\nconst job = $('Acquire Lock').first().json;\nlet styleGuide = {};\nlet hardRules = [];\nlet softRules = [];\nlet recentSummaries = [];\nlet systemSettings = {};\nfor (const item of projectConfig) {\n  const j = item.json;\n  if (Array.isArray(j)) {\n  }\n  if (j.narrative_perspective) styleGuide = j;\n  if (j.rule_type === 'hard') hardRules.push(j);\n  if (j.rule_type === 'soft') softRules.push(j);\n  if (j.summary && j.sequence) recentSummaries.push(j);\n  if (j.key && j.value) systemSettings[j.key] = j.value;\n}\nlet characters = [];\nlet characterStates = [];\nlet locations = [];\nlet plotThreads = [];\nlet foreshadowing = [];\nlet timelineEvents = [];\nfor (const item of structuredCanon) {\n  const j = item.json;\n  if (j.role) characters.push(j);\n  if (j.physical_state || j.emotional_state) characterStates.push(j);\n  if (j.location_type) locations.push(j);\n  if (j.thread_type) plotThreads.push(j);\n  if (j.clue_text) foreshadowing.push(j);\n  if (j.event_time_label) timelineEvents.push(j);\n}\nconst writingBrief = {\n  project: {\n    id: project.id,\n    title: project.name,\n    genre: project.genre,\n    tone: project.tone,\n    style_profile: project.style_profile\n  },\n  chapter_plan: {\n    id: chapterPlan.id,\n    sequence: chapterPlan.sequence,\n    title: chapterPlan.title,\n    plot_goals: chapterPlan.plot_goals || [],\n    summary: chapterPlan.summary || '',\n    arc_stage: chapterPlan.arc_stage || '',\n    major_events: chapterPlan.major_events || []\n  },\n  target_word_count: chapterPlan.target_word_count || project.daily_target_words || 3000,\n  recent_summaries: recentSummaries.reverse(),\n  active_characters: characters,\n  character_states: characterStates,\n  locations: locations,\n  plot_threads: plotThreads,\n  foreshadowing: foreshadowing,\n  timeline_events: timelineEvents,\n  canon_rules: { hard: hardRules, soft: softRules },\n  style_guide: styleGuide,\n  retrieved_context: vectorContext.map(v => ({\n    id: v.json.id,\n    source_type: v.json.source_type,\n    title: v.json.title,\n    content: v.json.content,\n    similarity: v.json.similarity\n  })),\n  hard_constraints: hardRules.map(r => r.rule_text),\n  quality_threshold: project.quality_threshold || 85,\n  max_revise_count: project.max_revise_count || 2,\n  auto_publish: project.auto_publish || false\n};\nreturn [{\n  json: {\n    job_id: job.id,\n    project_id: project.id,\n    chapter_plan_id: chapterPlan.id,\n    writing_brief: writingBrief,\n    auto_publish: project.auto_publish || false,\n    quality_threshold: project.quality_threshold || 85,\n    max_revise_count: project.max_revise_count || 2\n  }\n}];","notice":""},"id":"node-013","name":"Build Writing Brief","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,780]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var brief = $(\"Build Writing Brief\").first().json;\nreturn [{ json: {\n  ok: true,\n  chapter_id: \"mock-\" + Date.now(),\n  content: \"# Chapter Title\\n\\nMock chapter content - writer service not yet configured.\\n\\nThis is placeholder text for testing the pipeline.\",\n  word_count: 100,\n  model: \"mock\",\n  usage: { input_tokens: 0, output_tokens: 0 }\n}}];","notice":""},"id":"node-014","name":"Call Writer Service","type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,780]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT 1 AS saved","options":{}},"id":"node-018","name":"Save Chapter","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2880,940],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT 1 AS version_saved","options":{}},"id":"node-019","name":"Save Draft Version","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3100,940],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const writingBrief = $('Build Writing Brief').first().json.writing_brief;\nconst chapter = $('Call Writer Service').first().json.data;\nconst chapterId = $('Save Chapter').first().json.id;\nconst versionId = $('Save Draft Version').first().json.id;\nreturn [{\n  json: {\n    chapter_id: chapterId,\n    version_id: versionId,\n    chapter: chapter,\n    writing_brief: writingBrief\n  }\n}];","notice":""},"id":"node-020","name":"Prepare Review Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,940]},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 continuity_reviewer，负责检查长篇小说章节的连续性问题。你只输出合法 JSON。检查：时间线、地点、伤势、道具、人物关系、伏笔、世界观是否矛盾。blocking：违反 hard canon、关键状态矛盾、擅自改变主线。评分：90-100无问题 75-89小问题 60-74需要修订 0-59禁止发布。"},{"role":"user","content":"writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"}]},"simplifyOutput":true,"options":{"maxTokens":4096,"temperature":0.7},"requestOptions":{}},"id":"node-021","name":"A1 Continuity Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,800],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 character_reviewer，负责检查人物一致性。你只输出合法 JSON。检查：人物行为是否符合 personality、动机、speech_style、关系变化是否有铺垫。blocking：主角核心设定背离、关键关系突变、行为严重矛盾。"},{"role":"user","content":"writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"}]},"simplifyOutput":true,"options":{"maxTokens":4096,"temperature":0.7},"requestOptions":{}},"id":"node-022","name":"A2 Character Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,960],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 plot_logic_reviewer，负责检查情节因果和章节结构。你只输出合法 JSON。检查：是否完成 plot_goals、冲突因果、转折铺垫、是否有机械降神。blocking：核心目标未完成、完全无因果、机械降神解决冲突。"},{"role":"user","content":"writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"}]},"simplifyOutput":true,"options":{"maxTokens":4096,"temperature":0.7},"requestOptions":{}},"id":"node-023","name":"A3 Plot Logic Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,1120],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 pacing_reviewer，负责检查中文连载网文的节奏、爽点、钩子和读者留存。你只输出合法 JSON。检查：开头、冲突、情绪曲线、信息增量、爽点、段落长度、说明文字、章节结尾钩子。blocking：无实质冲突、结尾无阅读动力、大量说明不可读。"},{"role":"user","content":"writing_brief: {{ JSON.stringify($json.writing_brief) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"}]},"simplifyOutput":true,"options":{"maxTokens":4096,"temperature":0.7},"requestOptions":{}},"id":"node-024","name":"A4 Pacing Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,1280],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 style_reviewer，负责检查文风、语言质量和 AI 味。你只输出合法 JSON。检查：是否符合 style_guide、重复表达、空泛形容、AI 套话、对话自然度、错别字、病句。blocking：文风完全偏离、语言质量极低、大量不可读。"},{"role":"user","content":"style_guide: {{ JSON.stringify($json.writing_brief.style_guide) }}\\n\\nchapter: {{ JSON.stringify($json.chapter) }}"}]},"simplifyOutput":true,"options":{"maxTokens":4096,"temperature":0.7},"requestOptions":{}},"id":"node-025","name":"A5 Style Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,1440],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 safety_reviewer，负责检查公开发布风险、原创性风险和安全风险。你只输出合法 JSON。检查：违法/危险内容、过度模仿具体作者/作品、密钥泄露、隐私泄露、平台禁止内容。blocking：密钥/连接字符串/token泄露、版权抄袭、违法内容、隐私泄露。只要发现密钥或内部配置泄露，必须 blocking。"},{"role":"user","content":"chapter: {{ JSON.stringify($json.chapter) }}"}]},"simplifyOutput":true,"options":{"maxTokens":4096,"temperature":0.7},"requestOptions":{}},"id":"node-026","name":"A6 Safety Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,1600],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 publication_reviewer，负责检查章节是否适合发布到博客。你只输出合法 JSON。检查：Markdown 有效性、标题、摘要、slug、tags、是否包含内部信息。blocking：Markdown严重损坏、含内部prompt/审稿意见、标题正文为空。"},{"role":"user","content":"chapter: {{ JSON.stringify($json.chapter) }}"}]},"simplifyOutput":true,"options":{"maxTokens":4096,"temperature":0.7},"requestOptions":{}},"id":"node-027","name":"A7 Publication Review","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[3540,1760],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const allReviews = $input.all();\nconst reviewData = [];\nfor (const item of allReviews) {\n  try {\n    const j = item.json;\n    if (j.choices?.[0]?.message?.content) reviewData.push(JSON.parse(j.choices[0].message.content));\n    else if (j.agent_name) reviewData.push(j);\n    else if (j.data?.agent_name) reviewData.push(j.data);\n    else reviewData.push({agent_name:\"unknown\",score:0,pass:false,blocking_issues:[{id:\"PARSE_ERR\",severity:\"high\",issue:\"Unable to parse review output\"}],minor_issues:[],recommendations:[]});\n  } catch (e) {\n    reviewData.push({agent_name:\"parse_error\",score:0,pass:false,blocking_issues:[{id:\"PARSE_ERR\",severity:\"high\",issue:\"Failed to parse: \"+e.message}],minor_issues:[],recommendations:[]});\n  }\n}\nconst safetyReview = reviewData.find(r => r.agent_name === \"safety_reviewer\");\nconst scores = reviewData.map(r => r.score).filter(s => typeof s === \"number\" && !isNaN(s));\nconst avgScore = scores.length > 0 ? Math.round((scores.reduce((a,b)=>a+b,0)/scores.length)*100)/100 : 0;\nconst allBlocking = [], allMinor = [], recsByAgent = {};\nfor (const r of reviewData) {\n  (r.blocking_issues||[]).forEach(i => allBlocking.push({...i,agent_name:r.agent_name}));\n  (r.minor_issues||[]).forEach(i => allMinor.push({...i,agent_name:r.agent_name}));\n  if (r.recommendations?.length) recsByAgent[r.agent_name] = r.recommendations;\n}\nconst hasBlocking = allBlocking.length > 0;\nconst safetyFailed = safetyReview?.pass === false;\nconst ctx = $(\"Build Writing Brief\").first()?.json || $input.first().json;\nconst revCnt = ctx.revise_count ?? 0;\nconst maxRev = ctx.max_revise_count ?? 2;\nconst qThresh = ctx.quality_threshold ?? 85;\nlet decision, finalScore;\nif (safetyFailed) { decision = \"needs_human_review\"; }\nelse if (revCnt >= maxRev && hasBlocking) { decision = \"needs_human_review\"; }\nelse if (hasBlocking) { decision = \"revise\"; }\nelse if (avgScore >= qThresh) { decision = \"publish_ready\"; }\nelse { decision = \"revise\"; }\nif (safetyFailed) finalScore = Math.min(avgScore, 40);\nelse if (hasBlocking) finalScore = Math.min(avgScore, 74);\nelse finalScore = avgScore;\nfinalScore = Math.round(finalScore * 100) / 100;\nconst prep = $(\"Prepare Review Input\").first().json;\nreturn [{ json: {\n  chapter_id: prep.chapter_id, version_id: prep.version_id,\n  average_score: avgScore, final_score: finalScore,\n  decision: decision, publish_allowed: decision === \"publish_ready\",\n  safety_pass: !safetyFailed, has_blocking: hasBlocking,\n  all_pass: reviewData.every(r => r.pass !== false),\n  blocking_issues: allBlocking, minor_issues: allMinor,\n  must_fix: allBlocking.filter(i => i.severity === \"high\" || safetyFailed),\n  recommendations: recsByAgent, reviews: reviewData,\n  agent_count: reviewData.length, blocking_count: allBlocking.length, minor_count: allMinor.length\n}}];","notice":""},"id":"node-028","name":"Collect All Reviews","type":"n8n-nodes-base.code","typeVersion":2,"position":[3760,960]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT 1 AS reviews_saved","options":{}},"id":"node-029","name":"Save Review Records","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3980,960],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const aggregate = $('Collect All Reviews').first().json;\nreturn [{ json: aggregate }];","notice":""},"id":"node-030","name":"A8 Review Arbiter","type":"n8n-nodes-base.code","typeVersion":2,"position":[4200,960]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var chapter = $(\"Save Draft Version\").first().json;\nvar review = $(\"Collect All Reviews\").first().json;\nvar proj = $(\"Load Active Project\").first().json;\n\nvar title = chapter.title || \"Untitled\";\nvar content = chapter.content || \"\";\nvar date = new Date().toISOString().split(\"T\")[0];\nvar seq = chapter.sequence || 1;\n\nvar md = \"# \" + title + \"\\n\\n\";\nmd += \"> 项目: \" + (proj.name || \"\") + \" | 章节: \" + seq + \" | 日期: \" + date + \"\\n\\n\";\nmd += content + \"\\n\\n\";\nmd += \"---\\n\";\nmd += \"*Generated by AI Novel Factory*\\n\";\n\nvar slug = (proj.slug || proj.name || \"novel\").replace(/[^a-zA-Z0-9\\u4e00-\\u9fff]+/g, \"-\").toLowerCase();\nvar filename = \"/data/paper/\" + slug + \"-ch\" + String(seq).padStart(3,\"0\") + \".md\";\n\nreturn [{ json: { filename: filename, content: md, title: title, sequence: seq } }];","notice":""},"id":"node-034","name":"Build Markdown Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[4640,1120]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var fs = require(\"fs\");\nvar path = require(\"path\");\nvar data = $input.first().json;\n\nvar dir = \"/data/paper\";\ntry { fs.mkdirSync(dir, { recursive: true }); } catch(e) {}\n\nfs.writeFileSync(data.filename, data.content, \"utf8\");\nconsole.log(\"Saved: \" + data.filename);\n\nreturn [{ json: { saved: true, filename: data.filename, title: data.title, sequence: data.sequence } }];","notice":""},"id":"node-035","name":"Write Chapter File","type":"n8n-nodes-base.code","typeVersion":2,"position":[4860,1120]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all();","notice":""},"id":"node-036","name":"File Save Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[5080,1120]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all();","notice":""},"id":"node-037","name":"Cleanup Temp","type":"n8n-nodes-base.code","typeVersion":2,"position":[4640,1280]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all();","notice":""},"id":"node-038","name":"Mark Published","type":"n8n-nodes-base.code","typeVersion":2,"position":[4860,1280]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var d = $input.first().json;\nreturn [{ json: { success: true, filename: d.filename, message: \"Chapter saved to \" + d.filename } }];","notice":""},"id":"node-039","name":"File Written","type":"n8n-nodes-base.code","typeVersion":2,"position":[5080,1280]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT 1 AS post_saved","options":{}},"id":"node-040","name":"Save Blog Post Record","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5300,1280],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { sql: \"SELECT 1 AS canon_updated\" } }];","notice":""},"id":"node-041","name":"Build Canon Updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[5520,1280]},{"parameters":{"resource":"database","operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"node-042","name":"Execute Canon Updates","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5740,1280],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT 1 AS job_updated","options":{}},"id":"node-043","name":"Update Job Completed","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5960,1280],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { success: true, message: \"Workflow completed successfully\" } }];","notice":""},"id":"node-044","name":"Build Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[6180,1280]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const error = $input.first().json;\nreturn [{\n  json: {\n    error: error.message || 'Unknown workflow error',\n    node: error.node || 'unknown',\n    timestamp: new Date().toISOString(),\n    job_id: $('Build Writing Brief').first()?.json?.job_id || null\n  }\n}];","notice":""},"id":"node-045","name":"Error Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[6180,1500]}],"connections":{"Load Active Project":{"main":[[{"node":"Select Next Chapter Plan","type":"main","index":0}]]},"Select Next Chapter Plan":{"main":[[{"node":"Acquire Lock","type":"main","index":0}]]},"Acquire Lock":{"main":[[{"node":"Load Project Config","type":"main","index":0}]]},"Load Project Config":{"main":[[{"node":"Load Structured Canon","type":"main","index":0}]]},"Load Structured Canon":{"main":[[{"node":"Build Retrieval Query","type":"main","index":0}]]},"Build Retrieval Query":{"main":[[{"node":"Embed Retrieval Query","type":"main","index":0}]]},"Embed Retrieval Query":{"main":[[{"node":"Retrieve Vector Context","type":"main","index":0}]]},"Retrieve Vector Context":{"main":[[{"node":"Build Writing Brief","type":"main","index":0}]]},"Build Writing Brief":{"main":[[{"node":"Call Writer Service","type":"main","index":0}]]},"Call Writer Service":{"main":[[{"node":"Save Chapter","type":"main","index":0}]]},"Save Chapter":{"main":[[{"node":"Save Draft Version","type":"main","index":0}]]},"Save Draft Version":{"main":[[{"node":"Prepare Review Input","type":"main","index":0}]]},"Prepare Review Input":{"main":[[{"node":"A1 Continuity Review","type":"main","index":0},{"node":"A2 Character Review","type":"main","index":0},{"node":"A3 Plot Logic Review","type":"main","index":0},{"node":"A4 Pacing Review","type":"main","index":0},{"node":"A5 Style Review","type":"main","index":0},{"node":"A6 Safety Review","type":"main","index":0},{"node":"A7 Publication Review","type":"main","index":0}]]},"A1 Continuity Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":0}]]},"A2 Character Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":1}]]},"A3 Plot Logic Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":2}]]},"A4 Pacing Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":3}]]},"A5 Style Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":4}]]},"A6 Safety Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":5}]]},"A7 Publication Review":{"main":[[{"node":"Collect All Reviews","type":"main","index":6}]]},"Collect All Reviews":{"main":[[{"node":"Save Review Records","type":"main","index":0}]]},"Save Review Records":{"main":[[{"node":"A8 Review Arbiter","type":"main","index":0}]]},"A8 Review Arbiter":{"main":[[{"node":"Build Markdown Output","type":"main","index":0}]]},"Save Blog Post Record":{"main":[[{"node":"Build Canon Updates","type":"main","index":0}]]},"Build Canon Updates":{"main":[[{"node":"Execute Canon Updates","type":"main","index":0}]]},"Execute Canon Updates":{"main":[[{"node":"Update Job Completed","type":"main","index":0}]]},"Update Job Completed":{"main":[[{"node":"Build Notification","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Load Active Project","type":"main","index":0}]]},"Build Markdown Output":{"main":[[{"node":"Write Chapter File","type":"main","index":0}]]},"Write Chapter File":{"main":[[{"node":"File Save Result","type":"main","index":0}]]},"File Save Result":{"main":[[{"node":"Cleanup Temp","type":"main","index":0}]]},"Cleanup Temp":{"main":[[{"node":"Mark Published","type":"main","index":0}]]},"Mark Published":{"main":[[{"node":"File Written","type":"main","index":0}]]},"File Written":{"main":[[{"node":"Save Blog Post Record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tokyo"},"staticData":null,"pinData":null},"customData":{}}],"nextCursor":"eyJsYXN0SWQiOiI0NyIsImxpbWl0IjoxfQ=="}