n8n/wf04_exec2.json
{"data":[{"id":"59","finished":true,"mode":"manual","retryOf":null,"retrySuccessId":null,"status":"success","startedAt":"2026-05-07T15:24:07.711Z","stoppedAt":"2026-05-07T15:24:19.729Z","workflowId":"GLfaMt9VH3vXSREy","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"runData":{"Manual Trigger":[{"startTime":1778167447728,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{},"pairedItem":{"item":0}}]]}}],"Prepare Input":[{"startTime":1778167447729,"executionIndex":1,"source":[{"previousNode":"Manual Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"chapter_id":"","action":"repair_and_review","force_publish":false},"pairedItem":{"item":0}}]]}}],"Load Chapter":[{"startTime":1778167447736,"executionIndex":2,"source":[{"previousNode":"Prepare Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5972,"executionStatus":"success","data":{"main":[[{"json":{"id":"0b2664b2-c093-42b1-bd4e-76560f75d111","project_id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","chapter_plan_id":"73024008-db2c-4513-97a0-69bf2c8a0e66","sequence":1,"title":"星辰坠落","final_version_id":"21b1e5b1-f288-4596-855c-3e8e41b4255e","status":"revised","word_count":1493,"summary":"天穹碎裂，星辰坠落于落日山脉...","published_at":null,"metadata":{},"created_at":"2026-05-07T15:04:01.403Z","updated_at":"2026-05-07T15:23:11.063Z"},"pairedItem":{"item":0}}]]}}],"Load Version & Reviews":[{"startTime":1778167453708,"executionIndex":3,"source":[{"previousNode":"Load Chapter","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"chapter":{"id":"0b2664b2-c093-42b1-bd4e-76560f75d111","project_id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","chapter_plan_id":"73024008-db2c-4513-97a0-69bf2c8a0e66","sequence":1,"title":"星辰坠落","final_version_id":"21b1e5b1-f288-4596-855c-3e8e41b4255e","status":"revised","word_count":1493,"summary":"天穹碎裂，星辰坠落于落日山脉...","published_at":null,"metadata":{},"created_at":"2026-05-07T15:04:01.403Z","updated_at":"2026-05-07T15:23:11.063Z"},"chapter_id":"0b2664b2-c093-42b1-bd4e-76560f75d111","final_version_id":"21b1e5b1-f288-4596-855c-3e8e41b4255e"},"pairedItem":{"item":0}}]]}}],"Build Revision Input":[{"startTime":1778167453714,"executionIndex":4,"source":[{"previousNode":"Load Version & Reviews","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"chapter_id":"0b2664b2-c093-42b1-bd4e-76560f75d111","project_id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","title":"星辰坠落","sequence":1,"body_markdown":"","mode":"full_revision","revision_notes":"Revise based on safety review"},"pairedItem":{"item":0}}]]}}],"Call Writer Revise":[{"startTime":1778167453722,"executionIndex":5,"source":[{"previousNode":"Build Revision Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":3854,"executionStatus":"success","data":{"main":[[{"json":{"ok":true,"data":{"title":"星辰坠落","body_markdown":"无初始草稿内容。","summary":"由于初始草稿为空、审稿报告为空，且未提供硬性规则与风格指南，本修订仅输出占位符，等待后续输入。","word_count":4,"fixed_issues":[],"unfixed_issues":[],"change_log":["初始草稿为空，未执行任何修订。","审稿报告为空，无阻塞或次要问题可修复。"],"final_notes":["请提供有效初始草稿、审稿报告、硬性规则及风格指南以进行修订。","当前输出仅为占位，不构成实际章节内容。"]},"stderr":"","duration_ms":156},"pairedItem":{"item":0}}]]}}],"Save Revised Version":[{"startTime":1778167457577,"executionIndex":6,"source":[{"previousNode":"Call Writer Revise","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":9,"executionStatus":"success","data":{"main":[[{"json":{"title":"星辰坠落","content":"无初始草稿内容。","word_count":4,"sql":"WITH ins_ver AS (INSERT INTO chapter_versions (chapter_id, project_id, version_number, version_type, title, body_markdown, summary, word_count) VALUES ('0b2664b2-c093-42b1-bd4e-76560f75d111', 'c56071d2-c572-47e6-a4e9-f56ee5c02e60', 2, 'revised', '星辰坠落', '无初始草稿内容。', '由于初始草稿为空、审稿报告为空，且未提供硬性规则与风格指南，本修订仅输出占位符，等待后续输入。', 4) RETURNING id, chapter_id) UPDATE chapters SET status = 'revised', final_version_id = ins_ver.id, updated_at = now() FROM ins_ver WHERE chapters.id = ins_ver.chapter_id RETURNING chapters.id, ins_ver.id AS version_id"},"pairedItem":{"item":0}}]]}}],"Execute Revision Save":[{"startTime":1778167457587,"executionIndex":7,"source":[{"previousNode":"Save Revised Version","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":840,"executionStatus":"success","data":{"main":[[{"json":{"id":"0b2664b2-c093-42b1-bd4e-76560f75d111","version_id":"40184b5b-af14-4451-ac36-c48c4d0e77f1"},"pairedItem":{"item":0}}]]}}],"Update .md File":[{"startTime":1778167458428,"executionIndex":8,"source":[{"previousNode":"Execute Revision Save","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":10,"executionStatus":"success","data":{"main":[[{"json":{"updated":true,"filename":"/data/paper/my-novel-ch001.md","title":"星辰坠落"},"pairedItem":{"item":0}}]]}}],"Quick Safety Check":[{"startTime":1778167458439,"executionIndex":9,"source":[{"previousNode":"Update .md File","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1016,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"{\n  \"safe\": true,\n  \"issues\": [],\n  \"blocking\": false\n}"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"Final Decision":[{"startTime":1778167459455,"executionIndex":10,"source":[{"previousNode":"Quick Safety Check","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"decision":"publish","safety_ok":true},"pairedItem":{"item":0}}]]}}],"Update Chapter Status":[{"startTime":1778167459463,"executionIndex":11,"source":[{"previousNode":"Final Decision","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":257,"executionStatus":"success","data":{"main":[[{"json":{"status_updated":1},"pairedItem":{"item":0}}]]}}],"Repair Summary":[{"startTime":1778167459721,"executionIndex":12,"source":[{"previousNode":"Update Chapter Status","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"success":true,"message":"Review and repair complete"},"pairedItem":{"item":0}}]]}}]},"pinData":{},"lastNodeExecuted":"Repair Summary"},"executionData":{"contextData":{"node:Call Writer Revise":{"response":{"body":{"ok":true,"data":{"title":"星辰坠落","body_markdown":"无初始草稿内容。","summary":"由于初始草稿为空、审稿报告为空，且未提供硬性规则与风格指南，本修订仅输出占位符，等待后续输入。","word_count":4,"fixed_issues":[],"unfixed_issues":[],"change_log":["初始草稿为空，未执行任何修订。","审稿报告为空，无阻塞或次要问题可修复。"],"final_notes":["请提供有效初始草稿、审稿报告、硬性规则及风格指南以进行修订。","当前输出仅为占位，不构成实际章节内容。"]},"stderr":"","duration_ms":156}}}},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1778167447722,"source":"manual","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger"}}},"resumeToken":"8c26d556722a7015b09fa35a20c2050c2638e639034599131a4b2caeb4b55393"},"workflowData":{"id":"GLfaMt9VH3vXSREy","name":"[NF] 04 — Review and Repair","active":false,"activeVersionId":null,"isArchived":false,"createdAt":"2026-05-07T10:28:20.660Z","updatedAt":"2026-05-07T15:24:26.944Z","nodes":[{"parameters":{"notice":""},"id":"node-001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[464,304]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    chapter_id: $input.first().json.chapter_id || '',\n    action: $input.first().json.action || 'repair_and_review',\n    // repair_and_review | manual_publish | reject\n    force_publish: $input.first().json.force_publish || false\n  }\n}];","notice":""},"id":"node-002","name":"Prepare Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT * FROM chapters ORDER BY created_at DESC LIMIT 1","options":{}},"id":"node-003","name":"Load Chapter","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[912,304],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var ch = $input.first().json;\nreturn [{ json: { chapter: ch, chapter_id: ch.id, final_version_id: ch.final_version_id } }];","notice":""},"id":"node-005","name":"Load Version & Reviews","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,528]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var ch = $(\"Load Chapter\").first().json;\nvar lvr = $(\"Load Version & Reviews\").first().json;\nreturn [{ json: {\n  chapter_id: ch.id,\n  project_id: ch.project_id,\n  title: ch.title,\n  sequence: ch.sequence,\n  body_markdown: lvr.content || \"\",\n  mode: \"full_revision\",\n  revision_notes: \"Revise based on safety review\"\n}}];","notice":""},"id":"node-006","name":"Build Revision Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,528]},{"parameters":{"curlImport":"","method":"POST","url":"http://host.docker.internal:8787/revise-chapter","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 4c80255ed72559aceadb58db5d81f91fb40a0345f738e3b69b9696bea85b0f5c"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ writing_brief: $json, chapter_id: $json.id }) }}","options":{"timeout":600000},"infoMessage":""},"id":"node-007","name":"Call Writer Revise","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1568,464],"credentials":{"httpHeaderAuth":{"id":"OFervrjfRP7togIg","name":"Writer Service Token"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var writerResp = $input.first().json;\nvar chData = writerResp.data || writerResp;\nvar input = $(\"Prepare Input\").first().json;\nvar ch = $(\"Load Chapter\").first().json;\n\nvar title = chData.title || ch.title || \"Revised\";\nvar content = chData.body_markdown || chData.content || \"\";\nvar wordCount = chData.word_count || content.length;\nvar summary = chData.summary || \"\";\n\nfunction esc(val) {\n  if (val === undefined || val === null) return \"NULL\";\n  if (typeof val === \"number\") return String(val);\n  var str = typeof val === \"object\" ? JSON.stringify(val) : String(val);\n  return \"'\" + str.replace(/'/g, \"''\") + \"'\";\n}\n\n// CTE: insert new version + update chapter in one query\nvar sql = \"WITH ins_ver AS (\"\n  + \"INSERT INTO chapter_versions (chapter_id, project_id, version_number, version_type, title, body_markdown, summary, word_count) VALUES (\"\n  + esc(ch.id) + \", \" + esc(ch.project_id) + \", 2, 'revised', \"\n  + esc(title) + \", \" + esc(content) + \", \" + esc(summary) + \", \" + esc(wordCount)\n  + \") RETURNING id, chapter_id\"\n  + \") UPDATE chapters SET status = 'revised', final_version_id = ins_ver.id, updated_at = now() FROM ins_ver WHERE chapters.id = ins_ver.chapter_id RETURNING chapters.id, ins_ver.id AS version_id\";\n\nreturn [{ json: {\n  title: title,\n  content: content,\n  word_count: wordCount,\n  sql: sql\n}}];","notice":""},"id":"node-008","name":"Save Revised Version","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,464]},{"parameters":{"resource":"database","operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"node-009","name":"Execute Revision Save","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2000,464],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 safety_reviewer。只输出合法 JSON。对章节进行安全审查，检查是否有密钥泄露、版权问题、平台禁止内容。blocking issue：出现密钥、连接字符串、token、版权抄袭、违法内容。"},{"role":"user","content":"chapter:\\n{{ JSON.stringify($json.chapter) }}"}]},"simplifyOutput":true,"options":{"maxTokens":2048,"temperature":0.7},"requestOptions":{}},"id":"node-010","name":"Quick Safety Check","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[2224,464],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { decision: \"publish\", safety_ok: true } }];","notice":""},"id":"node-011","name":"Final Decision","type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,464]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT 1 AS status_updated","options":{}},"id":"node-012","name":"Update Chapter Status","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2672,464],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { success: true, message: \"Review and repair complete\" } }];","notice":""},"id":"node-013","name":"Repair Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,464]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var fs = require(\"fs\");\nvar data = $(\"Save Revised Version\").first().json;\nvar ch = $(\"Load Chapter\").first().json;\n\nvar seq = ch.sequence || 1;\nvar slug = \"my-novel\";\nvar filename = \"/data/paper/\" + slug + \"-ch\" + String(seq).padStart(3,\"0\") + \".md\";\n\n// Read existing file\nvar existing = \"\";\ntry { existing = fs.readFileSync(filename, \"utf8\"); } catch(e) {}\n\n// Build revised content\nvar md = \"# \" + data.title + \" (Revised)\\n\\n\";\nmd += \"> 章节: \" + seq + \" | 字数: \" + data.word_count + \"\\n\\n\";\nmd += data.content + \"\\n\\n\";\nmd += \"---\\n\";\nmd += \"*Revised by AI Novel Factory*\\n\";\n\nfs.writeFileSync(filename, md, \"utf8\");\n\nreturn [{ json: { updated: true, filename: filename, title: data.title } }];","notice":""},"id":"node-update-md","name":"Update .md File","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,700]}],"connections":{"Manual Trigger":{"main":[[{"node":"Prepare Input","type":"main","index":0}]]},"Prepare Input":{"main":[[{"node":"Load Chapter","type":"main","index":0}]]},"Load Chapter":{"main":[[{"node":"Load Version & Reviews","type":"main","index":0}]]},"Load Version & Reviews":{"main":[[{"node":"Build Revision Input","type":"main","index":0}]]},"Build Revision Input":{"main":[[{"node":"Call Writer Revise","type":"main","index":0}]]},"Call Writer Revise":{"main":[[{"node":"Save Revised Version","type":"main","index":0}]]},"Save Revised Version":{"main":[[{"node":"Execute Revision Save","type":"main","index":0}]]},"Quick Safety Check":{"main":[[{"node":"Final Decision","type":"main","index":0}]]},"Final Decision":{"main":[[{"node":"Update Chapter Status","type":"main","index":0}]]},"Update Chapter Status":{"main":[[{"node":"Repair Summary","type":"main","index":0}]]},"Execute Revision Save":{"main":[[{"node":"Update .md File","type":"main","index":0}]]},"Update .md File":{"main":[[{"node":"Quick Safety Check","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tokyo","binaryMode":"separate"},"staticData":null,"pinData":{}},"customData":{}}],"nextCursor":"eyJsYXN0SWQiOiI1OSIsImxpbWl0IjoxfQ=="}