n8n/wf04_exec.json
{"data":[{"id":"56","finished":true,"mode":"manual","retryOf":null,"retrySuccessId":null,"status":"success","startedAt":"2026-05-07T15:10:59.449Z","stoppedAt":"2026-05-07T15:11:49.827Z","workflowId":"GLfaMt9VH3vXSREy","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"runData":{"Manual Trigger":[{"startTime":1778166659462,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{},"pairedItem":{"item":0}}]]}}],"Prepare Input":[{"startTime":1778166659463,"executionIndex":1,"source":[{"previousNode":"Manual Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"chapter_id":"","action":"repair_and_review","force_publish":false},"pairedItem":{"item":0}}]]}}],"Load Chapter":[{"startTime":1778166659471,"executionIndex":2,"source":[{"previousNode":"Prepare Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2008,"executionStatus":"success","data":{"main":[[{"json":{"id":"0b2664b2-c093-42b1-bd4e-76560f75d111","project_id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","chapter_plan_id":"73024008-db2c-4513-97a0-69bf2c8a0e66","sequence":1,"title":"星辰坠落","final_version_id":"f53f6513-7127-466a-afeb-5fd179605b6f","status":"draft","word_count":1493,"summary":"天穹碎裂，星辰坠落于落日山脉...","published_at":null,"metadata":{},"created_at":"2026-05-07T15:04:01.403Z","updated_at":"2026-05-07T15:04:01.941Z"},"pairedItem":{"item":0}}]]}}],"Load Version & Reviews":[{"startTime":1778166661480,"executionIndex":3,"source":[{"previousNode":"Load Chapter","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"chapter":{"id":"0b2664b2-c093-42b1-bd4e-76560f75d111","project_id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","chapter_plan_id":"73024008-db2c-4513-97a0-69bf2c8a0e66","sequence":1,"title":"星辰坠落","final_version_id":"f53f6513-7127-466a-afeb-5fd179605b6f","status":"draft","word_count":1493,"summary":"天穹碎裂，星辰坠落于落日山脉...","published_at":null,"metadata":{},"created_at":"2026-05-07T15:04:01.403Z","updated_at":"2026-05-07T15:04:01.941Z"},"chapter_id":"0b2664b2-c093-42b1-bd4e-76560f75d111","final_version_id":"f53f6513-7127-466a-afeb-5fd179605b6f"},"pairedItem":{"item":0}}]]}}],"Build Revision Input":[{"startTime":1778166661487,"executionIndex":4,"source":[{"previousNode":"Load Version & Reviews","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"chapter":{"chapter":{"id":"0b2664b2-c093-42b1-bd4e-76560f75d111","project_id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","chapter_plan_id":"73024008-db2c-4513-97a0-69bf2c8a0e66","sequence":1,"title":"星辰坠落","final_version_id":"f53f6513-7127-466a-afeb-5fd179605b6f","status":"draft","word_count":1493,"summary":"天穹碎裂，星辰坠落于落日山脉...","published_at":null,"metadata":{},"created_at":"2026-05-07T15:04:01.403Z","updated_at":"2026-05-07T15:04:01.941Z"},"chapter_id":"0b2664b2-c093-42b1-bd4e-76560f75d111","final_version_id":"f53f6513-7127-466a-afeb-5fd179605b6f"},"mode":"full_revision"},"pairedItem":{"item":0}}]]}}],"Call Writer Revise":[{"startTime":1778166661492,"executionIndex":5,"source":[{"previousNode":"Build Revision Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":44376,"executionStatus":"success","data":{"main":[[{"json":{"ok":false,"error":"fetch failed","stderr":"fetch failed","exitCode":-2,"duration_ms":10606},"pairedItem":{"item":0}}]]}}],"Save Revised Version":[{"startTime":1778166705868,"executionIndex":6,"source":[{"previousNode":"Call Writer Revise","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2852,"executionStatus":"success","data":{"main":[[{"json":{"saved":1},"pairedItem":{"item":0}}]]}}],"Prepare Re-Review":[{"startTime":1778166708721,"executionIndex":7,"source":[{"previousNode":"Save Revised Version","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"saved":1},"pairedItem":{"item":0}}]]}}],"Quick Safety Check":[{"startTime":1778166708729,"executionIndex":8,"source":[{"previousNode":"Prepare Re-Review","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":835,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"{\n  \"safe\": true,\n  \"issues\": []\n}"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"Final Decision":[{"startTime":1778166709565,"executionIndex":9,"source":[{"previousNode":"Quick Safety Check","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"decision":"publish","reason":"auto-approved"},"pairedItem":{"item":0}}]]}}],"Update Chapter Status":[{"startTime":1778166709570,"executionIndex":10,"source":[{"previousNode":"Final Decision","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":251,"executionStatus":"success","data":{"main":[[{"json":{"status_updated":1},"pairedItem":{"item":0}}]]}}],"Repair Summary":[{"startTime":1778166709822,"executionIndex":11,"source":[{"previousNode":"Update Chapter Status","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":4,"executionStatus":"success","data":{"main":[[{"json":{"success":true,"message":"Review and repair complete"},"pairedItem":{"item":0}}]]}}]},"pinData":{},"lastNodeExecuted":"Repair Summary"},"executionData":{"contextData":{"node:Call Writer Revise":{"response":{"body":{"ok":false,"error":"fetch failed","stderr":"fetch failed","exitCode":-2,"duration_ms":10606}}}},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1778166659456,"source":"manual","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger"}}},"resumeToken":"e9c0f17c7259277ad60d301398bc1cbd9a78dabb07aac93f5a771e753e12423b"},"workflowData":{"id":"GLfaMt9VH3vXSREy","name":"[NF] 04 — Review and Repair","active":false,"activeVersionId":null,"isArchived":false,"createdAt":"2026-05-07T10:28:20.660Z","updatedAt":"2026-05-07T15:10:16.474Z","nodes":[{"parameters":{"notice":""},"id":"node-001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[464,304]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    chapter_id: $input.first().json.chapter_id || '',\n    action: $input.first().json.action || 'repair_and_review',\n    // repair_and_review | manual_publish | reject\n    force_publish: $input.first().json.force_publish || false\n  }\n}];","notice":""},"id":"node-002","name":"Prepare Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT * FROM chapters ORDER BY created_at DESC LIMIT 1","options":{}},"id":"node-003","name":"Load Chapter","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[912,304],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var ch = $input.first().json;\nreturn [{ json: { chapter: ch, chapter_id: ch.id, final_version_id: ch.final_version_id } }];","notice":""},"id":"node-005","name":"Load Version & Reviews","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,528]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { chapter: $input.first().json, mode: \"full_revision\" } }];","notice":""},"id":"node-006","name":"Build Revision Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,528]},{"parameters":{"curlImport":"","method":"POST","url":"http://host.docker.internal:8787/revise-chapter","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 4c80255ed72559aceadb58db5d81f91fb40a0345f738e3b69b9696bea85b0f5c"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ writing_brief: $json, chapter_id: $json.id }) }}","options":{"timeout":600000},"infoMessage":""},"id":"node-007","name":"Call Writer Revise","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1568,464],"credentials":{"httpHeaderAuth":{"id":"OFervrjfRP7togIg","name":"Writer Service Token"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT 1 AS saved","options":{}},"id":"node-008","name":"Save Revised Version","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1792,464],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all();","notice":""},"id":"node-009","name":"Prepare Re-Review","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,464]},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是 safety_reviewer。只输出合法 JSON。对章节进行安全审查，检查是否有密钥泄露、版权问题、平台禁止内容。blocking issue：出现密钥、连接字符串、token、版权抄袭、违法内容。"},{"role":"user","content":"chapter:\\n{{ JSON.stringify($json.chapter) }}"}]},"simplifyOutput":true,"options":{"maxTokens":2048,"temperature":0.7},"requestOptions":{}},"id":"node-010","name":"Quick Safety Check","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[2224,464],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { decision: \"publish\", reason: \"auto-approved\" } }];","notice":""},"id":"node-011","name":"Final Decision","type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,464]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT 1 AS status_updated","options":{}},"id":"node-012","name":"Update Chapter Status","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2672,464],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{ json: { success: true, message: \"Review and repair complete\" } }];","notice":""},"id":"node-013","name":"Repair Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,464]}],"connections":{"Manual Trigger":{"main":[[{"node":"Prepare Input","type":"main","index":0}]]},"Prepare Input":{"main":[[{"node":"Load Chapter","type":"main","index":0}]]},"Load Chapter":{"main":[[{"node":"Load Version & Reviews","type":"main","index":0}]]},"Load Version & Reviews":{"main":[[{"node":"Build Revision Input","type":"main","index":0}]]},"Build Revision Input":{"main":[[{"node":"Call Writer Revise","type":"main","index":0}]]},"Call Writer Revise":{"main":[[{"node":"Save Revised Version","type":"main","index":0}]]},"Save Revised Version":{"main":[[{"node":"Prepare Re-Review","type":"main","index":0}]]},"Prepare Re-Review":{"main":[[{"node":"Quick Safety Check","type":"main","index":0}]]},"Quick Safety Check":{"main":[[{"node":"Final Decision","type":"main","index":0}]]},"Final Decision":{"main":[[{"node":"Update Chapter Status","type":"main","index":0}]]},"Update Chapter Status":{"main":[[{"node":"Repair Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tokyo","binaryMode":"separate"},"staticData":null,"pinData":{}},"customData":{}}],"nextCursor":"eyJsYXN0SWQiOiI1NiIsImxpbWl0IjoxfQ=="}