n8n/wf05_latest.json
{"data":[{"id":"33","finished":true,"mode":"manual","retryOf":null,"retrySuccessId":null,"status":"success","startedAt":"2026-05-07T13:24:55.021Z","stoppedAt":"2026-05-07T13:26:13.795Z","workflowId":"RGbsc6NtL3uHqKSk","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"runData":{"Manual Trigger":[{"startTime":1778160295031,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{},"pairedItem":{"item":0}}]]}}],"Load Active Project":[{"startTime":1778160295032,"executionIndex":1,"source":[{"previousNode":"Manual Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2067,"executionStatus":"success","data":{"main":[[{"json":{"id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","name":"示例小说","genre":"fantasy","target_audience":"18-35岁网络小说读者","style_profile":{"tone":"热血","tense":"过去时","dialogue_style":"符合人物性格","forbidden_phrases":["眼中闪过","嘴角上扬","不由得"],"preferred_techniques":["动作链","对话推进","感官细节"],"narrative_perspective":"第三人称"},"total_target_words":500000,"daily_target_words":3000,"auto_publish":false,"quality_threshold":85,"blog_provider":"wordpress","status":"active","metadata":{},"created_at":"2026-05-07T08:16:49.682Z","updated_at":"2026-05-07T08:16:49.682Z"},"pairedItem":{"item":0}}]]}}],"Load Project State":[{"startTime":1778160297099,"executionIndex":2,"source":[{"previousNode":"Load Active Project","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"project":{"id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","name":"示例小说","genre":"fantasy","target_audience":"18-35岁网络小说读者","style_profile":{"tone":"热血","tense":"过去时","dialogue_style":"符合人物性格","forbidden_phrases":["眼中闪过","嘴角上扬","不由得"],"preferred_techniques":["动作链","对话推进","感官细节"],"narrative_perspective":"第三人称"},"total_target_words":500000,"daily_target_words":3000,"auto_publish":false,"quality_threshold":85,"blog_provider":"wordpress","status":"active","metadata":{},"created_at":"2026-05-07T08:16:49.682Z","updated_at":"2026-05-07T08:16:49.682Z"},"project_id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","chapter_count":0,"plot_thread_count":0},"pairedItem":{"item":0}}]]}}],"Build Planning Context":[{"startTime":1778160297106,"executionIndex":3,"source":[{"previousNode":"Load Project State","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":4,"executionStatus":"success","data":{"main":[[{"json":{"project":{"id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","name":"示例小说","genre":"fantasy","target_audience":"18-35岁网络小说读者","style_profile":{"tone":"热血","tense":"过去时","dialogue_style":"符合人物性格","forbidden_phrases":["眼中闪过","嘴角上扬","不由得"],"preferred_techniques":["动作链","对话推进","感官细节"],"narrative_perspective":"第三人称"},"total_target_words":500000,"daily_target_words":3000,"auto_publish":false,"quality_threshold":85,"blog_provider":"wordpress","status":"active","metadata":{},"created_at":"2026-05-07T08:16:49.682Z","updated_at":"2026-05-07T08:16:49.682Z"},"recent_chapters":[],"active_plot_threads":[],"unresolved_foreshadowing":[],"existing_plans":[],"reader_feedback":[],"stats":{},"next_sequence_start":1,"chapters_to_plan":10},"pairedItem":{"item":0}}]]}}],"Generate Arc Plan via AI":[{"startTime":1778160297111,"executionIndex":4,"source":[{"previousNode":"Build Planning Context","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":74306,"executionStatus":"success","data":{"main":[[{"json":{"index":0,"message":{"role":"assistant","content":"{\n  \"project_id\": \"c56071d2-c572-47e6-a4e9-f56ee5c02e60\",\n  \"planning_date\": \"2026-05-07\",\n  \"analysis\": {\n    \"recent_chapter_summary\": \"项目尚未发布任何章节，处于初始阶段。\",\n    \"reader_feedback_insights\": \"暂无读者反馈。\",\n    \"active_plot_threads_analysis\": \"无活跃剧情线，需从零构建。\",\n    \"unresolved_foreshadowing_analysis\": \"无未回收伏笔，需设计初始伏笔。\"\n  },\n  \"plot_threads\": [\n    {\n      \"id\": \"PT-001\",\n      \"name\": \"主角觉醒与秘密\",\n      \"status\": \"active\",\n      \"description\": \"主角林夜发现自己体内封印着上古魔神的力量，但代价是逐步失去人性。\",\n      \"last_updated_chapter\": 0,\n      \"human_review_required\": false\n    },\n    {\n      \"id\": \"PT-002\",\n      \"name\": \"学院阴谋与暗流\",\n      \"status\": \"active\",\n      \"description\": \"苍云学院内部存在一个秘密组织，企图利用主角的力量复活上古魔神。\",\n      \"last_updated_chapter\": 0,\n      \"human_review_required\": false\n    },\n    {\n      \"id\": \"PT-003\",\n      \"name\": \"宿敌与羁绊\",\n      \"status\": \"active\",\n      \"description\": \"主角与天才少女苏瑶之间从敌对到合作，逐渐产生羁绊，但苏瑶背后隐藏着家族使命。\",\n      \"last_updated_chapter\": 0,\n      \"human_review_required\": false\n    }\n  ],\n  \"foreshadowing\": [\n    {\n      \"id\": \"FS-001\",\n      \"description\": \"林夜左臂上的黑色纹路会在情绪激动时微微发热，暗示魔神力量的封印并不稳固。\",\n      \"expected_reveal_chapter\": 8,\n      \"current_status\": \"未触发\",\n      \"related_plot_thread\": \"PT-001\"\n    },\n    {\n      \"id\": \"FS-002\",\n      \"description\": \"苍云学院图书馆禁区内有一本被撕去关键几页的古籍，记载着魔神封印的真相。\",\n      \"expected_reveal_chapter\": 12,\n      \"current_status\": \"未触发\",\n      \"related_plot_thread\": \"PT-002\"\n    },\n    {\n      \"id\": \"FS-003\",\n      \"description\": \"苏瑶随身佩戴的玉佩在靠近林夜时会发出微光，暗示两人之间有某种古老联系。\",\n      \"expected_reveal_chapter\": 10,\n      \"current_status\": \"未触发\",\n      \"related_plot_thread\": \"PT-003\"\n    }\n  ],\n  \"chapter_plans\": [\n    {\n      \"sequence\": 1,\n      \"title\": \"觉醒之夜\",\n      \"summary\": \"林夜在废柴觉醒仪式上意外引动天地异象，体内魔神力量首次爆发，被学院高层关注。\",\n      \"plot_goals\": [\n        \"引入主角林夜及其废柴设定\",\n        \"展示觉醒仪式场景，制造冲突\",\n        \"埋下魔神封印伏笔（左臂纹路）\"\n      ],\n      \"expected_conflicts\": [\n        \"林夜因力量失控误伤同学，引发众怒\",\n        \"学院导师试图压制力量，但失败\"\n      ],\n      \"characters_involved\": [\"林夜\", \"觉醒仪式导师\", \"同学群像\"],\n      \"locations_involved\": [\"苍云学院·觉醒广场\"],\n      \"emotional_curve_target\": \"压抑→震惊→爆发→悬念\",\n      \"human_review_required\": false\n    },\n    {\n      \"sequence\": 2,\n      \"title\": \"风雨欲来\",\n      \"summary\": \"学院高层秘密讨论林夜的情况，决定将他编入特殊班观察；林夜在回宿舍路上遇到神秘黑衣人。\",\n      \"plot_goals\": [\n        \"展现学院各方势力对林夜的态度\",\n        \"引入神秘黑衣人，制造悬念\",\n        \"强化林夜内心的不安与困惑\"\n      ],\n      \"expected_conflicts\": [\n        \"学院保守派主张封印林夜力量，激进派主张利用\",\n        \"黑衣人在暗处观察，敌友不明\"\n      ],\n      \"characters_involved\": [\"林夜\", \"院长\", \"黑衣人（未露脸）\", \"导师甲、乙\"],\n      \"locations_involved\": [\"苍云学院·议事厅\", \"学院小径\"],\n      \"emotional_curve_target\": \"压抑→紧张→恐惧→好奇\",\n      \"human_review_required\": false\n    },\n    {\n      \"sequence\": 3,\n      \"title\": \"天才与废柴\",\n      \"summary\": \"林夜在特殊班首次遇到天才少女苏瑶，两人因性格和实力差距产生激烈冲突。\",\n      \"plot_goals\": [\n        \"正式引入女主角苏瑶\",\n        \"建立苏瑶与林夜的敌对关系\",\n        \"展示苏瑶的玉佩伏笔\"\n      ],\n      \"expected_conflicts\": [\n        \"苏瑶当众羞辱林夜是‘废物中的废物’\",\n        \"林夜愤怒反击但被苏瑶轻松压制\"\n      ],\n      \"characters_involved\": [\"林夜\", \"苏瑶\", \"特殊班同学\"],\n      \"locations_involved\": [\"苍云学院·特殊训练场\"],\n      \"emotional_curve_target\": \"愤怒→屈辱→不甘→决心\",\n      \"human_review_required\": false\n    },\n    {\n      \"sequence\": 4,\n      \"title\": \"暗夜试炼\",\n      \"summary\": \"林夜深夜独自加练，意外触发左臂纹路，获得一丝魔神之力，但代价是短暂失去意识。\",\n      \"plot_goals\": [\n        \"揭示魔神力量的部分特性（强大但危险）\",\n        \"强化林夜对力量的渴望与恐惧\",\n        \"为后续失控埋下伏笔\"\n      ],\n      \"expected_conflicts\": [\n        \"林夜与自身力量的对抗（理智 vs 狂暴）\",\n        \"被巡逻导师发现，险些暴露秘密\"\n      ],\n      \"characters_involved\": [\"林夜\", \"巡逻导师（龙套）\"],\n      \"locations_involved\": [\"苍云学院·后山树林\"],\n      \"emotional_curve_target\": \"孤独→愤怒→狂喜→恐惧\",\n      \"human_review_required\": false\n    },\n    {\n      \"sequence\": 5,\n      \"title\": \"阴谋初现\",\n      \"summary\": \"学院图书馆发生失窃案，一本关于上古魔神的古籍被偷，林夜被怀疑；苏瑶偶然发现林夜的秘密。\",\n      \"plot_goals\": [\n        \"推进学院阴谋主线（古籍失窃）\",\n        \"加深林夜与苏瑶的互动（从敌对到怀疑）\",\n        \"埋下‘苏瑶知道更多’的伏笔\"\n      ],\n      \"expected_conflicts\": [\n        \"林夜被冤枉，与学院执法队对峙\",\n        \"苏瑶暗中跟踪林夜，发现他力量异常\"\n      ],\n      \"characters_involved\": [\"林夜\", \"苏瑶\", \"执法队长\", \"图书馆管理员\"],\n      \"locations_involved\": [\"苍云学院·图书馆\", \"学院广场\"],\n      \"emotional_curve_target\": \"紧张→愤怒→疑惑→危机感\",\n      \"human_review_required\": false\n    },\n    {\n      \"sequence\": 6,\n      \"title\": \"试炼前夕\",\n      \"summary\": \"学院宣布将举行新生试炼，林夜和苏瑶被分到同一组；黑衣人再次出现，暗示试炼中有陷阱。\",\n      \"plot_goals\": [\n        \"引入新生试炼作为短期目标\",\n        \"强化林夜与苏瑶的被迫合作\",\n        \"揭示黑衣人的部分身份（学院叛徒？）\"\n      ],\n      \"expected_conflicts\": [\n        \"林夜拒绝与苏瑶合作，苏瑶强硬要求服从\",\n        \"黑衣人警告林夜‘小心身边人’\"\n      ],\n      \"characters_involved\": [\"林夜\", \"苏瑶\", \"黑衣人（半露脸）\", \"导师\"],\n      \"locations_involved\": [\"苍云学院·公告栏\", \"林夜宿舍\"],\n      \"emotional_curve_target\": \"焦虑→警惕→怀疑→紧张\",\n      \"human_review_required\": false\n    },\n    {\n      \"sequence\": 7,\n      \"title\": \"试炼之始\",\n      \"summary\": \"新生试炼开始，林夜和苏瑶进入试炼秘境；两人遭遇魔兽袭击，林夜被迫再次使用魔神之力。\",\n      \"plot_goals\": [\n        \"展示试炼秘境的环境与危险\",\n        \"推动林夜与苏瑶从敌对到初步信任\",\n        \"让苏瑶亲眼目睹林夜的力量并产生怀疑\"\n      ],\n      \"expected_conflicts\": [\n        \"林夜为救苏瑶暴露力量，苏瑶震惊\",\n        \"魔兽群追击，两人陷入绝境\"\n      ],\n      \"characters_involved\": [\"林夜\", \"苏瑶\", \"魔兽（暗影狼）\"],\n      \"locations_involved\": [\"试炼秘境·黑森林外围\"],\n      \"emotional_curve_target\": \"紧张→恐惧→爆发→震惊\",\n      \"human_review_required\": false\n    },\n    {\n      \"sequence\": 8,\n      \"title\": \"秘境暗战\",\n      \"summary\": \"林夜和苏瑶在秘境中发现其他参赛者被神秘人袭击，幕后黑手浮出水面。\",\n      \"plot_goals\": [\n        \"揭示试炼中的阴谋（有人要猎杀参赛者）\",\n        \"林夜与苏瑶决定联手调查\",\n        \"回收伏笔FS-001（左臂纹路在战斗后更加明显）\"\n      ],\n      \"expected_conflicts\": [\n        \"与神秘袭击者战斗，林夜力量失控\",\n        \"苏瑶被迫向林夜坦白自己知道玉佩的秘密\"\n      ],\n      \"characters_involved\": [\"林夜\", \"苏瑶\", \"神秘袭击者（蒙面）\", \"受伤参赛者\"],\n      \"locations_involved\": [\"试炼秘境·古遗迹\"],\n      \"emotional_curve_target\": \"紧张→愤怒→震惊→信任萌芽\",\n      \"human_review_required\": false\n    },\n    {\n      \"sequence\": 9,\n      \"title\": \"真相碎片\",\n      \"summary\": \"两人在遗迹中发现古籍残页，得知魔神封印与苏瑶家族有关；黑衣人现身揭露部分真相。\",\n      \"plot_goals\": [\n        \"揭示苏瑶家族与魔神封印的关联\",\n        \"黑衣人身份部分揭露（学院前导师）\",\n        \"为后续主线（复活仪式）做铺垫\"\n      ],\n      \"expected_conflicts\": [\n        \"苏瑶无法接受家族秘密，情绪崩溃\",\n        \"黑衣人要求林夜加入他们，否则杀死苏瑶\"\n      ],\n      \"characters_involved\": [\"林夜\", \"苏瑶\", \"黑衣人（真实身份：陆尘）\"],\n      \"locations_involved\": [\"试炼秘境·遗迹密室\"],\n      \"emotional_curve_target\": \"震惊→背叛感→愤怒→抉择\",\n      \"human_review_required\": false\n    },\n    {\n      \"sequence\": 10,\n      \"title\": \"决断之时\",\n      \"summary\": \"林夜拒绝黑衣人，救下苏瑶；试炼结束，两人返回学院，但学院高层已被渗透。\",\n      \"plot_goals\": [\n        \"结束试炼篇，回归学院\",\n        \"林夜与苏瑶建立正式同盟\",\n        \"暗示学院内奸的存在（院长可疑）\"\n      ],\n      \"expected_conflicts\": [\n        \"林夜与黑衣人大战，重伤但成功逃脱\",\n        \"返回学院后，院长态度异常\"\n      ],\n      \"characters_involved\": [\"林夜\", \"苏瑶\", \"黑衣人·陆尘\", \"院长\"],\n      \"locations_involved\": [\"试炼秘境·出口\", \"苍云学院·院长办公室\"],\n      \"emotional_curve_target\": \"决绝→痛苦→希望→不安\",\n      \"human_review_required\": false\n    }\n  ],\n  \"notes\": \"由于项目为零基础开始，前10章专注于建立世界观、核心人物关系、主要冲突和三条剧情线（主角觉醒、学院阴谋、宿敌羁绊）。所有章节均未触及locked canon，无需标记human_review_required=true。后续需根据读者反馈调整节奏。\"\n}"},"logprobs":null,"finish_reason":"stop"},"pairedItem":{"item":0}}]]}}],"Parse Arc Plan":[{"startTime":1778160371418,"executionIndex":5,"source":[{"previousNode":"Generate Arc Plan via AI","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"project_id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","plan":{"project_id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","planning_date":"2026-05-07","analysis":{"recent_chapter_summary":"项目尚未发布任何章节，处于初始阶段。","reader_feedback_insights":"暂无读者反馈。","active_plot_threads_analysis":"无活跃剧情线，需从零构建。","unresolved_foreshadowing_analysis":"无未回收伏笔，需设计初始伏笔。"},"plot_threads":[{"id":"PT-001","name":"主角觉醒与秘密","status":"active","description":"主角林夜发现自己体内封印着上古魔神的力量，但代价是逐步失去人性。","last_updated_chapter":0,"human_review_required":false},{"id":"PT-002","name":"学院阴谋与暗流","status":"active","description":"苍云学院内部存在一个秘密组织，企图利用主角的力量复活上古魔神。","last_updated_chapter":0,"human_review_required":false},{"id":"PT-003","name":"宿敌与羁绊","status":"active","description":"主角与天才少女苏瑶之间从敌对到合作，逐渐产生羁绊，但苏瑶背后隐藏着家族使命。","last_updated_chapter":0,"human_review_required":false}],"foreshadowing":[{"id":"FS-001","description":"林夜左臂上的黑色纹路会在情绪激动时微微发热，暗示魔神力量的封印并不稳固。","expected_reveal_chapter":8,"current_status":"未触发","related_plot_thread":"PT-001"},{"id":"FS-002","description":"苍云学院图书馆禁区内有一本被撕去关键几页的古籍，记载着魔神封印的真相。","expected_reveal_chapter":12,"current_status":"未触发","related_plot_thread":"PT-002"},{"id":"FS-003","description":"苏瑶随身佩戴的玉佩在靠近林夜时会发出微光，暗示两人之间有某种古老联系。","expected_reveal_chapter":10,"current_status":"未触发","related_plot_thread":"PT-003"}],"chapter_plans":[{"sequence":1,"title":"觉醒之夜","summary":"林夜在废柴觉醒仪式上意外引动天地异象，体内魔神力量首次爆发，被学院高层关注。","plot_goals":["引入主角林夜及其废柴设定","展示觉醒仪式场景，制造冲突","埋下魔神封印伏笔（左臂纹路）"],"expected_conflicts":["林夜因力量失控误伤同学，引发众怒","学院导师试图压制力量，但失败"],"characters_involved":["林夜","觉醒仪式导师","同学群像"],"locations_involved":["苍云学院·觉醒广场"],"emotional_curve_target":"压抑→震惊→爆发→悬念","human_review_required":false},{"sequence":2,"title":"风雨欲来","summary":"学院高层秘密讨论林夜的情况，决定将他编入特殊班观察；林夜在回宿舍路上遇到神秘黑衣人。","plot_goals":["展现学院各方势力对林夜的态度","引入神秘黑衣人，制造悬念","强化林夜内心的不安与困惑"],"expected_conflicts":["学院保守派主张封印林夜力量，激进派主张利用","黑衣人在暗处观察，敌友不明"],"characters_involved":["林夜","院长","黑衣人（未露脸）","导师甲、乙"],"locations_involved":["苍云学院·议事厅","学院小径"],"emotional_curve_target":"压抑→紧张→恐惧→好奇","human_review_required":false},{"sequence":3,"title":"天才与废柴","summary":"林夜在特殊班首次遇到天才少女苏瑶，两人因性格和实力差距产生激烈冲突。","plot_goals":["正式引入女主角苏瑶","建立苏瑶与林夜的敌对关系","展示苏瑶的玉佩伏笔"],"expected_conflicts":["苏瑶当众羞辱林夜是‘废物中的废物’","林夜愤怒反击但被苏瑶轻松压制"],"characters_involved":["林夜","苏瑶","特殊班同学"],"locations_involved":["苍云学院·特殊训练场"],"emotional_curve_target":"愤怒→屈辱→不甘→决心","human_review_required":false},{"sequence":4,"title":"暗夜试炼","summary":"林夜深夜独自加练，意外触发左臂纹路，获得一丝魔神之力，但代价是短暂失去意识。","plot_goals":["揭示魔神力量的部分特性（强大但危险）","强化林夜对力量的渴望与恐惧","为后续失控埋下伏笔"],"expected_conflicts":["林夜与自身力量的对抗（理智 vs 狂暴）","被巡逻导师发现，险些暴露秘密"],"characters_involved":["林夜","巡逻导师（龙套）"],"locations_involved":["苍云学院·后山树林"],"emotional_curve_target":"孤独→愤怒→狂喜→恐惧","human_review_required":false},{"sequence":5,"title":"阴谋初现","summary":"学院图书馆发生失窃案，一本关于上古魔神的古籍被偷，林夜被怀疑；苏瑶偶然发现林夜的秘密。","plot_goals":["推进学院阴谋主线（古籍失窃）","加深林夜与苏瑶的互动（从敌对到怀疑）","埋下‘苏瑶知道更多’的伏笔"],"expected_conflicts":["林夜被冤枉，与学院执法队对峙","苏瑶暗中跟踪林夜，发现他力量异常"],"characters_involved":["林夜","苏瑶","执法队长","图书馆管理员"],"locations_involved":["苍云学院·图书馆","学院广场"],"emotional_curve_target":"紧张→愤怒→疑惑→危机感","human_review_required":false},{"sequence":6,"title":"试炼前夕","summary":"学院宣布将举行新生试炼，林夜和苏瑶被分到同一组；黑衣人再次出现，暗示试炼中有陷阱。","plot_goals":["引入新生试炼作为短期目标","强化林夜与苏瑶的被迫合作","揭示黑衣人的部分身份（学院叛徒？）"],"expected_conflicts":["林夜拒绝与苏瑶合作，苏瑶强硬要求服从","黑衣人警告林夜‘小心身边人’"],"characters_involved":["林夜","苏瑶","黑衣人（半露脸）","导师"],"locations_involved":["苍云学院·公告栏","林夜宿舍"],"emotional_curve_target":"焦虑→警惕→怀疑→紧张","human_review_required":false},{"sequence":7,"title":"试炼之始","summary":"新生试炼开始，林夜和苏瑶进入试炼秘境；两人遭遇魔兽袭击，林夜被迫再次使用魔神之力。","plot_goals":["展示试炼秘境的环境与危险","推动林夜与苏瑶从敌对到初步信任","让苏瑶亲眼目睹林夜的力量并产生怀疑"],"expected_conflicts":["林夜为救苏瑶暴露力量，苏瑶震惊","魔兽群追击，两人陷入绝境"],"characters_involved":["林夜","苏瑶","魔兽（暗影狼）"],"locations_involved":["试炼秘境·黑森林外围"],"emotional_curve_target":"紧张→恐惧→爆发→震惊","human_review_required":false},{"sequence":8,"title":"秘境暗战","summary":"林夜和苏瑶在秘境中发现其他参赛者被神秘人袭击，幕后黑手浮出水面。","plot_goals":["揭示试炼中的阴谋（有人要猎杀参赛者）","林夜与苏瑶决定联手调查","回收伏笔FS-001（左臂纹路在战斗后更加明显）"],"expected_conflicts":["与神秘袭击者战斗，林夜力量失控","苏瑶被迫向林夜坦白自己知道玉佩的秘密"],"characters_involved":["林夜","苏瑶","神秘袭击者（蒙面）","受伤参赛者"],"locations_involved":["试炼秘境·古遗迹"],"emotional_curve_target":"紧张→愤怒→震惊→信任萌芽","human_review_required":false},{"sequence":9,"title":"真相碎片","summary":"两人在遗迹中发现古籍残页，得知魔神封印与苏瑶家族有关；黑衣人现身揭露部分真相。","plot_goals":["揭示苏瑶家族与魔神封印的关联","黑衣人身份部分揭露（学院前导师）","为后续主线（复活仪式）做铺垫"],"expected_conflicts":["苏瑶无法接受家族秘密，情绪崩溃","黑衣人要求林夜加入他们，否则杀死苏瑶"],"characters_involved":["林夜","苏瑶","黑衣人（真实身份：陆尘）"],"locations_involved":["试炼秘境·遗迹密室"],"emotional_curve_target":"震惊→背叛感→愤怒→抉择","human_review_required":false},{"sequence":10,"title":"决断之时","summary":"林夜拒绝黑衣人，救下苏瑶；试炼结束，两人返回学院，但学院高层已被渗透。","plot_goals":["结束试炼篇，回归学院","林夜与苏瑶建立正式同盟","暗示学院内奸的存在（院长可疑）"],"expected_conflicts":["林夜与黑衣人大战，重伤但成功逃脱","返回学院后，院长态度异常"],"characters_involved":["林夜","苏瑶","黑衣人·陆尘","院长"],"locations_involved":["试炼秘境·出口","苍云学院·院长办公室"],"emotional_curve_target":"决绝→痛苦→希望→不安","human_review_required":false}],"notes":"由于项目为零基础开始，前10章专注于建立世界观、核心人物关系、主要冲突和三条剧情线（主角觉醒、学院阴谋、宿敌羁绊）。所有章节均未触及locked canon，无需标记human_review_required=true。后续需根据读者反馈调整节奏。"},"next_sequence_start":1,"has_human_review":false},"pairedItem":{"item":0}}]]}}],"Build Plan SQLs":[{"startTime":1778160371425,"executionIndex":6,"source":[{"previousNode":"Parse Arc Plan","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"sql":"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES ('c56071d2-c572-47e6-a4e9-f56ee5c02e60', 1, '觉醒之夜', '[\"引入主角林夜及其废柴设定\",\"展示觉醒仪式场景，制造冲突\",\"埋下魔神封印伏笔（左臂纹路）\"]', '林夜在废柴觉醒仪式上意外引动天地异象，体内魔神力量首次爆发，被学院高层关注。', 3000, 'planned') RETURNING id"},"pairedItem":{"item":0}},{"json":{"sql":"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES ('c56071d2-c572-47e6-a4e9-f56ee5c02e60', 2, '风雨欲来', '[\"展现学院各方势力对林夜的态度\",\"引入神秘黑衣人，制造悬念\",\"强化林夜内心的不安与困惑\"]', '学院高层秘密讨论林夜的情况，决定将他编入特殊班观察；林夜在回宿舍路上遇到神秘黑衣人。', 3000, 'planned') RETURNING id"},"pairedItem":{"item":0}},{"json":{"sql":"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES ('c56071d2-c572-47e6-a4e9-f56ee5c02e60', 3, '天才与废柴', '[\"正式引入女主角苏瑶\",\"建立苏瑶与林夜的敌对关系\",\"展示苏瑶的玉佩伏笔\"]', '林夜在特殊班首次遇到天才少女苏瑶，两人因性格和实力差距产生激烈冲突。', 3000, 'planned') RETURNING id"},"pairedItem":{"item":0}},{"json":{"sql":"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES ('c56071d2-c572-47e6-a4e9-f56ee5c02e60', 4, '暗夜试炼', '[\"揭示魔神力量的部分特性（强大但危险）\",\"强化林夜对力量的渴望与恐惧\",\"为后续失控埋下伏笔\"]', '林夜深夜独自加练，意外触发左臂纹路，获得一丝魔神之力，但代价是短暂失去意识。', 3000, 'planned') RETURNING id"},"pairedItem":{"item":0}},{"json":{"sql":"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES ('c56071d2-c572-47e6-a4e9-f56ee5c02e60', 5, '阴谋初现', '[\"推进学院阴谋主线（古籍失窃）\",\"加深林夜与苏瑶的互动（从敌对到怀疑）\",\"埋下‘苏瑶知道更多’的伏笔\"]', '学院图书馆发生失窃案，一本关于上古魔神的古籍被偷，林夜被怀疑；苏瑶偶然发现林夜的秘密。', 3000, 'planned') RETURNING id"},"pairedItem":{"item":0}},{"json":{"sql":"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES ('c56071d2-c572-47e6-a4e9-f56ee5c02e60', 6, '试炼前夕', '[\"引入新生试炼作为短期目标\",\"强化林夜与苏瑶的被迫合作\",\"揭示黑衣人的部分身份（学院叛徒？）\"]', '学院宣布将举行新生试炼，林夜和苏瑶被分到同一组；黑衣人再次出现，暗示试炼中有陷阱。', 3000, 'planned') RETURNING id"},"pairedItem":{"item":0}},{"json":{"sql":"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES ('c56071d2-c572-47e6-a4e9-f56ee5c02e60', 7, '试炼之始', '[\"展示试炼秘境的环境与危险\",\"推动林夜与苏瑶从敌对到初步信任\",\"让苏瑶亲眼目睹林夜的力量并产生怀疑\"]', '新生试炼开始，林夜和苏瑶进入试炼秘境；两人遭遇魔兽袭击，林夜被迫再次使用魔神之力。', 3000, 'planned') RETURNING id"},"pairedItem":{"item":0}},{"json":{"sql":"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES ('c56071d2-c572-47e6-a4e9-f56ee5c02e60', 8, '秘境暗战', '[\"揭示试炼中的阴谋（有人要猎杀参赛者）\",\"林夜与苏瑶决定联手调查\",\"回收伏笔FS-001（左臂纹路在战斗后更加明显）\"]', '林夜和苏瑶在秘境中发现其他参赛者被神秘人袭击，幕后黑手浮出水面。', 3000, 'planned') RETURNING id"},"pairedItem":{"item":0}},{"json":{"sql":"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES ('c56071d2-c572-47e6-a4e9-f56ee5c02e60', 9, '真相碎片', '[\"揭示苏瑶家族与魔神封印的关联\",\"黑衣人身份部分揭露（学院前导师）\",\"为后续主线（复活仪式）做铺垫\"]', '两人在遗迹中发现古籍残页，得知魔神封印与苏瑶家族有关；黑衣人现身揭露部分真相。', 3000, 'planned') RETURNING id"},"pairedItem":{"item":0}},{"json":{"sql":"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES ('c56071d2-c572-47e6-a4e9-f56ee5c02e60', 10, '决断之时', '[\"结束试炼篇，回归学院\",\"林夜与苏瑶建立正式同盟\",\"暗示学院内奸的存在（院长可疑）\"]', '林夜拒绝黑衣人，救下苏瑶；试炼结束，两人返回学院，但学院高层已被渗透。', 3000, 'planned') RETURNING id"},"pairedItem":{"item":0}}]]}}],"Execute Plan Updates":[{"startTime":1778160371431,"executionIndex":7,"source":[{"previousNode":"Build Plan SQLs","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2356,"executionStatus":"success","data":{"main":[[{"json":{"id":"73024008-db2c-4513-97a0-69bf2c8a0e66"},"pairedItem":{"item":0}},{"json":{"id":"7a15b82e-b5e1-4080-b8ea-5f8bf09130d3"},"pairedItem":{"item":1}},{"json":{"id":"c0193d29-8791-48b7-abed-c0eb0eac6e19"},"pairedItem":{"item":2}},{"json":{"id":"3b457538-7523-46c2-9ccc-18cc23c4c921"},"pairedItem":{"item":3}},{"json":{"id":"fb473939-a496-4ff5-bd65-5a1993fd3d94"},"pairedItem":{"item":4}},{"json":{"id":"59a3fdf4-1929-4a6d-9c2b-e2e5fdb62701"},"pairedItem":{"item":5}},{"json":{"id":"b8cd2c34-ec5e-4623-b71c-979000c76721"},"pairedItem":{"item":6}},{"json":{"id":"348eb0c4-112c-46f5-a265-2d674fd2c7eb"},"pairedItem":{"item":7}},{"json":{"id":"c6d10ac5-378a-425b-9f4a-94617281bee5"},"pairedItem":{"item":8}},{"json":{"id":"24e5084e-5267-4930-aa9f-53206e77a6e1"},"pairedItem":{"item":9}}]]}}],"Weekly Plan Summary":[{"startTime":1778160373788,"executionIndex":8,"source":[{"previousNode":"Execute Plan Updates","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"project_id":"c56071d2-c572-47e6-a4e9-f56ee5c02e60","chapters_planned":0,"plot_threads_updated":0,"foreshadowing_updated":0,"human_review_count":0,"human_review_items":[],"weekly_summary":"","pacing_analysis":"","status":"weekly_plan_complete"},"pairedItem":{"item":0}}]]}}]},"pinData":{},"lastNodeExecuted":"Weekly Plan Summary"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1778160295027,"source":"manual","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger"}}},"resumeToken":"b6c2d92c663ffbc3feb511fc161a990dba92ec6efab9bd379bb1cdfb824d2aeb"},"workflowData":{"id":"RGbsc6NtL3uHqKSk","name":"[NF] 05 — Weekly Arc Planner","active":false,"activeVersionId":null,"isArchived":false,"createdAt":"2026-05-07T12:07:01.168Z","updatedAt":"2026-05-07T13:24:44.294Z","nodes":[{"parameters":{"notice":""},"id":"node-001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[464,304]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT * FROM projects LIMIT 1","options":{}},"id":"node-002","name":"Load Active Project","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[688,304],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const proj = $input.first().json;\nconst pid = proj.id;\nif (!pid) return [];\nreturn [{ json: { project: proj, project_id: pid, chapter_count: 0, plot_thread_count: 0 } }];","notice":""},"id":"node-004","name":"Load Project State","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,460]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Build the weekly planning prompt using all loaded context\nconst project = $('Load Active Project').first().json;\nconst stateResults = $('Load Project State').all();\n\n// Parse multi-statement results\nlet recentChapters = [];\nlet plotThreads = [];\nlet foreshadowing = [];\nlet existingPlans = [];\nlet readerFeedback = [];\nlet stats = {};\n\nfor (const item of stateResults) {\n  const j = item.json;\n  if (j.sequence && j.summary) recentChapters.push(j);\n  else if (j.thread_type) plotThreads.push(j);\n  else if (j.clue_text) foreshadowing.push(j);\n  else if (j.plot_goals) existingPlans.push(j);\n  else if (j.feedback_text || j.sentiment) readerFeedback.push(j);\n  else if (j.total_planned !== undefined) stats = j;\n}\n\n// Determine last planned sequence\nconst maxPlannedSeq = existingPlans.length > 0\n  ? Math.max(...existingPlans.map(p => p.sequence))\n  : recentChapters.length > 0\n    ? Math.max(...recentChapters.map(c => c.sequence))\n    : 0;\n\nreturn [{\n  json: {\n    project: project,\n    recent_chapters: recentChapters,\n    active_plot_threads: plotThreads,\n    unresolved_foreshadowing: foreshadowing,\n    existing_plans: existingPlans,\n    reader_feedback: readerFeedback,\n    stats: stats,\n    next_sequence_start: maxPlannedSeq + 1,\n    chapters_to_plan: 10\n  }\n}];","notice":""},"id":"node-005","name":"Build Planning Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,464]},{"parameters":{"resource":"chat","operation":"complete","model":"deepseek-chat","prompt":{"messages":[{"role":"system","content":"你是一位资深网络小说策划编辑，负责每周剧情规划。你只输出合法 JSON。任务：1.分析已发布章节节奏和读者反馈 2.检查未回收伏笔和活跃剧情线 3.生成未来7-14章的详细章节计划 4.更新剧情线和伏笔状态 5.不得覆盖locked canon 6.对重大主线变更标记human_review_required=true 7.每章计划必须包含plot_goals、预期冲突、涉及角色、涉及地点、情绪曲线目标。"},{"role":"user","content":"={{ JSON.stringify($json) }}"}]},"simplifyOutput":true,"options":{"maxTokens":8192,"temperature":0.7},"requestOptions":{}},"id":"node-006","name":"Generate Arc Plan via AI","type":"n8n-nodes-deepseek.deepSeek","typeVersion":1,"position":[1344,464],"credentials":{"deepSeekApi":{"id":"si5XfG0zsr4yuxSz","name":"DeepSeek account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const response = $input.first().json;\nlet rawText = \"\";\n\nif (response.message && response.message.content) {\n  rawText = response.message.content;\n} else if (response.choices && response.choices[0] && response.choices[0].message) {\n  rawText = response.choices[0].message.content;\n} else if (typeof response === \"string\") {\n  rawText = response;\n} else {\n  rawText = JSON.stringify(response);\n}\n\nrawText = rawText.trim();\nif (rawText.startsWith(\"```\")) {\n  var nl = rawText.indexOf(\"\\n\");\n  if (nl >= 0) rawText = rawText.substring(nl + 1);\n}\nif (rawText.endsWith(\"```\")) {\n  rawText = rawText.substring(0, rawText.length - 3).trim();\n}\n\nlet plan;\ntry {\n  plan = JSON.parse(rawText);\n} catch (e) {\n  throw new Error(\"Failed to parse arc plan. Raw (first 300): \" + rawText.substring(0, 300));\n}\n\nconst projectId = $(\"Load Active Project\").first().json.id;\nconst context = $(\"Build Planning Context\").first().json;\n\nreturn [{\n  json: {\n    project_id: projectId,\n    plan: plan,\n    next_sequence_start: context.next_sequence_start,\n    has_human_review: (plan.human_review_required || []).length > 0\n  }\n}];","notice":""},"id":"node-007","name":"Parse Arc Plan","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,464]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var data = $input.first().json;\nvar plan = data.plan;\nvar pid = data.project_id;\nvar items = [];\n\nfunction esc(val) {\n  if (val === undefined || val === null) return \"NULL\";\n  if (typeof val === \"boolean\") return val ? \"TRUE\" : \"FALSE\";\n  if (typeof val === \"number\") return String(val);\n  var str = typeof val === \"object\" ? JSON.stringify(val) : String(val);\n  return \"'\" + str.replace(/'/g, \"''\") + \"'\";\n}\n\nvar plans = plan.chapter_plans || plan.new_chapter_plans || plan.chapters || [];\n\nfor (var i = 0; i < plans.length; i++) {\n  var cp = plans[i];\n  var seq = (data.next_sequence_start || 1) + i;\n  var sql = \"INSERT INTO chapter_plans (project_id, sequence, title, plot_goals, outline, target_word_count, status) VALUES (\"\n    + esc(pid) + \", \" + esc(seq) + \", \"\n    + esc(cp.title || (\"Chapter \" + seq)) + \", \"\n    + esc(cp.plot_goals || []) + \", \"\n    + esc(cp.summary || cp.outline || \"\") + \", \"\n    + esc(cp.target_word_count || 3000) + \", \"\n    + esc(\"planned\")\n  + \") RETURNING id\";\n  items.push({ json: { sql: sql } });\n}\n\nif (items.length === 0) {\n  items.push({ json: { sql: \"SELECT 1 AS note\", _info: \"No chapters in plan\" } });\n}\n\nreturn items;","notice":""},"id":"node-008","name":"Build Plan SQLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,464]},{"parameters":{"resource":"database","operation":"executeQuery","query":"{{ $json.sql }}","options":{}},"id":"node-009","name":"Execute Plan Updates","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2000,464],"credentials":{"postgres":{"id":"0w5EYts2acIZab9Y","name":"Neon Pooled (n8n)"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const data = $('Parse Arc Plan').first().json;\nconst plan = data.plan;\n\nreturn [{\n  json: {\n    project_id: data.project_id,\n    chapters_planned: (plan.new_chapter_plans || []).length,\n    plot_threads_updated: (plan.plot_thread_updates || []).length,\n    foreshadowing_updated: (plan.foreshadowing_updates || []).length,\n    human_review_count: (plan.human_review_required || []).length,\n    human_review_items: plan.human_review_required || [],\n    weekly_summary: plan.weekly_summary || '',\n    pacing_analysis: plan.weekly_analysis?.current_pacing || '',\n    status: 'weekly_plan_complete'\n  }\n}];","notice":""},"id":"node-010","name":"Weekly Plan Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,464]}],"connections":{"Load Active Project":{"main":[[{"node":"Load Project State","type":"main","index":0}]]},"Load Project State":{"main":[[{"node":"Build Planning Context","type":"main","index":0}]]},"Build Planning Context":{"main":[[{"node":"Generate Arc Plan via AI","type":"main","index":0}]]},"Generate Arc Plan via AI":{"main":[[{"node":"Parse Arc Plan","type":"main","index":0}]]},"Parse Arc Plan":{"main":[[{"node":"Build Plan SQLs","type":"main","index":0}]]},"Build Plan SQLs":{"main":[[{"node":"Execute Plan Updates","type":"main","index":0}]]},"Execute Plan Updates":{"main":[[{"node":"Weekly Plan Summary","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Load Active Project","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Tokyo","binaryMode":"separate"},"staticData":null,"pinData":{}},"customData":{}}],"nextCursor":"eyJsYXN0SWQiOiIzMyIsImxpbWl0IjoxfQ=="}